doctype

html(lang='en')
  head
    
    - var title = "Innercamp Profile Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body.info(data-img='img/42.png')
     
    .bar-long
    
    .scroll__menu.none
      .container

    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
          
          
    a.category__(href='javascript:;') Categories
    
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  ul.sub-menu
                    li
                      a(href='javascript:;') Experiences 2
                    li
                      a(href='javascript:;') Experiences 2
                    li
                      a(href='javascript:;') Get Certified
                    li
                      a(href='javascript:;') Testimonials
                    li
                      a(href='javascript:;') About us
                    li
                      a(href='javascript:;') Download the APP

            .naviget__
              a.user(href='#')
              a.cart(href='#')
                span 
              a.open__(href='#') 
                span 


    section.blog__1
      .container
        .row      
          .col.m12.s12.l12.xl12
            p.sub BLOG
            h1.title InnerCamp Blog
            
    section.blog__2
      .container
        .row      
          .col.m12.s12.l2.xl2
            h3.title__ Categories
            
            .box__categor

              ul
                li 
                  a(href='#') All 
                    span (50)
                lI 
                  a(href='#') Altered tates 
                    span (50)
                lI 
                  a(href='#') Breathwork
                    span (50)
                lI 
                  a(href='#') Cacao ceremony
                    span (50)
                lI 
                  a(href='#') Energy
                    span (50)
                lI 
                  a(href='#') Feminime cycle
                    span (50)
                lI 
                  a(href='#') Meditation
                    span (50)
                lI 
                  a(href='#') Nutrition
                    span (50)
                lI 
                  a(href='#') Plant medicine
                    span (50)
                lI 
                  a(href='#') Regulation
                    span (50)
                lI 
                  a(href='#') Relationships
                    span (50)
                lI 
                  a(href='#') Shamanism
                    span (50)
                lI 
                  a(href='#') Somatics
                    span (50)
                lI 
                  a(href='#') Spiritual practice
                    span (50)
                lI 
                  a(href='#') Tantra
                    span (50)
                lI 
                  a(href='#') Trauma healing
                    span (50)
         
          .col.m12.s12.l12.xl10
          
            .list__post
              article
                .box__img
                  img(src='img/blog__1.svg' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                    
              article
                .box__img
                  img(src='img/blog__1.svg' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                    
              article
                .box__img
                  img(src='img/blog__img_2.png' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
              article
                .box__img
                  img(src='img/blog__1.svg' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                    
              article
                .box__img
                  img(src='img/blog__img_2.png' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022                    
              article
                .box__img
                  img(src='img/blog__1.svg' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                    
              article
                .box__img
                  img(src='img/blog__img_2.png' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                    
              article
                .box__img
                  img(src='img/blog__1.svg' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                    
              article
                .box__img
                  img(src='img/blog__img_2.png' alt='#')
                  ul
                    li
                      a.tag(href='#') Breathwork
                    li
                      a.tag(href='#') Trauma healing

                .box__content
                  h3.title__ 6 very influential healing and embodiment traditions from around the world
                  p Somatic psychology studies the link between physical matter and energy, the association of bodily structures and mental processes.
                  .box__
                    img(src='img/blog_inercamp.svg' alt='#')
                    span.data June 21, 2022
                  
          
          
          
            .twix.none
              .picture
                img(src='img/blog__1.svg' alt='#') 
                .battom
                  a(href='#' class='whitebuttom') Breathwork 
                  a(href='#' class='whitebuttom') Trauma healing

              .blog
                h4
                a(href='') 6 very influential healing and embodiment traditions from around the world 
                p Somatic psychology studies the link between physical matter and <br/> energy, the association of bodily structures and mental processes.
                ul.reb11
                  li 
                    img(src='img/blog__logo.svg' alt='#')
                    p.reb22 June 21, 2023
                    //- p Innercamp
                    //- p June 21, 202
                    
                    
                    

          .col.m12.s12.l4.xl4.none
            .twix2
              .picture2
                img(src='img/blog__2.svg' alt='#')
                .battom2
                  a(href='#' class='whitebuttom') Breathwork 
                  a(href='#' class='whitebuttom') Trauma healing
              .blog2
                h4
                a(href='') 6 very influential healing and embodiment traditions from around the world 
                p Somatic psychology studies the link between physical matter and <br/> energy, the association of bodily structures and mental processes.
                ul.reborn
                  li
                    img(src='img/blog__logo.svg' alt='#')
                    p.reborn2  June 21, 2023


        .row
          .col.m12.s12.l12.xl10.offset-xl2
            .pagination__ 
              ul
                li
                  a(href='pag.php?page1') 1
                li
                  a.active(href='pag.php?page1') 2
                li
                  a(href='pag.php?page1') 3
