doctype

html(lang='en')
  head
    
    - var title = "Innercamp Breathwork levels 1+2"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body(data-img='img/12.png')
     
    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    

    header(main)
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li
                  a(href='javascript:;') Download the APP

            .naviget__
              a.user(href='javascript:;')
              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;')
    
    .left__menu__scroll
      .container
        .row
          .col.m12.s12.l3.xl3
            .box__
              a.bundle(href='javascript:;') Book now
              ul
                li.active
                  a(href='javascript:;') Tantra
                li
                  a(href='javascript:;') Innercmp is an accredited school
                li
                  a(href='javascript:;') Tantra helps 
                li
                  a(href='javascript:;') About the Course
                li
                  a(href='javascript:;') The Program
                li
                  a(href='javascript:;') The training is facilitated by
                li
                  a(href='javascript:;') Certificate
                li
                  a(href='javascript:;') One-of-a-kind retreat
                li
                  a(href='javascript:;') Live Sessions
                li
                  a(href='javascript:;') Got questions?
                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') Why students like InnerCamp
                li
                  a(href='javascript:;') Book now
                li
                  a(href='javascript:;') Frequently asked questions

    section.breathwork-levels-one-two__1(data-menuscroll)
      .container
        .row      
          .col.m12.s12.l12.xl12
            p.sub Levels 1 + 2
            h1.title.scroll__init Breathwork Teacher Training
            .box__
              ul
                li
                  span.breathwork Breathwork
                li
                  span.level Levels 1+2
                li
                  span.calendar Jan 12, 2023 - Apr 13, 2023
                li
                  span.check online course
                  
                  
              p The InnerCamp Breathwork Method ® gives you a professional advantage in assisting your clients to unleash their true potential through a cutting-edge breathwork technology proven by science.
              
              a.bundle(href='javascript:;') Book now

    section.breathwork-levels-one-two__2
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            .block__top.scroll__init
              .box__img
                img(src='img/breathwork-levels-one-two__2_img_1.png' alt='logo')
                .info Levels 1 + 2
              .box__content
                .price__
                  span.top_price Price:
                  span.prise 2200€
                
                
                a(href='#' class='bundle') Start my journey
                hr
                span.calendar 4 months
                span.video 65+ videos
                span.clock 300 hours in total
                span.status.online onsite
                
              .box__bottom
                p You have the option to purchase the levels 
                  span separately.
                  span 
                    a(href='#') See details
                
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            .block__green.scroll__init
              .box__
                p.sub INNERCAMP IS AN ACCREDITED SCHOOL
                p InnerCamp is registered and accredited by the Complementary Medical Association. 
                p It is also a member school of the International Breathwork Foundation.
                ul.list-img-mobile
                  li 
                    img(src='img/brand_1.svg' alt='logo')
                  li 
                    img(src='img/brand_2.svg' alt='logo')  
                .bottom-row 
                  p Our courses are accredited by the leading independent CPD accreditation institution.
                  img(src='img/brand__03.svg' alt='logo')
              .img__
                img(src='img/brand__01.svg' alt='logo')
                img(src='img/brand__02.svg' alt='logo')
                img(src='img/brand__03.svg' alt='logo')
                
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            .block__help.scroll__init
              .cont__
                h2.title Breathwork helps to:

                ul
                  li.cheked Remove physical, emotional and energetic tensions and blockages.
                  li.cheked Reduce anxiety and stress-related symptoms.
                  li.cheked Boost attention span and sharpen focus.
                  li.cheked Reduce the perception of chronic pain or help cope with physical discomfort.
                  li.cheked Open you to a rush of creativity while quieting your inner critic.
                  li.cheked Calm your nervous system, stave off insomnia, and prepare your body for rest.
                  li.cheked Strengthen the immune system by boosting antibodies and potentially reducing inflammation.

              .img__
                img(src='img/breathwork-levels-one-two__2_img_2.png' alt='logo')
                
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            h2.title.scroll__init About the Course
            .block__next
              .img__
                img(src='img/breathwork-levels-one-two__2_img_3.png' alt='logo')
                
              .cont__
                .box__
                  p Our course is based on the main Conscious Connected Breathwork techniques and is split in two levels.

                  a.download(href='#') Download Brochure
                
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            .block__wrap.scroll__init
              .cont__
                h3.title__back Level 1: Self-healing journey
                p Level 1 (Specialist certificate) is a self-healing journey that focuses on providing a background on breath science, psychology, inner child work, trauma healing, healing your breathing pattern and learning the main breathwork techniques. Upon successful completion of Level 1, students will be presented with the Breathwork Practitioner Certificate proving their active participation in the course. Level 1 is for personal use only.
                
                hr.section__

                h3.title__back Level 1: Self-healing journey
                p Level 2 (Teacher certificate) focuses on learning how to guide one-on-one sessions, group sessions and couple sessions, bodywork, holistic coaching, techniques to hold the space, music composition and how to organise breathwork workshops and retreats. In order to receive the Breathwork Teacher Certificate and be able to facilitate your own events and work with clients, you will need to successfully complete both levels. In order to get certified, you will need to demonstrate your facilitating skills during some live sessions. We will encourage you to recruit volunteers to practice newly acquired techniques at home. The final assignment will be to record a video of yourself facilitating an in-person breathwork session with your volunteer.
              .img__
                img(src='img/self.png' alt='logo')

    section.breathwork-levels-one-two__3
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
              article#program.program
                .top-program-row
                  h2.title The Program
                  .coaches-img-list
                    span Facilitated by 
                    ul
                      li
                        img(src='img/team/coach_1.webp', alt='')
                      li
                        img(src='img/team/coach_5.webp', alt='')
                      li
                        img(src='img/team/coach_11.webp', alt='')
                      li
                        img(src='img/team/coach_12.webp', alt='')
                .tabs-row
                  .tabs-list
                    button.tab-item(name='tab-1') Level 1
                    button.tab-item(name='tab-2') Level 2
                  .event-date
                    .clock 150 hours
                    .date Jan 12, 2023 - Feb 16, 2023
                .program-content-wrap
                  #tab-1.program-content.active
                    h3.content-title Level 1: Specialist certificate
                    ul.program-list
                      li.program-item
                        h4.item-title Science of breathwork
                        span.item-time 40 hours
                        ul.subitem-list
                          li Breathwork through history and today
                          li The science of the breath
                          li Healing symptoms and diseases with breathwork
                          .read-more Read more 
                          ul.bottom-block
                            li Breathwork and Alpha, Theta and Delta Waves
                            li The Vagus nerve & breathwork
                      li.program-item
                        h4.item-title Your breath journey
                        span.item-time 30 hours
                        ul.subitem-list
                          li How to discover your breathing pattern
                          li Corrections to your breath
                          li Spiritual purification
                          li Perinatal influences
                          li Energy system
                      li.program-item
                        h4.item-title Breathwork for self-healing 
                        span.item-time 60 hours
                        ul.subitem-list
                          li Breathwork to heal birth traumas, the inner child and the inner teenager
                          li Breathwork for Ancestral Healing (shamanic path)
                          li How to rewire your brain with breathwork
                          li Breathwork to heal diseases and release traumas
                      li.program-item
                        h4.item-title Customise your own breathwork sessions
                        span.item-time 20 hours
                        ul.subitem-list
                          li Customise your own breathwork sessions
                  #tab-2.program-content
                    h3.content-title Level 2: Self-healing journey

    section.breathwork-levels-one-two__4
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
              article#facilitators.facilitators
                .container
                  .row
                    .col.m12.s12.l9.xl9
                      h2.title The training is facilitated by
                    .col.m12.s12.l3.xl3.facilitator-arrow-nav
                      .arrows
                        a.left_a.previous-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                        a.right_a.next-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
                .facilitators-slider
                  #facilitator-slider.splide(aria-roledescription='carousel')
                    .splide__track
                      ul.splide__list
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_1.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute; 1
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
    
    section.breathwork-levels-one-two__5
      .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#certificate.certificate
                .certificate-photo
                  img(src='img/breathwork-teacher/certificate-without-shadow1.png', alt='')
                .certificate-content
                  h2
                    | Become 
                    strong a Breathwork Teacher
                    |  that utilises a holistic approach to change people&apos;s lives
                  a.bundle(href='#') Enroll now

    section.breathwork-levels-one-two__6
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#optional-retreat.tantra-optional-retreat
                h2.title Exotic International Tantra Retreat
                .content-wrap
                  .tantra-optional-post
                    .tantra-optional-post-img
                      img(src='img/tantra/tantra-6.png', alt='')
                    .tantra-optional-post-content
                      .location Spain
                      .description
                        p
                          | Upgrade your InnerCamp Bodywork experience with our one-of-a-kind retreat that blends 3 holistic dominants &ndash; Breathwork, Tantra, and Bodywork.
                      a.bundle-download(href='#') Download our Retreat Brochure
                  .tantra-optional-post
                    .tantra-optional-post-img
                      img(src='img/tantra/tantra-4.png', alt='')
                    .tantra-optional-post-content
                      p
                        | Over the course of four days, InnerCamp will gently guide you along your own healing journey.
                      p
                        | Each day will unlock new tools and techniques to help you free your body and mind from toxic patterns and limiting beliefs, tap into your inherent wisdom, and connect more authentically with the people who matter.
                    
    section.breathwork-levels-one-two__7
      .container 
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            .session-wrap
              h2.title Live Sessions
              article#session.session
                .top-row
                  .session-content-wrap
                    .session-schedule
                      .clock 6:00 pm &mdash; 8:00 pm CET
                      span *Amsterdam / Paris time zone
                      .calen Thursdays (biweekly)
                      span.schedule-date
                        | Sep 13, Sep 27, Oct 11, Oct 25, Nov 8, Nov 22
                        strong (2023)
                      a.bundle-check(href='#') Check my local time here
                    ul.session-benefit
                      li Live sessions via Zoom
                      li Q&A calls with master facilitators
                  .session-img
                    img(src='img/tantra/tantra-sessions.png', alt='')
                    a.bundle-download(href='#') Download the Timetable
                .bottom-row
                  p 
                    strong Please note:
                  p
                    | During the Level 2 (Facilitator training), we will ask you to bring a friend or a few friends at home to practice how to facilitate breathwork. This part of the course is the most important one as you will start doing the "real" work. For us it is crucial to see you facilitating and guide you during this process.
    
    section.breathwork-levels-one-two__8
      .container 
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            article#book-call.book-call
              h2.title Got questions?
              .subtitle
                p
                  | Schedule a 
                  strong free
                  |  consultation call with one of our experts.
              a.bundle(href='#') Schedule now
    
    section.breathwork-levels-one-two__9
      .container 
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            .testimonials-header
              h2.title Testimonials
              .arrows
                a.left_a.previous-button(href='javascript:;')
                  svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                a.right_a.next-button(href='javascript:;')
                  svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
            #bodywork-testimonials-slider.testimonials-slider.splide
              .splide__track
                .splide__list
                  .splide__slide.testimonials-item
                    a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                      img(src='./img/bodywork-1/testimonials.jpg', alt='')
                  .splide__slide.testimonials-item
                    a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                      img(src='./img/bodywork-1/testimonials.jpg', alt='')
                  .splide__slide.testimonials-item
                    a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                      img(src='./img/bodywork-1/testimonials.jpg', alt='')
                  .splide__slide.testimonials-item
                    a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                      img(src='./img/bodywork-1/testimonials.jpg', alt='')
                  .splide__slide.testimonials-item
                    a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                      img(src='./img/bodywork-1/testimonials.jpg', alt='')
                  .splide__slide.testimonials-item
                    a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                      img(src='./img/bodywork-1/testimonials.jpg', alt='')

    section.breathwork-levels-one-two__10
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            article#why-us.why-us
              h2.title Why students like InnerCamp
              .feature-list
                ul.left-list
                  li Access to the InnerCamp App.
                  li Flexibility to complete the course at your own pace.
                  li Live Zoom sessions.
                  li &quot;Study buddy&quot; during the course.
                  li Lifelong membership in our global community.
                  li Individual feedback on assessments.
                .read-more Read more
                ul.right-list
                  li Exclusive downloadable materials.
                  li Free access to our regular online sessions.
                  li Unlimited video replays on our eLearning platform.
                  li Discount for your future InnerCamp experiences.
                  li Study on your laptop or mobile with the InnerCamp App.
              .why-us-content-wrap
                .why-us-content
                  h3
                    | The moment you enroll, you connect with our fast-growing community of conscious people worldwide.
                  p
                    | We show you the way to self-transformation through psychological, emotional and spiritual 
                    strong  growth and fulfillment.
                  p
                    | We equally honor modern and classical lineages of Tantra, and teach you how 
                    strong to implement them in your life.
                  .read-more Read more
                  .why-us-bottom-content
                    p
                      | Our assignments are thoughtfully designed to initiate introspection, personal development and growth as 
                      strong an individual.
                    p
                      | We help you enhance the intimacy and connection first and foremost with 
                      strong yourself and then with others.
                    p
                      strong
                        | We guide you to find your natural sexual essence in order to attract or maintain meaningful and compatible relationships.
                .why-us-img
                    img(src='img/breathwork-teacher/why-we.png', alt='')

    section.breathwork-levels-one-two__11
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            article.level-exposition
              .exposition-top-row
                h2.title Tantric Embodiment Teacher Training
                .calen Jan 12, 2023 - Apr 13, 2023
              ul.exposition-list
                li.header-item
                  .first-item
                  .level-item
                    h3 Level 1
                    .list-description
                      p Self-journey diploma (Self-healing journey)
                  .level-item.full-program
                    h3 Levels 1 + 2
                    .list-description
                      p Facilitator diploma (InnerCamp Multi-style Breathwork Facilitator)
                li.exposition-item-row
                  .first-item Duration
                  .level-item 150 hours, 2 months
                  .level-item.full-program 300 hours, 4 months
                li.exposition-item-row
                  .first-item LIVE Group sessions with Master Trainers
                  .level-item 6 weekly sessions
                  .level-item.full-program 12 weekly sessions
                li.exposition-item-row
                  .first-item High-quality curated videos, 
                    strong access forever
                  .level-item 40+ videos
                  .level-item.full-program 60+ videos
                li.exposition-item-row
                  .first-item Articles, 
                    strong access forever
                  .level-item 30+ articles
                  .level-item.full-program 60+ articles
                li.exposition-item-row
                  .first-item Weekly assignments
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Personal counselling
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Access to all InnerCamp virtual workshops
                  .level-item for 2 months
                  .level-item.full-program for 4 months
                li.exposition-item-row
                  .first-item Essential and recommended reading list
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Members Hub
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Enrolment In Our Affiliate system
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Discounts to Our Events, Retreats, and New Products
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Lifetime Access to All Online Training Materials
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Access to 100 Breathwork Music Playlists
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Contracts & Legal Documents to launch your Breathwork business
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Monthly Mentoring calls forever
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Study Buddy meetings
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Unlimited Access To Our Private InnerCamp Community
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes
                li.exposition-item-row
                  .first-item Diploma & License to Guide InnerCamp Breathwork Sessions
                  .level-item
                    img(src='img/tantra/red-circle.svg', alt='')
                    span no
                  .level-item.full-program
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                    span yes

    section.breathwork-levels-one-two__12
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            article#book-now.book-training
              h2.title Book your training
              .book-training-wrap
                .left-small-block
                  h3
                    strong Level 1:
                    |  Self-healing journey
                  .top-row
                    ul.training-list
                      li 150 hours, 2 months
                      li 6 weekly sessions
                      li 40+ videos
                      li Members Hub
                  .choose-price
                    .price-item
                      span.price 425&euro;
                      span.price-type 3 instalments
                    .price-item.active
                      span.price 1200&euro;
                      span.price-type full price
                    .price-item
                      span.price 500&euro;
                      span.price-type deposit
                  a.bundle(href='#') Enroll now
                .middle-small-block
                  h3
                    strong Level 1 + 2:
                    |  Teacher Training
                  .top-row
                    ul.training-list
                      li 300 hours, 4 months
                      li 12 weekly sessions
                      li Monthly Mentoring calls forever
                      li Study Buddy meetings
                  .choose-price
                    .price-item
                      span.price 550&euro;
                      span.price-type 4 instalments
                    .price-item.active
                      span.price 2200&euro;
                      span.price-type full price
                    .price-item
                      span.price 500&euro;
                      span.price-type deposit
                  a.bundle(href='#') Enroll now
                .right-small-block(style="background: url('../img/breathwork-teacher/book-now.png') no-repeat top/cover;")
                  .top-block
                    h3 Join the InnerCamp Retreat
                    .calen Jun 24, 2023 - Jun 27, 2023
                    .add-feature
                      p Upgrade your experience with a retreat
                  .upgrade Upgrade +

    section.breathwork-levels-one-two__13 
      .container
        .row
          .col.m12.s12.l12.xl9.offset-xl3
            article#faq.breathwork-faq
              h2.title Frequently asked questions
              .faq-item
                button.faq-questions How does the pricing work?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions Can I have more flexibility with the payment plan?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions What happens if I cannot come to the optional retreat (as part of TTC) due to COVID-19 restrictions?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions My training program has not started yet; can I cancel and get a refund?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions My training program has started; can I cancel and get a refund?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions My training program has finished but I didn&apos;t participate; can I get a refund?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions I have booked a retreat together with the online program, until when can I use that credit?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions How does the pricing work?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions In the past, I confirmed my participation in a retreat. Can I still cancel?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions How much effort is required per week?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions Should I attend all live sessions?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions Who is a study buddy?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions What happens if I fail the quizzes and exams?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.Delectus, omnis!
              .faq-item
                button.faq-questions Will I continue to have access to the course even after I complete it?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.Delectus, omnis!
              .faq-item
                button.faq-questions Will I receive a certification?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions Will I be able to run workshops and retreats after I am certified?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
              .faq-item
                button.faq-questions What will you find when you join one of our programs?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.Delectus, omnis!
              .faq-item
                button.faq-questions How do the live sessions work? What is the difference between the program live sessions and the InnerCamp workshops?
                .faq-panel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!

    .modal-wrap
      .shadow
      .modal-upgrade-block
        button.upgrade-close
          img(src='img/breathwork-teacher/x-circle.svg', alt='')
        .upgrade-top-row
          h2.title Upgrade your experience with a retreat?
          .calen June 2023
        .modal-upgrade-content
          .left-side
            h3.block-title Choose Date
            .choose-calen Jun 24, 2023 - Jun 27, 2023
          .right-side
            h3.block-title Choose Type of Accommodation
            ul.apartments-list
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Single room
                .apartment-item-bottom-row
                  .actual Available
                  .price 1200&euro;
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Shared double room
                .apartment-item-bottom-row
                  .actual Available
                  .price 800&euro;
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Shared glamping
                .apartment-item-bottom-row
                  .actual Available
                  .price 600&euro;
            .modal-bottom-row
              a.bundle(href='#') Yes, upgrade with a Retreat
              a.disclaimer(href='#') No, thanks

    footer(main='' data-menuscroll)
      .container
        .row
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Experiences

    script.
        $('.subitem-list .read-more').on('click', function() {
          $(this).toggleClass('active');
          $('.bottom-block').toggleClass('open');
        } );

        //- $('.feature-list .read-more').on('click', function() {
        //-   $(this).toggleClass('active');
        //-   $('.right-list').toggleClass('open');
        //- } );