doctype

html(lang='en')
  head
    
    - var title = "Innercamp Retreat Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body.info(data-img='img/19.png')
     
    .bar-long
    
        

    header(main)
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li.bold-bg
                  a(href='javascript:;') Download the APP

            .naviget__
              .box__user
                a.user(href='javascript:;')
                .box_menu__
                  a.academy(href='javascript:;') InnerCamp Academy
                  a.orders(href='javascript:;') My orders
                  a.affiliate(href='javascript:;') Affiliate Program
                  a.account(href='javascript:;') Account information
                  a.log(href='javascript:;') Log out
                  

              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;') 
              



    section.breathwork-tt__1(style="background: url('../img/experience/retreats-bg.webp') no-repeat top/cover")
      .container
        .row
          p.sub levels 1+2
          h1.title Hybrid Onsite &amp; Online Breathwork Teacher Training
          .box__content
            a.breathwork(href='#') Breathwork
            a.level(href='#') levels 1 + 2
            a.location(href='#') Malaga, Spain
            a.date(href='#') Mar 21, 2023 - Jun 26, 2023
          .retreats__1-description
            p
              | The InnerCamp Breathwork Method &reg; gives you a professional advantage in assisting your clients to unleash their true potential through a cutting-edge breathwork technology proven by science.
          a.bundle(href='#') Book now

    //- .top-nav-wrap
    //-   .container
    //-     .row
    //-       .col.m12.s12.l3.xl3
    //-         .left-nav
    //-           a.bundle(href='#') Book now
    //-           ul.lvl1
    //-             li.course-basics.active
    //-               a(href='#course-basics') Course basics
    //-             li.accreditations
    //-               a(href='#accreditations') Accreditations
    //-             li.benefits
    //-               a(href='#benefits') Benefits
    //-             li.about-course
    //-               a(href='#about-course') About the course
    //-             li.program
    //-               a(href='#program') The program
    //-             li.facilitators
    //-               a(href='#facilitators') Facilitators
    //-             li.certificate
    //-               a(href='#certificate') Certification
    //-             li.optional-retreat
    //-               a(href='#optional-retreat') Optional retreat
    //-             li.session
    //-               a(href='#session') Live sessions
    //-             li.book-call
    //-               a(href='#book-call') Book a free call
    //-             li.testimonials
    //-               a(href='#testimonials') Testimonials
    //-             li.why-we
    //-               a(href='#why-we') Why we are loved
    //-             li.book-now
    //-               a(href='#') Book now
    //-             li.faq
    //-               a(href='#') FAQ


    section.breathwork__2
      .breathwork__2-1
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#course-basics.course-basics
                .basics-img
                  img(src='img/breathwork-teacher/basics-course.png', alt='')
                  a.level(href='#') Levels 1 + 2
                .basics-content
                  .top-row
                    .training-price
                      span Price: 
                      span 2200&euro;
                    a.bundle(href='#') Start my journey
                  .bottom-row
                    .date 4 days onsite, 3 months online
                    .video-qty 65+ videos
                    .clock 300 hours in total
                    .status.online onsite &amp; online course

      .breathwork__2-2
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#accreditations.accreditations
                .accreditations-content
                  h3.sub INNERCAMP IS AN ACCREDITED SCHOOL
                  p InnerCamp is registered and accredited by the 
                    strong Complementary Medical Association.
                  p It is also a member school of strong the International Breathwork Foundation.
                  ul.list-img-mobile
                    li
                      img(src='/img/brand_1.svg', alt='')
                    li
                      img(src='/img/brand_2.svg', alt='')
                  .bottom-row
                    p Our courses are accredited by the leading independent 
                      strong CPD accreditation institution.
                    img(src='/img/brand_3.svg', alt='')
                ul.list_img
                  li
                    img(src='/img/brand_1.svg', alt='')
                  li
                    img(src='/img/brand_2.svg', alt='')
                  li
                    img(src='/img/brand_3.svg', alt='')
                    
      .breathwork__2-3
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#benefits.benefits
                .benefits-content
                  h2.title Breathwork helps to:
                  ul.benefits-list
                    li Remove physical, emotional and energetic tensions and blockages.
                    li Reduce anxiety and stress-related symptoms.
                    li Boost attention span and sharpen focus.
                    li
                      | Reduce the perception of chronic pain or help cope with
                      | physical discomfort.
                    li Open you to a rush of creativity while quieting your inner critic.
                    li
                      | Calm your nervous system, stave off insomnia, and prepare
                      | your body for rest.
                    li
                      | Strengthen the immune system by boosting antibodies and
                      | potentially reducing inflammation.
                .benefits-img
                  img(src='/img/breathwork-teacher/benefits.png', alt='')

      .breathwork__2-4
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#about-course.breathwork-about
                h2.title About the Course
                .about-wrap
                  .about-img
                    img(src='img/breathwork-teacher/about_course_2.png', alt='')
                  .about-content
                    h3
                      | Our course is based on the main Conscious Connected Breathwork techniques and is split in </br> two levels.
                    a.bundle-download(href='#') Download Brochure

      .breathwork__2-5
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article.breathwork-about-program
                .breathwork-about-program-content
                  .breathwork-about-program-post
                    h3.title Level 1: onsite training
                    p
                      | Level 1 focuses on onsite training &ndash; focuses on healing your breathing pattern and learning the main breathwork techniques, learning how to guide one-on-one sessions, couple sessions and group sessions, bodywork, holistic coaching, techniques to hold the space and music composition.
                    p
                      | Upon successful completion of Level 1, students will be presented with the Breathwork Practitioner Certificate proving their active participation in the course. Level 1 is for personal use only.
                  .breathwork-about-program-post
                    h3.title Level 2: online training &amp; follow-up
                    p
                      | Level 2 focuses on online training and follow-up &ndash; focuses on breath science, psychology, inner child work, trauma healing, how to organize breathwork workshops and retreats. In order to receive the Breathwork Teacher Certificate and be able to facilitate your own events and work with clients, you will need to successfully complete both levels.
                .breathwork-about-program-img
                  img(src='img/breathwork-teacher/program.png', alt='')

      .breathwork__2-6
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#program.program
                .top-program-row
                  h2.title The Program
                  .coaches-img-list
                    span Facilitated by 
                    ul
                      li
                        img(src='img/team/coach_1.webp', alt='')
                      li
                        img(src='img/team/coach_5.webp', alt='')
                      li
                        img(src='img/team/coach_11.webp', alt='')
                      li
                        img(src='img/team/coach_12.webp', alt='')
                .tabs-row
                  .tabs-list
                    button.tab-item(name='tab-1') Level 1
                    button.tab-item(name='tab-2') Level 2
                  .event-date
                    .clock 400 hours
                    .date Nov 11, 2022 to Sep 15, 2023
                .program-content-wrap
                  #tab-1.program-content.active
                    h3.content-title Part 1: Onsite training
                    ul.program-list
                      li.program-item
                        h4.item-title Breathwork basics
                        span.item-time 5 hours
                        ul.subitem-list
                          li Breathwork through history and today
                          li The science of the breath
                          li Healing symptoms and diseases with breathwork
                          li Breathwork and Alpha, Theta and Delta Waves
                          li The Vagus nerve &amp; Breathwork
                          li Breathing exercises to learn how to extend your energy cycle
                          li  Big human traumas
                          li Breathwork and the nervous system
                      li.program-item
                        h4.item-title How to guide one-on-one sessions
                        span.item-time 8 hours
                        ul.subitem-list
                          li How to guide one-on-one sessions
                          li How to not retraumatize your clients
                          li Activities that can be done in one-on-one sessions
                          li How to avoid hyperventilation
                          li Corrections to your breath
                      li.program-item
                        h4.item-title How to guide group sessions
                        span.item-time 8 hours
                        ul.subitem-list
                          li How to guide group sessions
                          li How to facilitate couple sessions
                          li How to hold space in groups
                      li.program-item
                        h4.item-title Multi-style Breathwork
                        span.item-time 5 hours
                        ul.subitem-list
                          li Breathwork to Release Trauma
                          li Breathwork to Heal the Inner Child
                          li Breathwork to Boost your Creativity
                          li Energetic Breathwork + Ice Bath
                          li Breathwork in water
                      li.program-item
                        h4.item-title Bodywork
                        span.item-time 5 hours
                        ul.subitem-list
                          li Bodywork techniques
                      li.program-item
                        h4.item-title How to hold the space
                        span.item-time 5 hours
                        ul.subitem-list
                          li How to hold the space
                          li  How to help your client create affirmations
                      li.program-item
                        h4.item-title How to facilitate online and onsite events
                        span.item-time 3 hours
                        ul.subitem-list
                          li How to customize your own Breathwork session
                          li Insurance and Liability
                          li How to be a successful professional
                  #tab-2.program-content
                    h3.content-title Part 2: Online training &amp; follow-up

      .breathwork__2-7
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#facilitators.facilitators
                .container
                  .row
                    .col.m12.s12.l9.xl9
                      h2.title The training is facilitated by
                    .col.m12.s12.l3.xl3.facilitator-arrow-nav
                      .arrows
                        a.left_a.previous-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                        a.right_a.next-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
                .facilitators-slider
                  #facilitator-slider.splide(aria-roledescription='carousel')
                    .splide__track
                      ul.splide__list
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_1.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute; 1
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_2.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
    
      .breathwork__2-8
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#certificate.certificate
                .certificate-photo
                  img(src='img/breathwork-teacher/certificate-without-shadow1.png', alt='')
                .certificate-content
                  h2
                    | Become 
                    strong a Breathwork Teacher
                    |  that utilises a holistic approach to change people&apos;s lives
                  a.bundle(href='#') Enroll now

      .breathwork__2-9
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#optional-retreat.optional-retreat
                .content-wrap
                  h2.title Venue
                  .subtitle
                    p (Santillan Yoga and Wellness Center)
                  .content
                    p
                      | Authentic Andalusian farmhouse with gardens overlooking the sea. A farm of 50,000 sq, meters, it is located in the peace of the Spanish countryside, and yet is conveniently only 20 minutes from Malaga airport.
                    p
                      | You can immerse yourself in the silence of nature in its lovely gardens and surrounding hills or enjoy stargazing under the dark night sky gathering around the bonfire.
                    p
                      | Centro Santillan was mentioned in The Times as one of Europe&rsquo;s best yoga and wellness centers.
                    p
                      | The property features a newly built, beautiful state-of-the-art, and fully equipped yoga studio.
                  .location
                    | Ctra. Macharaviaya, KM 3. 29730 Rinc&oacute;n de la Victoria, M&aacute;laga, Spain.
                .optional-retreat-img
                  img(src='img/breathwork-teacher/optional_retreat_1.png', alt='')
                  img(src='img/breathwork-teacher/optional_retreat_2.png', alt='')
              article.optional-retreat-slider
                #optional-slider.splide(aria-roledescription='carousel')
                  .splide__track
                    ul.splide__list
                      li.splide__slide
                        .slide-img
                          img(src='img/breathwork-teacher/optional_retreat_3.png', alt='')
                          .map-block
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.1895619856514!2d-4.284132536271843!3d36.71800836035752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd725a8925cf0bd3%3A0xd9df30c8f2414379!2s29730%20Rinc%C3%B3n%20de%20la%20Victoria%2C%20M%C3%A1laga%2C%20Spain!5e0!3m2!1sen!2sua!4v1675178683279!5m2!1sen!2sua', width='347', height='190', style='border:0;border-radius:34px;', allowfullscreen='', loading='lazy')
                      li.splide__slide
                        .slide-img
                          img(src='img/breathwork-teacher/onsite-retreat.png', alt='')
                          .map-block
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.1895619856514!2d-4.284132536271843!3d36.71800836035752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd725a8925cf0bd3%3A0xd9df30c8f2414379!2s29730%20Rinc%C3%B3n%20de%20la%20Victoria%2C%20M%C3%A1laga%2C%20Spain!5e0!3m2!1sen!2sua!4v1675178683279!5m2!1sen!2sua', width='347', height='190', style='border:0;border-radius:34px;', allowfullscreen='', loading='lazy')
                .slider-navigation
                  .col.m12.s12.l3.xl3.optional-retreat-arrow-nav
                    .arrows
                      a.left_a.previous-button(href='javascript:;')
                        svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                      a.right_a.next-button(href='javascript:;')
                        svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
              article.onsite-training
                h2.title Onsite Training
                .onsite-training-content
                  img(src='img/breathwork-teacher/onsite-retreat.png', alt='')
                  .training-info
                    .location M&aacute;laga, Spain
                    .clock 9am &ndash; 6.30pm
                    .calen March 22-25, 2023
              article.follow-up
                h2.title Follow-up &amp; supervision
                .follow-up-wrap
                  .follow-up-content
                    .calen Mar 26, 2023 - Jun 26, 2023
                    .status.online online course
                    p
                      | Upon completion of our onsite training, 3-month online program and follow-up will include Q&amp;A calls with facilitators and lifetime access to educational content on our eLearning platform.
                  .follow-up-img
                    img(src='img/breathwork-teacher/follow-up.png', alt='')

      .breathwork__2-10(style="background: url('../img/breathwork-teacher/sessions.png') no-repeat top/cover")
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              .session-wrap
                .sub Level 1 + 2
                h2.title Online Breathwork Teacher Training
                article#session.session
                  .session-content-wrap
                    p
                      | If you cannot join us in M&aacute;laga, we invite you to enroll in our Online Breathwork Teacher Training.
                    p Study from the comfort of your home!
                    a.bundle(href='#') Learn More
                  .session-img
                    img(src='img/breathwork-teacher/sessions.png', alt='')

      .breathwork__2-11
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#book-call.book-call
                h2.title Got questions?
                .subtitle
                  p
                    | Schedule a 
                    strong free
                    |  consultation call with one of our experts.
                a.bundle(href='#') Schedule now

      .breathwork__2-12
        .container
          .row.bodywork-testimonials
            .col.m12.s12.l12.xl9.offset-xl3
              .testimonials-header
                h2.title Testimonials
                .arrows
                  a.left_a.previous-button(href='javascript:;')
                    svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                  a.right_a.next-button(href='javascript:;')
                    svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
              #bodywork-testimonials-slider.testimonials-slider.splide
                .splide__track
                  .splide__list
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
      .breathwork__2-13
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#why-us.why-us
                h2.title Why students like InnerCamp
                .feature-list
                  ul.left-list
                    li Access to the InnerCamp App.
                    li Flexibility to complete the course at your own pace.
                    li Live Zoom sessions.
                    li &quot;Study buddy&quot; during the course.
                    li Lifelong membership in our global community.
                    li Individual feedback on assessments.
                  .read-more Read more
                  ul.right-list
                    li Exclusive downloadable materials.
                    li Free access to our regular online sessions.
                    li Unlimited video replays on our eLearning platform.
                    li Discount for your future InnerCamp experiences.
                    li Study on your laptop or mobile with the InnerCamp App.
                .why-us-content-wrap
                  .why-us-content
                    h3
                      | The moment you enroll, you connect with our fast-growing community of conscious people worldwide.
                    p
                      | At InnerCamp, we believe that a single technique cannot fit everyone, and that is why our approach is more holistic offering a wide range of breathwork style to implement in your practice.
                    p
                      | We 
                      strong dive deep
                      |  into the science, spirituality and benefits of each breathwork type to increase the effectiveness of the practice.
                    p
                      | Our assignments are thoughtfully designed to initiate introspection, transformation and self-growth.
                    p
                      | We provide a platform for collaboration with InnerCamp and other community members, so 
                      strong you can continuously evolve and improve.
                    p
                      strong We help you find your path, and your true calling.
                  .why-us-img
                    img(src='img/breathwork-teacher/why-we.png', alt='')

      .breathwork__2-14
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article.level-exposition
                .exposition-top-row
                  h2.title Hybrid Onsite &amp; Online Breathwork Teacher Training
                  .event-period
                    .location M&aacute;laga, Spain
                    .calen Mar 21, 2023 - Jun 26, 2023
                .exposition-list
                  ul
                    li.header-item
                      .left-list 
                        h3 Breathwork Level 1 (Part 1)
                        .list-description
                          p On-site Breathwork Training to strengthen your intuition
                      .right-list
                        h3 Breathwork Level 1 (Part 2) + Level 2
                        .list-description
                          p Facilitator diploma (InnerCamp Multi-style Breathwork Facilitator)
                    li.exposition-item-row
                      .left-list 
                        h4 Breathwork lectures
                      .right-list 
                        h4 65+ high-quality curated videos,  
                          strong access forever
                    li.exposition-item-row 
                      .left-list 
                        h4 Multi-style breathwork sessions
                      .right-list 
                        h4 60+ articles, 
                          strong access forever
                    li.exposition-item-row 
                      .left-list 
                        h4 Bodywork exercises
                      .right-list 
                        h4 Weekly assignments
                    li.exposition-item-row 
                      .left-list 
                        h4 How to guide a one-on-one sessions
                      .right-list 
                        h4 Personal counselling
                    li.exposition-item-row 
                      .left-list 
                        h4 How to guide group sessions
                      .right-list 
                        h4 Access to all InnerCamp virtual workshops for 3 months
                    li.exposition-item-row 
                      .left-list 
                        h4 How to guide couple sessions
                      .right-list 
                        h4 Essential and recommended reading list
                    li.exposition-item-row 
                      .left-list 
                        h4 Holding Space
                      .right-list 
                        h4 Members Hub
                    li.exposition-item-row 
                      .left-list 
                        h4 Do&rsquo;s &amp; Don&rsquo;t when guiding a session
                      .right-list 
                        h4 Enrolment In Our Affiliate system
                    li.exposition-item-row 
                      .left-list 
                        h4 Breathwork Tools
                      .right-list  
                        h4 Discounts to Our Events, Retreats, and New Products
                    li.exposition-item-row 
                      .left-list 
                        h4 Breathwork Business
                      .right-list 
                        h4 Lifetime Access to All Online Training Materials
                    li.exposition-item-row 
                      .left-list 
                        h4 How to find clients
                      .right-list 
                        h4 Access to 100 Breathwork Music Playlists
                    li.exposition-item-row 
                      .left-list 
                        h4 Pre and Post session
                      .right-list
                        h4 Access to Guided Breathwork Journey Scripts
                    li.exposition-item-row 
                      .left-list 
                        h4 Protection for the facilitator
                      .right-list 
                        h4 Contracts &amp; Legal Documents to launch your Breathwork business
                    li.exposition-item-row 
                      .left-list
                        h4 Music playlist composition
                      .right-list 
                        h4 Monthly Mentoring calls forever
                    li.exposition-item-row 
                      .left-list 
                        h4 What to say in a Breathwork session
                      .right-list 
                        h4 Study Buddy meetings
                    li.exposition-item-row 
                      .left-list 
                        h4 How to set boundaries
                      .right-list  
                        h4 Unlimited Access To Our Private InnerCamp Community
                    li.exposition-item-row 
                      .left-list 
                      .right-list 
                        h4 Diploma &amp; License to Guide InnerCamp Breathwork Sessions

      .breathwork__2-15
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#book-now.book-training
                h2.title Book your training
                .book-training-wrap
                  .left-big-block
                    img(src='img/breathwork-teacher/part-img.png', alt='')
                    .content-block
                      h3 Level 1 + 2
                      .top-row
                        ul.left-list
                          li Breathwork lectures
                          li Bodywork exercises
                          li Breathwork Business
                          li How to set boundaries
                        ul.right-list
                          li Members Hub
                          li Monthly Mentoring calls forever
                          li Study Buddy meetings
                          li Enrolment In Our Affiliate system
                      .choose-price
                        .price-item.active
                          span.price 2200&euro;
                          span.pice-type full price
                        .price-item
                          span.price 500
                          span.pice-type deposit
                      a.bundle(href='#') Enroll now
                  .right-small-block(style="background: url('../img/breathwork-teacher/book-now.png') no-repeat top/cover;")
                    .top-block
                      h3 Accommodation in Santillian Center
                      .calen Jan 21, 2023 - Jan 26, 2023
                      .add-feature
                        p Add accommodation to your onsite training
                    .upgrade Upgrade +
      .breathwork__2-16
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#faq.breathwork-faq
                h2.title Frequently asked questions
                .faq-item
                  button.faq-questions How does the pricing work?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Can I have more flexibility with the payment plan?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions
                    | What happens if I cannot come to the optional retreat (as part of TTC) due to COVID-19 restrictions?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions My training program has not started yet; can I cancel and get a refund?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions My training program has started; can I cancel and get a refund?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions My training program has finished but I didn&apos;t participate; can I get a refund?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions
                    | I have booked a retreat together with the online program, until when can I use that credit?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions How does the pricing work?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions In the past, I confirmed my participation in a retreat. Can I still cancel?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions How much effort is required per week?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Should I attend all live sessions?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Who is a study buddy?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions What happens if I fail the quizzes and exams?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Will I continue to have access to the course even after I complete it?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Will I receive a certification?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Will I be able to run workshops and retreats after I am certified?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions What will you find when you join one of our programs?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions
                    | How do the live sessions work? What is the difference between the program live sessions and the InnerCamp workshops?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
    .modal-wrap
      .shadow
      .modal-upgrade-block
        button.upgrade-close
          img(src='img/breathwork-teacher/x-circle.svg', alt='')
        .upgrade-top-row
          h2.title Upgrade your experience with a retreat?
          .calen June 2023
        .modal-upgrade-content
          .left-side
            h3.block-title Choose Date
            .choose-calen Jun 24, 2023 - Jun 27, 2023
          .right-side
            h3.block-title Choose Type of Accommodation
            ul.apartments-list
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Single room
                .apartment-item-bottom-row
                  .actual Available
                  .price 1200&euro;
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Shared double room
                .apartment-item-bottom-row
                  .actual Available
                  .price 800&euro;
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Shared glamping
                .apartment-item-bottom-row
                  .actual Available
                  .price 600&euro;
            .modal-bottom-row
              a.bundle(href='#') Yes, upgrade with a Retreat
              a.disclaimer(href='#') No, thanks
    script.
        $('.feature-list .read-more').on('click', function() {
          $(this).toggleClass('active');
          $('.right-list').toggleClass('open');
        } );


      //- window.onscroll = function() {scrollFunction()};
      //- function scrollFunction() {
      //-   if (document.body.scrollTop > 90 || document.documentElement.scrollTop > 90) {
      //-     document.querySelector('.top-nav-wrap').style.position = "fixed";
      //-   } else {
      //-     document.querySelector('.top-nav-wrap').style.position = "absolute";
      //-   }
      //- }
      // const sections = document.querySelectorAll("article");
      // const navLi = document.querySelectorAll(".lvl1 li");
      // window.addEventListener("scroll", () => {
      //   let current = "";
      //   sections.forEach((section) => {
      //     const sectionTop = section.offsetTop;
      //     const sectionHeight = section.clientHeight;
      //     if (pageYOffset >= sectionTop - sectionHeight / 3) {
      //       current = section.getAttribute("id");
      //     }
      //   });
      //   navLi.forEach((li) => {
      //     li.classList.remove("active");
      //     if (li.classList.contains(current)) {
      //       li.classList.add("active");
      //     }
      //   });
      // });
      
