doctype

html(lang='en')
  head
    
    - var title = "Innercamp Profile Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body(data-img='img/12.png')
     
    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    




    header(main)
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li
                  a(href='javascript:;') Download the APP

            .naviget__
              a.user(href='javascript:;')
              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;')
              
              
    .left__menu__scroll
      .container
        .row
          .col.m12.s12.l3.xl3
            .box__
              a.bundle(href='javascript:;') Book now
              ul
                li.active
                  a(href='javascript:;') Tantra
                li
                  a(href='javascript:;') Innercmp is an accredited school
                li
                  a(href='javascript:;') Tantra helps 
                li
                  a(href='javascript:;') About the Course
                li
                  a(href='javascript:;') The Program
                li
                  a(href='javascript:;') The training is facilitated by
                li
                  a(href='javascript:;') Certificate
                li
                  a(href='javascript:;') One-of-a-kind retreat
                li
                  a(href='javascript:;') Live Sessions
                li
                  a(href='javascript:;') Got questions?
                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') Why students like InnerCamp
                li
                  a(href='javascript:;') Book now
                li
                  a(href='javascript:;') Frequently asked questions

              

    section.breathwork-levels-one-two__1(data-menuscroll)
      .container
        .row      
          .col.m12.s12.l12.xl12
            p.sub Levels 1 + 2
            h1.title.scroll__init Breathwork Teacher Training
            .box__
              ul
                li
                  span.breathwork Breathwork
                li
                  span.level Levels 1+2
                li
                  span.calendar Jan 12, 2023 - Apr 13, 2023
                li
                  span.check online course
                  
                  
              p The InnerCamp Breathwork Method ® gives you a professional advantage in assisting your clients to unleash their true potential through a cutting-edge breathwork technology proven by science.
              
              a.bundle(href='javascript:;') Book now

    section.breathwork-levels-one-two__2
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .block__top.scroll__init
              .box__img
                img(src='img/breathwork-levels-one-two__2_img_1.png' alt='logo')
                span.info Levels 1 + 2
              .box__content
                .price__
                  span.top_price Price:
                  span.prise 2200€
                
                
                a(href='#' class='bundle') Start my journey
                hr
                span.calendar 4 months
                span.video 65+ videos
                span.clock 300 hours in total
                span.status.online onsite
                
              .box__bottom
                p You have the option to purchase the levels 
                  span separately.
                  span 
                    a(href='#') See details
                
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .block__green.scroll__init
              .box__
                p.sub INNERCAMP IS AN ACCREDITED SCHOOL
                p InnerCamp is registered and accredited by the Complementary Medical Association. 
                p It is also a member school of the International Breathwork Foundation.
                p Our courses are accredited by the leading independent CPD accreditation institution.
              .img__
                img(src='img/brand__01.svg' alt='logo')
                img(src='img/brand__02.svg' alt='logo')
                img(src='img/brand__03.svg' alt='logo')
                
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .block__help.scroll__init
              .cont__
                h2.title Breathwork helps to:

                ul
                  li.cheked Remove physical, emotional and energetic tensions and blockages.
                  li.cheked Reduce anxiety and stress-related symptoms.
                  li.cheked Boost attention span and sharpen focus.
                  li.cheked Reduce the perception of chronic pain or help cope with physical discomfort.
                  li.cheked Open you to a rush of creativity while quieting your inner critic.
                  li.cheked Calm your nervous system, stave off insomnia, and prepare your body for rest.
                  li.cheked Strengthen the immune system by boosting antibodies and potentially reducing inflammation.

              .img__
                img(src='img/breathwork-levels-one-two__2_img_2.png' alt='logo')
                
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title.scroll__init About the Course
            .block__next
              .img__
                img(src='img/breathwork-levels-one-two__2_img_3.png' alt='logo')
                
              .cont__
                .box__
                  p Our course is based on the main Conscious Connected Breathwork techniques and is split in two levels.

                  a.download(href='#') Download Brochure
                
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .block__wrap.scroll__init
              .cont__
                h3.title__back Level 1: Self-healing journey
                p Level 1 (Specialist certificate) is a self-healing journey that focuses on providing a background on breath science, psychology, inner child work, trauma healing, healing your breathing pattern and learning the main breathwork techniques. Upon successful completion of Level 1, students will be presented with the Breathwork Practitioner Certificate proving their active participation in the course. Level 1 is for personal use only.
                
                hr.section__

                h3.title__back Level 1: Self-healing journey
                p Level 2 (Teacher certificate) focuses on learning how to guide one-on-one sessions, group sessions and couple sessions, bodywork, holistic coaching, techniques to hold the space, music composition and how to organise breathwork workshops and retreats. In order to receive the Breathwork Teacher Certificate and be able to facilitate your own events and work with clients, you will need to successfully complete both levels. In order to get certified, you will need to demonstrate your facilitating skills during some live sessions. We will encourage you to recruit volunteers to practice newly acquired techniques at home. The final assignment will be to record a video of yourself facilitating an in-person breathwork session with your volunteer.
              .img__
                img(src='img/breathwork-levels-one-two__2_img_4.png' alt='logo')
                
                
                
               
    section.breathwork-levels-one-two__3
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title.scroll__init The Program
            
            .box__user
              p Facilitated by
              
              ul
                li
                  img(src='img/user_2.png' alt='user_2')
                li
                  img(src='img/user_1.png' alt='user_1')
                li
                  img(src='img/user_4.png' alt='user_4')
                li
                  img(src='img/user_3.png' alt='user_3')


        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .tab__.active.scroll__init(data-tab='1')
              .top__
                ul
                  li
                    a.active(data-tab='1') Level 1
                  li
                    a(data-tab='2' ) Level 2
                .info
                  span.clock 150 hours
                  span.calendar Jan 12, 2023 - Feb 16, 2023
              h3.title__ Level 1: Specialist certificate
              ul.list
                li
                  .top__
                    .cont
                      .name__ Science of breathwork
                      p.time 40 hours
                  ul.dots
                    li Breathwork through history and today
                    li The science of the breath
                    li Healing symptoms and diseases with breathwork
                    li Breathwork and Alpha, Theta and Delta Waves
                    li The Vagus nerve & breathwork
                    li Breathing exercises to learn how to extend your energy cycle
                    li Breathwork and the nervous system
                    li Respiratory system
                    li Breathwork basics, uses, and types
                    li Nose breathing vs. Mouth breathing
                    li Psychology
                    li Big traumas of human beings
                    
                li
                  .top__
                    .cont
                      .name__ Your breath journey
                      p.time 30 hours
                  ul.dots
                    li How to discover your breathing pattern
                    li Corrections to your breath
                    li Spiritual purification
                    li Perinatal influences
                    li Energy system
                    
                li
                  .top__
                    .cont
                      .name__ Breathwork for self-healing 
                      p.time 60 hours
                  ul.dots
                    li Breathwork to heal birth traumas, the inner child and the inner teenager
                    li Breathwork for Ancestral Healing (shamanic path)
                    li How to rewire your brain with breathwork
                    li Breathwork to heal diseases and release traumas
                    
                li
                  .top__
                    .cont
                      .name__ Customise your own breathwork sessions
                      p.time 20 hours
                  ul.dots
                    li Customise your own breathwork sessions


                    


            .tab__(data-tab='2')
              .top__
                ul
                  li
                    a.active(data-tab='1') Level 1
                  li
                    a(data-tab='2' ) Level 2
                .info
                  span.clock 150 hours
                  span.calendar Jan 12, 2023 - Feb 16, 2023
              h3.title__ Level 2: Specialist certificate
              
              
              
               
    section.breathwork-levels-one-two__4
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title.scroll__init The training is facilitated by
            .arrows
              a.left_a.previous-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

              a.right_a.next-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
          
            .breathwork-levels.splide
              .splide__track
                ul.splide__list
                
                  li.splide__slide
                    .post__user
                      .img__
                        img(src='img/retreat__4_user1.png' alt='fotoalfa')
                      .cont__
                        .title__ Alexis Alcalá
                        ul
                          li
                            a.teg(href='#') InnerCamp founder
                          li
                            a.teg(href='#') Holistic coach
                          li
                            a.teg(href='#') Breathwork master
                          li
                            a.teg(href='#') Tantra teacher

                        p Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples’ potential so that they feel empowered to unleash that power into their lives and the world. Alexis’ work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        
                  li.splide__slide
                    .post__user
                      .img__
                        img(src='img/retreat__4_user2.png' alt='fotoalfa')
                      .cont__
                        .title__ Marjolein Van Ommeren
                        ul
                          li
                            a.teg(href='#') Method teacher
                          li
                            a.teg(href='#') Sacred Womb Awakening Practitioner
                          li
                            a.teg(href='#') Shamanic Healing Practitioner

                        p Marjolein is an InnerCamp Tantra teacher and a Sacred Womb Awakening and Shamanic Healing Practitioner. She strongly believes that we are all healers. Her mission is to help people restore balance in their lives by reconnecting them to their inner light and to help people raise their vibration. Womb/Hara Awakening are ancient, self-empowering practices which are returning into the awareness of the Western world, helping people to reconnect to their true purpose and aligning their lives.
                        
                  li.splide__slide
                    .post__user
                      .img__
                        img(src='img/retreat__4_user1.png' alt='fotoalfa')
                      .cont__
                        .title__ Alexis Alcalá
                        ul
                          li
                            a.teg(href='#') InnerCamp founder
                          li
                            a.teg(href='#') Holistic coach
                          li
                            a.teg(href='#') Breathwork master
                          li
                            a.teg(href='#') Tantra teacher

                        p Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples’ potential so that they feel empowered to unleash that power into their lives and the world. Alexis’ work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        
                  li.splide__slide
                    .post__user
                      .img__
                        img(src='img/retreat__4_user2.png' alt='fotoalfa')
                      .cont__
                        .title__ Marjolein Van Ommeren
                        ul
                          li
                            a.teg(href='#') Method teacher
                          li
                            a.teg(href='#') Sacred Womb Awakening Practitioner
                          li
                            a.teg(href='#') Shamanic Healing Practitioner

                        p Marjolein is an InnerCamp Tantra teacher and a Sacred Womb Awakening and Shamanic Healing Practitioner. She strongly believes that we are all healers. Her mission is to help people restore balance in their lives by reconnecting them to their inner light and to help people raise their vibration. Womb/Hara Awakening are ancient, self-empowering practices which are returning into the awareness of the Western world, helping people to reconnect to their true purpose and aligning their lives.
                        
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .box__own
              .img__
                img(src='img/breathwork-levels-one-two__4_certificate.png' alt='fotoalfa')
              .cont__
                p Become <span>a Breathwork Teacher</span> from the comfort of your own home.
                a.bundle(href='#') Enroll now

        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title Exotic International Breathwork Retreat
            
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .img__
              img(src='img/breathwork-levels-one-two__4_img_1.png' alt='fotoalfa')
            .cont__border
            
              span.mark Spain
              p Upgrade your InnerCamp Breathwork experience with our one-of-a-kind retreat that blends 3 holistic dominants – Breathwork, Tantra, and Bodywork.
              a.download(href='#') Download our Retreat Brochure
          
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            .cont__border
              p Over the course of four days, InnerCamp will gently guide you along your own healing journey.
              p Each day will unlock new tools and techniques to help you free your body and mind from toxic patterns and limiting beliefs, tap into your inherent wisdom, and connect more authentically with the people who matter.
            .img__
              img(src='img/breathwork-levels-one-two__4_img_2.png' alt='fotoalfa')
              
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title Live Sessions
            
            .block__top

              .box__content
                .complit.clock
                  .info
                    span.top 6:00 pm — 8:30 pm CET
                    span.bottom *Amsterdam / Paris time zone
                    
                .complit.calendar
                  .info
                    span.top Thursdays (biweekly)
                    span.bottom Sep 13, Sep 27, Oct 11, Oct 25, Nov 8, Nov 22 (2023)
                    
                .earth Check my local time here
                .cont__border
                  ul
                    li.cheked Live sessions via Zoom
                    li.cheked Q&A calls with master facilitators
                
              .box__img
                img(src='img/breathwork-levels-one-two__4_img_3.png' alt='logo')
                a.download(href='#') Download the Timetable
                
              .box__bottom
              
                p.bold Please note:
                p During the Level 2 (Facilitator training), we will ask you to bring a friend or a few friends at home to practice how to facilitate breathwork. This part of the course is the most important one as you will start doing the "real" work. For us it is crucial to see you facilitating and guide you during this process.
                
                
    section.breathwork-levels-one-two__5
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title Got questions?
            p Schedule a <span>free</span> consultation call with one of our experts.
            a.bundle(href='javascript:;') Schedule now
            
            
            
                
    section.breathwork-levels-one-two__6
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title Testimonials
            .arrows
              a.left_a.previous-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

              a.right_a.next-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')
          
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
          
            .breathwork-testimonials.splide
              .splide__track
                ul.splide__list
                  li.splide__slide
                    a.testim_video(data-fancybox='', href='https://www.youtube.com/watch?v=q5o-h2Tm4Zo&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&index=1&ab_channel=innercamp')
                      img(src='img/testimonials.png', alt='')
                      
                  li.splide__slide
                    a.testim_video(data-fancybox='', href='https://www.youtube.com/watch?v=q5o-h2Tm4Zo&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&index=1&ab_channel=innercamp')
                      img(src='img/testimonials.png', alt='')
                      
                  li.splide__slide
                    a.testim_video(data-fancybox='', href='https://www.youtube.com/watch?v=q5o-h2Tm4Zo&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&index=1&ab_channel=innercamp')
                      img(src='img/testimonials.png', alt='')
                      
                  li.splide__slide
                    a.testim_video(data-fancybox='', href='https://www.youtube.com/watch?v=q5o-h2Tm4Zo&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&index=1&ab_channel=innercamp')
                      img(src='img/testimonials.png', alt='')
                      
                  li.splide__slide
                    a.testim_video(data-fancybox='', href='https://www.youtube.com/watch?v=q5o-h2Tm4Zo&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&index=1&ab_channel=innercamp')
                      img(src='img/testimonials.png', alt='')

                
    section.breathwork-levels-one-two__7
      .container
        .row
          .col.m12.s12.l9.xl9.offset-l3.offset-xl3
            h2.title Why students like InnerCamp
            
            .cont__border
              ul
                li.cheked Access to the InnerCamp App.
                li.cheked Flexibility to complete the course at your own pace.
                li.cheked Live Zoom sessions.
                li.cheked "Study buddy" during the course.
                li.cheked Lifelong membership in our global community.
                li.cheked Individual feedback on assessments.
                li.cheked Exclusive downloadable materials.
                li.cheked Free access to our regular online sessions.
                li.cheked Unlimited video replays on our eLearning platform.
                li.cheked Discount for your future InnerCamp experiences.
                li.cheked Study on your laptop or mobile with the InnerCamp App.

          

    footer(main='' data-menuscroll)
      .container
        .row
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Experiences