doctype

html(lang='en')
  head
    
    - var title = "Innercamp Profile Pages checkout"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body(data-img='img/26.png')
     
    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    




    header(main).b_green__.none
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li
                  a(href='javascript:;') Download the APP

            .naviget__
              a.user(href='javascript:;')
              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;') 
              


    section.checkout__1
      .box__top
        .container
          .row
            .col.m12.s12.l12.xl12
              a.logo(href='javascript:;')
                img(src='img/checkout__1_logo.svg' alt='logo')

              .box__next
                span.orange
                span

              .step 
                .start Step <span>1</span>
                | of 2
              
      .container 
        .row
          .col.m12.s12.l12.xl7

            .cont__
              .woocommerce
                .woocommerce-notices-wrapper
                .woocommerce-notices-wrapper
                // yourtheme/woocommerce/checkout/form-checkout.php
                form.checkout.woocommerce-checkout(name='checkout', method='post', action='https://innercamp.mettevo.com/checkout/', enctype='multipart/form-data', novalidate='novalidate')
                  .tab__check
                    .tab__.active
                      .box__pay
                        span
                          img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/checkout__1_pa.svg', alt='paypal')
                        span
                          img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/checkout__1_p.svg', alt='pay')
                      .or OR
                      .woocommerce-billing-fields
                        h3 Billing details
                        .woocommerce-billing-fields__field-wrapper
                          p#billing_first_name_field.form-row.form-row-first.validate-required(data-priority='10')
                            label(for='billing_first_name')
                              | First name&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_first_name.input-text(type='text', name='billing_first_name', placeholder='', value='demo', autocomplete='given-name')
                          p#billing_last_name_field.form-row.form-row-last.validate-required(data-priority='20')
                            label(for='billing_last_name')
                              | Last name&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_last_name.input-text(type='text', name='billing_last_name', placeholder='', value='democ', autocomplete='family-name')
                          p#billing_company_field.form-row.form-row-wide(data-priority='30')
                            label(for='billing_company')
                              | Company name&nbsp;
                              span.optional (optional)
                            span.woocommerce-input-wrapper
                              input#billing_company.input-text(type='text', name='billing_company', placeholder='', value='test', autocomplete='organization')
                          p#billing_country_field.form-row.form-row-wide.address-field.update_totals_on_change.validate-required(data-priority='40')
                            label(for='billing_country')
                              | Country / Region&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              select#billing_country.country_to_state.country_select.select2-hidden-accessible(name='billing_country', autocomplete='country', data-placeholder='Select a country / region…', data-label='Country / Region', tabindex='-1', aria-hidden='true')
                                option(value='') Select a country / region&mldr;
                                option(value='AF') Afghanistan
                                option(value='AX') &angst;land Islands
                                option(value='AL') Albania
                                option(value='DZ') Algeria
                                option(value='AS') American Samoa
                                option(value='AD') Andorra
                                option(value='AO') Angola
                                option(value='AI') Anguilla
                                option(value='AQ') Antarctica
                                option(value='AG') Antigua and Barbuda
                                option(value='AR') Argentina
                                option(value='AM') Armenia
                                option(value='AW') Aruba
                                option(value='AU') Australia
                                option(value='AT') Austria
                                option(value='AZ') Azerbaijan
                                option(value='BS') Bahamas
                                option(value='BH') Bahrain
                                option(value='BD') Bangladesh
                                option(value='BB') Barbados
                                option(value='BY') Belarus
                                option(value='PW') Belau
                                option(value='BE') Belgium
                                option(value='BZ') Belize
                                option(value='BJ') Benin
                                option(value='BM') Bermuda
                                option(value='BT') Bhutan
                                option(value='BO') Bolivia
                                option(value='BQ') Bonaire, Saint Eustatius and Saba
                                option(value='BA') Bosnia and Herzegovina
                                option(value='BW') Botswana
                                option(value='BV') Bouvet Island
                                option(value='BR') Brazil
                                option(value='IO') British Indian Ocean Territory
                                option(value='BN') Brunei
                                option(value='BG') Bulgaria
                                option(value='BF') Burkina Faso
                                option(value='BI') Burundi
                                option(value='KH') Cambodia
                                option(value='CM') Cameroon
                                option(value='CA') Canada
                                option(value='CV') Cape Verde
                                option(value='KY') Cayman Islands
                                option(value='CF') Central African Republic
                                option(value='TD') Chad
                                option(value='CL') Chile
                                option(value='CN') China
                                option(value='CX') Christmas Island
                                option(value='CC') Cocos (Keeling) Islands
                                option(value='CO') Colombia
                                option(value='KM') Comoros
                                option(value='CG') Congo (Brazzaville)
                                option(value='CD') Congo (Kinshasa)
                                option(value='CK') Cook Islands
                                option(value='CR') Costa Rica
                                option(value='HR') Croatia
                                option(value='CU') Cuba
                                option(value='CW') Cura&ccedil;ao
                                option(value='CY') Cyprus
                                option(value='CZ') Czech Republic
                                option(value='DK') Denmark
                                option(value='DJ') Djibouti
                                option(value='DM') Dominica
                                option(value='DO') Dominican Republic
                                option(value='EC') Ecuador
                                option(value='EG') Egypt
                                option(value='SV') El Salvador
                                option(value='GQ') Equatorial Guinea
                                option(value='ER') Eritrea
                                option(value='EE') Estonia
                                option(value='SZ') Eswatini
                                option(value='ET') Ethiopia
                                option(value='FK') Falkland Islands
                                option(value='FO') Faroe Islands
                                option(value='FJ') Fiji
                                option(value='FI') Finland
                                option(value='FR') France
                                option(value='GF') French Guiana
                                option(value='PF') French Polynesia
                                option(value='TF') French Southern Territories
                                option(value='GA') Gabon
                                option(value='GM') Gambia
                                option(value='GE') Georgia
                                option(value='DE') Germany
                                option(value='GH') Ghana
                                option(value='GI') Gibraltar
                                option(value='GR') Greece
                                option(value='GL') Greenland
                                option(value='GD') Grenada
                                option(value='GP') Guadeloupe
                                option(value='GU') Guam
                                option(value='GT') Guatemala
                                option(value='GG') Guernsey
                                option(value='GN') Guinea
                                option(value='GW') Guinea-Bissau
                                option(value='GY') Guyana
                                option(value='HT') Haiti
                                option(value='HM') Heard Island and McDonald Islands
                                option(value='HN') Honduras
                                option(value='HK') Hong Kong
                                option(value='HU') Hungary
                                option(value='IS') Iceland
                                option(value='IN') India
                                option(value='ID') Indonesia
                                option(value='IR') Iran
                                option(value='IQ') Iraq
                                option(value='IE') Ireland
                                option(value='IM') Isle of Man
                                option(value='IL') Israel
                                option(value='IT') Italy
                                option(value='CI') Ivory Coast
                                option(value='JM') Jamaica
                                option(value='JP') Japan
                                option(value='JE') Jersey
                                option(value='JO') Jordan
                                option(value='KZ') Kazakhstan
                                option(value='KE') Kenya
                                option(value='KI') Kiribati
                                option(value='KW') Kuwait
                                option(value='KG') Kyrgyzstan
                                option(value='LA') Laos
                                option(value='LV') Latvia
                                option(value='LB') Lebanon
                                option(value='LS') Lesotho
                                option(value='LR') Liberia
                                option(value='LY') Libya
                                option(value='LI') Liechtenstein
                                option(value='LT') Lithuania
                                option(value='LU') Luxembourg
                                option(value='MO') Macao
                                option(value='MG') Madagascar
                                option(value='MW') Malawi
                                option(value='MY') Malaysia
                                option(value='MV') Maldives
                                option(value='ML') Mali
                                option(value='MT') Malta
                                option(value='MH') Marshall Islands
                                option(value='MQ') Martinique
                                option(value='MR') Mauritania
                                option(value='MU') Mauritius
                                option(value='YT') Mayotte
                                option(value='MX') Mexico
                                option(value='FM') Micronesia
                                option(value='MD') Moldova
                                option(value='MC') Monaco
                                option(value='MN') Mongolia
                                option(value='ME') Montenegro
                                option(value='MS') Montserrat
                                option(value='MA') Morocco
                                option(value='MZ') Mozambique
                                option(value='MM') Myanmar
                                option(value='NA') Namibia
                                option(value='NR') Nauru
                                option(value='NP') Nepal
                                option(value='NL') Netherlands
                                option(value='NC') New Caledonia
                                option(value='NZ') New Zealand
                                option(value='NI') Nicaragua
                                option(value='NE') Niger
                                option(value='NG') Nigeria
                                option(value='NU') Niue
                                option(value='NF') Norfolk Island
                                option(value='KP') North Korea
                                option(value='MK') North Macedonia
                                option(value='MP') Northern Mariana Islands
                                option(value='NO') Norway
                                option(value='OM') Oman
                                option(value='PK') Pakistan
                                option(value='PS') Palestinian Territory
                                option(value='PA') Panama
                                option(value='PG') Papua New Guinea
                                option(value='PY') Paraguay
                                option(value='PE') Peru
                                option(value='PH') Philippines
                                option(value='PN') Pitcairn
                                option(value='PL') Poland
                                option(value='PT') Portugal
                                option(value='PR') Puerto Rico
                                option(value='QA') Qatar
                                option(value='RE') Reunion
                                option(value='RO') Romania
                                option(value='RU') Russia
                                option(value='RW') Rwanda
                                option(value='ST') S&atilde;o Tom&eacute; and Pr&iacute;ncipe
                                option(value='BL') Saint Barth&eacute;lemy
                                option(value='SH') Saint Helena
                                option(value='KN') Saint Kitts and Nevis
                                option(value='LC') Saint Lucia
                                option(value='SX') Saint Martin (Dutch part)
                                option(value='MF') Saint Martin (French part)
                                option(value='PM') Saint Pierre and Miquelon
                                option(value='VC') Saint Vincent and the Grenadines
                                option(value='WS') Samoa
                                option(value='SM') San Marino
                                option(value='SA') Saudi Arabia
                                option(value='SN') Senegal
                                option(value='RS') Serbia
                                option(value='SC') Seychelles
                                option(value='SL') Sierra Leone
                                option(value='SG') Singapore
                                option(value='SK') Slovakia
                                option(value='SI') Slovenia
                                option(value='SB') Solomon Islands
                                option(value='SO') Somalia
                                option(value='ZA') South Africa
                                option(value='GS') South Georgia/Sandwich Islands
                                option(value='KR') South Korea
                                option(value='SS') South Sudan
                                option(value='ES') Spain
                                option(value='LK') Sri Lanka
                                option(value='SD') Sudan
                                option(value='SR') Suriname
                                option(value='SJ') Svalbard and Jan Mayen
                                option(value='SE') Sweden
                                option(value='CH') Switzerland
                                option(value='SY') Syria
                                option(value='TW') Taiwan
                                option(value='TJ') Tajikistan
                                option(value='TZ') Tanzania
                                option(value='TH') Thailand
                                option(value='TL') Timor-Leste
                                option(value='TG') Togo
                                option(value='TK') Tokelau
                                option(value='TO') Tonga
                                option(value='TT') Trinidad and Tobago
                                option(value='TN') Tunisia
                                option(value='TR') Turkey
                                option(value='TM') Turkmenistan
                                option(value='TC') Turks and Caicos Islands
                                option(value='TV') Tuvalu
                                option(value='UG') Uganda
                                option(value='UA', selected='selected') Ukraine
                                option(value='AE') United Arab Emirates
                                option(value='GB') United Kingdom (UK)
                                option(value='US') United States (US)
                                option(value='UM') United States (US) Minor Outlying Islands
                                option(value='UY') Uruguay
                                option(value='UZ') Uzbekistan
                                option(value='VU') Vanuatu
                                option(value='VA') Vatican
                                option(value='VE') Venezuela
                                option(value='VN') Vietnam
                                option(value='VG') Virgin Islands (British)
                                option(value='VI') Virgin Islands (US)
                                option(value='WF') Wallis and Futuna
                                option(value='EH') Western Sahara
                                option(value='YE') Yemen
                                option(value='ZM') Zambia
                                option(value='ZW') Zimbabwe
                              span.select2.select2-container.select2-container--default(dir='ltr', style='width: 100%;')
                                span.selection
                                  span.select2-selection.select2-selection--single(aria-haspopup='true', aria-expanded='false', tabindex='0', aria-label='Country / Region', role='combobox')
                                    span#select2-billing_country-container.select2-selection__rendered(role='textbox', aria-readonly='true', title='Ukraine') Ukraine
                                    span.select2-selection__arrow(role='presentation')
                                      b(role='presentation')
                                span.dropdown-wrapper(aria-hidden='true')
                              noscript
                                button(type='submit', name='woocommerce_checkout_update_totals', value='Update country / region') Update country / region
                          p#billing_address_1_field.form-row.address-field.validate-required.form-row-wide(data-priority='50')
                            label(for='billing_address_1')
                              | Street address&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_address_1.input-text(type='text', name='billing_address_1', placeholder='House number and street name', value='29813192873', autocomplete='address-line1', data-placeholder='House number and street name')
                          p#billing_address_2_field.form-row.address-field.form-row-wide(data-priority='60')
                            label.screen-reader-text(for='billing_address_2')
                              | Apartment, suite, unit, etc.&nbsp;
                              span.optional (optional)
                            span.woocommerce-input-wrapper
                              input#billing_address_2.input-text(type='text', name='billing_address_2', placeholder='Apartment, suite, unit, etc. (optional)', value='s232y32u', autocomplete='address-line2', data-placeholder='Apartment, suite, unit, etc. (optional)')
                          p#billing_city_field.form-row.address-field.validate-required.form-row-wide(data-priority='70', data-o_class='form-row form-row-wide address-field validate-required')
                            label(for='billing_city')
                              | Town / City&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_city.input-text(type='text', name='billing_city', placeholder='', value='kiev', autocomplete='address-level2')
                          p#billing_state_field.form-row.address-field.validate-required.validate-state.form-row-wide(data-priority='80', data-o_class='form-row form-row-wide address-field validate-required validate-state')
                            label(for='billing_state')
                              | State / County&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              select#billing_state.state_select.select2-hidden-accessible(name='billing_state', autocomplete='address-level1', data-placeholder='Select an option…', data-input-classes='', data-label='State / County', tabindex='-1', aria-hidden='true')
                                option(value='') Select an option&mldr;
                                option(value='UA05') Vinnychchyna
                                option(value='UA07') Volyn
                                option(value='UA09') Luhanshchyna
                                option(value='UA12') Dnipropetrovshchyna
                                option(value='UA14') Donechchyna
                                option(value='UA18') Zhytomyrshchyna
                                option(value='UA21') Zakarpattia
                                option(value='UA23') Zaporizhzhya
                                option(value='UA26') Prykarpattia
                                option(value='UA30') Kyiv
                                option(value='UA32') Kyivshchyna
                                option(value='UA35') Kirovohradschyna
                                option(value='UA40') Sevastopol
                                option(value='UA43') Crimea
                                option(value='UA46') Lvivshchyna
                                option(value='UA48') Mykolayivschyna
                                option(value='UA51') Odeshchyna
                                option(value='UA53') Poltavshchyna
                                option(value='UA56') Rivnenshchyna
                                option(value='UA59') Sumshchyna
                                option(value='UA61') Ternopilshchyna
                                option(value='UA63') Kharkivshchyna
                                option(value='UA65') Khersonshchyna
                                option(value='UA68') Khmelnychchyna
                                option(value='UA71') Cherkashchyna
                                option(value='UA74') Chernihivshchyna
                                option(value='UA77') Chernivtsi Oblast
                              span.select2.select2-container.select2-container--default(dir='ltr', style='width: 100%;')
                                span.selection
                                  span.select2-selection.select2-selection--single(aria-haspopup='true', aria-expanded='false', tabindex='0', aria-label='State / County', role='combobox')
                                    span#select2-billing_state-container.select2-selection__rendered(role='textbox', aria-readonly='true', title='Kyiv') Kyiv
                                    span.select2-selection__arrow(role='presentation')
                                      b(role='presentation')
                                span.dropdown-wrapper(aria-hidden='true')
                          p#billing_postcode_field.form-row.address-field.validate-required.validate-postcode.form-row-wide(data-priority='90', data-o_class='form-row form-row-wide address-field validate-required validate-postcode')
                            label(for='billing_postcode')
                              | Postcode / ZIP&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_postcode.input-text(type='text', name='billing_postcode', placeholder='', value='2837828737', autocomplete='postal-code')
                          p#billing_phone_field.form-row.form-row-wide.validate-required.validate-phone(data-priority='100')
                            label(for='billing_phone')
                              | Phone&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_phone.input-text(type='tel', name='billing_phone', placeholder='', value='98374837483784873', autocomplete='tel')
                          p#billing_email_field.form-row.form-row-wide.validate-required.validate-email(data-priority='110')
                            label(for='billing_email')
                              | Email address&nbsp;
                              abbr.required(title='required') *
                            span.woocommerce-input-wrapper
                              input#billing_email.input-text(type='email', name='billing_email', placeholder='', value='test@gmail.com', autocomplete='email username')
                      .woocommerce-shipping-fields
                      .woocommerce-additional-fields
                        h3 Additional information
                        .woocommerce-additional-fields__field-wrapper
                          p#order_comments_field.form-row.notes(data-priority='')
                            label(for='order_comments')
                              | Order notes&nbsp;
                              span.optional (optional)
                            span.woocommerce-input-wrapper
                              textarea#order_comments.input-text(name='order_comments', placeholder='Notes about your order, e.g. special notes for delivery.', rows='2', cols='5')
                      .next__menu
                        a.back(href='javascript:;', data-num='1')
                          svg(width='8', height='11', viewbox='0 0 8 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.25 1L1.75 5.5L6.25 10', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                          | Go back
                        a.bundle(href='javascript:;', data-num='2') Continue to payment method 
                    .tab__
                      h3 Contact information
                      .box__email 
                        span.info Contact
                        span.email__ 
                        a(href='#billing_email', data-num='1') Change
                        
                      h3#order_review_heading Your order
                      table.shop_table.woocommerce-checkout-review-order-table
                        thead
                          tr
                            th.product-name Product
                            th.product-total Subtotal
                        tbody
                          tr.cart_item
                            td.product-name
                              | Cacao Ceremony Facilitator Training&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                              strong.product-quantity &times;&nbsp;1
                            td.product-total
                              span.woocommerce-Price-amount.amount
                                bdi
                                  span.woocommerce-Price-currencySymbol &euro;
                                  | 444
                          tr.cart_item
                            td.product-name
                              | Breathwork for Ancestral Healing Training&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                              strong.product-quantity &times;&nbsp;1
                            td.product-total
                              span.woocommerce-Price-amount.amount
                                bdi
                                  span.woocommerce-Price-currencySymbol &euro;
                                  | 222
                          tr.cart_item
                            td.product-name
                              | Breathwork Teacher Training &middot; January 2022&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                              strong.product-quantity &times;&nbsp;1
                            td.product-total
                              span.woocommerce-Price-amount.amount
                                bdi
                                  span.woocommerce-Price-currencySymbol &euro;
                                  | 1,800
                          tr.cart_item
                            td.product-name
                              | Breathwork Teacher Training &bull; February 2023&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                              strong.product-quantity &times;&nbsp;1
                            td.product-total
                              span.woocommerce-Price-amount.amount
                                bdi
                                  span.woocommerce-Price-currencySymbol &euro;
                                  | 1,800
                          tr.cart_item
                            td.product-name
                              | Bodywork &amp; Somatic Therapies for Healing Trauma &bull; March 2023&nbsp;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                              strong.product-quantity &times;&nbsp;1
                            td.product-total
                              span.woocommerce-Price-amount.amount
                                bdi
                                  span.woocommerce-Price-currencySymbol &euro;
                                  | 1,200
                        tfoot
                          tr.cart-subtotal
                            th Subtotal
                            td
                              span.woocommerce-Price-amount.amount
                                bdi
                                  span.woocommerce-Price-currencySymbol &euro;
                                  | 5,466
                          tr.cart-discount.coupon-test
                            th Coupon: test
                            td
                              | -
                              span.woocommerce-Price-amount.amount
                                span.woocommerce-Price-currencySymbol &euro;
                                | 100
                              a.woocommerce-remove-coupon(href='https://innercamp.mettevo.com/checkout/?remove_coupon=test', data-coupon='test') [Remove]
                          tr.order-total
                            th Total
                            td
                              strong
                                span.woocommerce-Price-amount.amount
                                  bdi
                                    span.woocommerce-Price-currencySymbol &euro;
                                    | 5,366
                      #payment.woocommerce-checkout-payment
                        ul.wc_payment_methods.payment_methods.methods
                          li.wc_payment_method.payment_method_bacs
                            input#payment_method_bacs.input-radio(type='radio', name='payment_method', value='bacs', checked='checked', data-order_button_text='')
                            label(for='payment_method_bacs')
                              | Direct bank transfer
                            .payment_box.payment_method_bacs
                              p
                                | Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                          li.wc_payment_method.payment_method_cheque
                            input#payment_method_cheque.input-radio(type='radio', name='payment_method', value='cheque', data-order_button_text='')
                            label(for='payment_method_cheque')
                              | Check payments
                            .payment_box.payment_method_cheque(style='display:none;')
                              p
                                | Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                          li.wc_payment_method.payment_method_cod
                            input#payment_method_cod.input-radio(type='radio', name='payment_method', value='cod', data-order_button_text='')
                            label(for='payment_method_cod')
                              | Cash on delivery
                            .payment_box.payment_method_cod(style='display:none;')
                              p Pay with cash upon delivery.
                        .form-row.place-order
                          noscript
                            | Since your browser does not support JavaScript, or it is disabled, please ensure you click the 
                            em Update Totals
                            |  button before placing your order. You may be charged more than the amount stated above if you fail to do so.&#x9;&#x9;&#x9;
                            br
                            button.button.alt.wp-element-button(type='submit', name='woocommerce_checkout_update_totals', value='Update totals') Update totals
                          .woocommerce-terms-and-conditions-wrapper
                            .woocommerce-privacy-policy-text
                              p
                                | Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our 
                                a.woocommerce-privacy-policy-link(href='', target='_blank') privacy policy
                                | .
                          button#place_order.button.alt.wp-element-button(type='submit', name='woocommerce_checkout_place_order', value='Place order', data-value='Place order') Place order
                          input#woocommerce-process-checkout-nonce(type='hidden', name='woocommerce-process-checkout-nonce', value='b6c8a599de')
                          input(type='hidden', name='_wp_http_referer', value='/?wc-ajax=update_order_review')
                      .next__menu
                        a.back(href='javascript:;', data-num='1')
                          svg(width='8', height='11', viewbox='0 0 8 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.25 1L1.75 5.5L6.25 10', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                          | Go back
                        a.bundle(href='javascript:;') Place your order


          
          
          

              //            
              //            .cont__
              //              
              //              .tab__check
              //                .tab__.active
              //                
              //                  .box__pay
              //                    span
              //                      img(src='img/checkout__1_pa.svg' alt='paypal')
              //                    span
              //                      img(src='img/checkout__1_p.svg' alt='pay')
              //
              //                  .or OR
              //                
              //                  h3 tab 1
              //                  
              //                  .next__menu
              //                    a.back(href='javascript:;' data-num='1')
              //                      svg(width='8', height='11', viewbox='0 0 8 11', fill='none', xmlns='http://www.w3.org/2000/svg')
              //                        path(d='M6.25 1L1.75 5.5L6.25 10', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
              //                      | Go back
              //                      
              //                    a.bundle(href='javascript:;' data-num='2') Continue to payment method 
              //                  
              //                .tab__
              //                  h3 tab 2
              //                  
              //                  .next__menu
              //                    a.back(href='javascript:;' data-num='1')
              //                      svg(width='8', height='11', viewbox='0 0 8 11', fill='none', xmlns='http://www.w3.org/2000/svg')
              //                        path(d='M6.25 1L1.75 5.5L6.25 10', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
              //                      | Go back
              //                      
              //                    a.bundle(href='javascript:;' data-num='3') Place your order
              //                .tab__
              //                  h3 tab 3
              //                  
              //                  .next__menu
              //                    a.back(href='javascript:;' data-num='2')
              //                      svg(width='8', height='11', viewbox='0 0 8 11', fill='none', xmlns='http://www.w3.org/2000/svg')
              //                        path(d='M6.25 1L1.75 5.5L6.25 10', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
              //                      | Go back
              //                      
              //                    a.bundle(href='javascript:;' data-num='3') Place your order
              //            
              //            
              //            
              //            
              //            
              //            .block__bottom
              //              ul
              //                li
              //                  a(href="javascript:;") Terms of Use
              //                li
              //                  a(href="javascript:;") Privacy Policy & Safety
              //                li
              //                  a(href="javascript:;") Legal
              //                li
              //                  a(href="javascript:;") Legal
              //
              //              p.copy © 2022 InnerCamp
          
              
          .col.m12.s12.l12.xl5
            .block__top
              a.open__top(href='javascript:;') Show order summary
              .price 
                span 3900€
              
            .block__add
              p.top Add more experiences
              .box
                .block__img
                  img(src='img/checkout__1_add_img.png' alt='paypal')
                .block__cont
                  h3.title__ Cacao Ceremony Facilitator Training  Cacao Ceremony Facilitator Training  Cacao Ceremony Facilitator Training
                  
                  .bottom
                    span.price 1950€
                    a.add__(href='javascript:;') Add to cart
                    
            .block__content

              ul.list
                li
                  .block__img
                    img(src='img/checkout__1_add_img.png' alt='paypal')
                  .block__cont
                    h3.title__ Cacao Ceremony Facilitator Training

                    .bottom
                      span.price 1950€
                      a.delete__(href='javascript:;')
                        svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M3 6.5H21' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M19 6.5V20.5C19 21.5 18 22.5 17 22.5H7C6 22.5 5 21.5 5 20.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M8 6.5V4.5C8 3.5 9 2.5 10 2.5H14C15 2.5 16 3.5 16 4.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M10 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M14 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')


                li.none
                  .block__img
                    img(src='img/checkout__1_add_img.png' alt='paypal')
                  .block__cont
                    h3.title__ Cacao Ceremony Facilitator Training

                    .bottom
                      span.price 1950€
                      a.delete__(href='javascript:;')
                        svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M3 6.5H21' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M19 6.5V20.5C19 21.5 18 22.5 17 22.5H7C6 22.5 5 21.5 5 20.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M8 6.5V4.5C8 3.5 9 2.5 10 2.5H14C15 2.5 16 3.5 16 4.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M10 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M14 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

              .coupon__
                form(method='POST', action='javascript:void(null);')
                  .form_input
                    span.field 
                      input(type='text', name='coupon', required='', value='', placeholder='Coupon code')

                  button.grey(type='submit', name='send') Apply

              .all__price
                .box__total
                  .subtotal Subtotal
                  .pricesubtotal 3900€
                .box__order__tol
                  .subtotal Order Total
                  .pricesubtotal 3900€

              .need
                p Need help?
                  a.open(href="javascript:;") Chat with us.
                
          