doctype html
head
  title Innercamp Home Pages
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')
  meta(property='og:url', content='https:')
  meta(property='og:image', content='img/logo.png?v=1.3')
  meta(property='og:image:width', content='300')
  meta(property='og:image:height', content='300')
  meta(property='og:title', content='')
  meta(property='og:site_name', content='')
  meta(property='og:description', content='')
  meta(property='og:type', conten='Keywords var keywords')
  meta(name='description', conten='Description var description')
  meta(name='keywords', conten='Keywords var keywords')
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
.bar-long
.scroll__menu.none
  .container
.right__menu
  .bock__top
    a.close__(href='javascript:;')
  .menu__
    ul#menu-header.menu
      li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
        a(href='javascript:;') Experiences
        ul.sub-menu
          li
            a(href='#') Experiences 2
          li
            a(href='#') Experiences 2
      li
        a(href='javascript:;') Get Certified
      li
        a(href='javascript:;') Testimonials
      li
        a(href='javascript:;') About us
      li
        a(href='javascript:;') Download the APP 111
    .app__
      p Download The App
      a(href='javascript:;')
        img(src='img/apl.svg', alt='')
      a(href='javascript:;')
        img(src='img/goo.svg', alt='')
  a.academy(href='javascript:;') InnerCamp Academy
  a.profile(href='javascript:;') Profile
.profile__menu
  .bock__top
    h4.title__ Profile
    a.close__(href='javascript:;')
  a.academy(href='javascript:;') InnerCamp Academy
  a.orders(href='javascript:;')
    | My
    | orders
  a.affiliate(href='javascript:;') Affiliate Program
  a.account(href='javascript:;') Account information
  a.log(href='javascript:;') Log out
.checkout__menu
  .bock__top
    .top
      | YOU HAVE 
      span.num 1
      |  ITEM(S) IN YOUR BAG
    a.close__(href='javascript:;')
  .box__content
    .block__add
      h5.top__ Suggestions:
      .box
        .block__img
          img(src='img/checkout__1_add_img.png', alt='paypal')
        .block__cont
          h3.title__
            | Cacao Ceremony Facilitator Training Cacao Ceremony Facilitator Training
            | Cacao Ceremony Facilitator Training
          .bottom
            span.price 1950&euro;
            a.here(href='javascript:;')
              | Join
              | here
      .box
        .block__img
          img(src='img/checkout__1_add_img.png', alt='paypal')
        .block__cont
          h3.title__
            | Cacao Ceremony Facilitator Training Cacao Ceremony Facilitator Training
            | Cacao Ceremony Facilitator Training
          .bottom
            span.price 1950&euro;
            a.here(href='javascript:;')
              | Join
              | here
    .block__content
      ul.list
        li
          .block__img
            img(src='img/checkout__1_add_img.png', alt='paypal')
          .block__cont
            h3.title__ Cacao Ceremony Facilitator Training
            .bottom
              span.price 1950&euro;
              a.delete__(href='javascript:;')
                svg(width='24', height='25', viewbox='0 0 24 25', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M3 6.5H21', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M19 6.5V20.5C19 21.5 18 22.5 17 22.5H7C6 22.5 5 21.5 5 20.5V6.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M8 6.5V4.5C8 3.5 9 2.5 10 2.5H14C15 2.5 16 3.5 16 4.5V6.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M10 11.5V17.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M14 11.5V17.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
        li
          .block__img
            img(src='img/checkout__1_add_img.png', alt='paypal')
          .block__cont
            h3.title__ Cacao Ceremony Facilitator Training
            .bottom
              span.price 1950&euro;
              a.delete__(href='javascript:;')
                svg(width='24', height='25', viewbox='0 0 24 25', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M3 6.5H21', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M19 6.5V20.5C19 21.5 18 22.5 17 22.5H7C6 22.5 5 21.5 5 20.5V6.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M8 6.5V4.5C8 3.5 9 2.5 10 2.5H14C15 2.5 16 3.5 16 4.5V6.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M10 11.5V17.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M14 11.5V17.5', stroke='#ADADAD', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
  .bottom__
    .box__total
      .subtotal Total:
      .pricesubtotal 1950&euro;
    a.bundle(href='javascript:;') Proceed to checkout
header(main='')
  .container
    .row
      .col.m12.s12.l12.xl12
        .box__logo
          a.logo(href='javascript:;')
            img(src='img/logo.svg', alt='logo')
        .menu__
          ul#menu-header.menu
            li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
              a(href='javascript:;') Experiences
              ul.sub-menu
                li
                  a(href='#') Experiences 2
                li
                  a(href='#') Experiences 2
            li
              a(href='javascript:;') Get Certified
            li
              a(href='javascript:;') Testimonials
            li
              a(href='javascript:;') About us
            li.bold-bg
              a(href='javascript:;') Download the APP
        .naviget__
          .box__user
            a.user(href='javascript:;')
            .box_menu__
              a.academy(href='javascript:;') InnerCamp Academy
              a.orders(href='javascript:;') My orders
              a.affiliate(href='javascript:;') Affiliate Program
              a.account(href='javascript:;') Account information
              a.log(href='javascript:;')
                | Log
                | out
          a.cart(href='javascript:;')
            span 2
          a.open__(href='javascript:;')  
section.find-your-coach
  .header-bg
  .container
    .row
      .col.m12.s12.l12.xl12
        h2.title Find your coach
        .find-your-coach__columns
          .find-your-coach__filter-wrapper
            .find-your-coach__filter
              h3.heading Filter by
              ul.coach-filter-list
                li.coach-filter-item
                  | All coaches 
                  span (30)
                li.coach-filter-item
                  | Breathwork 
                  span (1)
                li.coach-filter-item
                  | Tantra 
                  span (4)
                li.coach-filter-item
                  | Bodywork 
                  span (4)
            .find-your-coach__track
          .find-your-coach__content
            .find-your-coach__setings
              .find-your-coach__search
                input(type='search', placeholder='Search')
              .find-your-coach__mob-filter
                | Filter by
              ul.find-your-coach__grid-map-switch
                li.find-your-coach__switch-item.active
                  svg(width='26', height='26', viewbox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10.8333 15.1667H3.25V22.75H10.8333V15.1667Z', stroke='#424F44', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M10.8333 3.25H3.25V10.8333H10.8333V3.25Z', stroke='#424F44', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.1667 4.33331H22.75', stroke='#424F44', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.1667 9.75H22.75', stroke='#424F44', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.1667 16.25H22.75', stroke='#424F44', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M15.1667 21.6667H22.75', stroke='#424F44', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                li.find-your-coach__switch-item
                  svg(width='26', height='26', viewbox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M14.5712 0.369878C13.6308 -0.118035 12.3566 -0.125557 11.4088 0.361103C7.77546 2.22648 4.48 4.36528 1.59215 6.73751C1.14557 7.10435 0.828644 7.63742 0.834053 8.26487C0.839433 8.88975 1.1628 9.41569 1.60668 9.77654C4.47054 12.1043 7.76872 14.2452 11.3355 16.0957C12.2759 16.5837 13.5501 16.5912 14.498 16.1045C18.1312 14.2392 21.4267 12.1003 24.3146 9.72806C24.7612 9.36125 25.0782 8.82818 25.0727 8.20072C25.0672 7.57585 24.744 7.04989 24.3001 6.6891C21.4361 4.36122 18.138 2.22049 14.5712 0.369878ZM12.3733 2.21758C12.709 2.04517 13.2606 2.0468 13.5988 2.22221C17.0027 3.98838 20.1392 6.0203 22.8565 8.21501C20.1231 10.445 16.9958 12.4704 13.5336 14.248C13.1977 14.4204 12.6461 14.4187 12.308 14.2434C8.90396 12.4772 5.76748 10.4453 3.05022 8.25059C5.78371 6.02055 8.91086 3.99519 12.3733 2.21758Z', fill='#424F44')
                    path(d='M25.8403 13.3779C26.1478 13.8673 25.9978 14.5118 25.5055 14.8174L16.948 20.1286C15.7868 20.8494 14.3461 21.1826 12.9533 21.1826C11.5606 21.1827 10.1198 20.8496 8.95841 20.1291L0.494652 14.878C0.00226715 14.5725 -0.147774 13.928 0.159525 13.4385C0.466809 12.949 1.11508 12.7998 1.60745 13.1053L10.0712 18.3565C10.8337 18.8296 11.8695 19.0933 12.9532 19.0931C14.037 19.0931 15.0726 18.8293 15.8349 18.3562L24.3925 13.045C24.8847 12.7394 25.5331 12.8884 25.8403 13.3779Z', fill='#424F44')
                    path(d='M25.8403 18.6067C26.1478 19.0962 25.9978 19.7406 25.5056 20.0462L18.0947 24.647C16.6128 25.5671 14.759 25.9998 12.9533 26C11.1476 26.0001 9.29363 25.5675 7.81146 24.6477L0.494536 20.1068C0.00219328 19.8013 -0.147764 19.1568 0.159591 18.6674C0.466932 18.1779 1.11522 18.0289 1.60756 18.3344L8.92447 22.8752C10.0076 23.5474 11.4564 23.9107 12.9532 23.9105C14.4499 23.9104 15.8985 23.5471 16.9815 22.8747L24.3923 18.274C24.8846 17.9684 25.5329 18.1173 25.8403 18.6067Z', fill='#424F44')
            .find-your-coach__list
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
              .find-your-coach__card
                .find-your-coach__card-top
                  .img
                    img(src='./img/find-your-coach/user.jpg', alt='')
                  .find-your-coach__card-info
                    .find-your-coach__card-name
                      | Alexis Alcala
                    .find-your-coach__card-address
                      | Kyiv, Ukraine
                .find-your-coach__card-links
                  a.find-your-coach__instagram(href='#')
                  a.find-your-coach__facebook(href='#')
                  a.find-your-coach__email(href='#') innercamp@gmail.com
footer(main='')
  .container
    .row
      .col.m6.s12.l3.xl2
        .box__
          h3.title_ Experiences
          ul
            li
              a(href='javascript:;') Breathwork Teacher Training
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m6.s12.l3.xl2
        .box__
          h3.title_ About us
          ul
            li
              a(href='javascript:;') Breathwork Teacher Training
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m6.s12.l3.xl2
        .box__
          h3.title_ Partnership
          ul
            li
              a(href='javascript:;') Breathwork Teacher Training
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m6.s12.l3.xl2
        .box__
          h3.title_ Contacts
          ul
            li
              a.call(href='javascript:;') Request a callback
            li
              a.mail(href='javascript:;') contact@innercamp.com
            li
              a.address(href='javascript:;') Marbella | Bali | Tallin
      .col.m12.s12.l2.xl2
        .box__
          h3.title_ Legal
          ul
            li
              a(href='javascript:;') Terms of Use
            li
              a(href='javascript:;') Privacy Policy &amp; Safety
            li
              a(href='javascript:;') Legal
            li
              a(href='javascript:;') Cookies
      .col.m12.s12.l12.xl4
        h3.info Join thousands of changemakers 
        p.sub_info Receive a 50&euro; discount when you sign up
        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields
          .form_input
            span.field
              input.mail(type='email', name='email', required='', value='', placeholder='Your email')
          .form_input
            span.field
              input#scales(type='checkbox', name='scales', required='', value='')
              label(for='scales')
                | Yes, I would like to subscribe to the InnerCamp newsletter. I agree
                | to let InnerCamp process my personal data in order to send me personalised marketing
                | material, in accordance with the privacy notice. I confirm that I am 18 years old or
                | older.
          button.green(type='submit', name='send') Subscribe
      .col.m12.s12.l7.xl5
        a.logo__footer(href='javascript:;')
          img(src='img/logo.svg', alt='logo')
        ul.soseal
          li
            a(href='javascript:;')
              svg(width='23', height='23', viewbox='0 0 23 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M15.8331 2.37598H6.86322C4.38625 2.37598 2.37827 4.38396 2.37827 6.86093V15.8308C2.37827 18.3078 4.38625 20.3158 6.86322 20.3158H15.8331C18.3101 20.3158 20.3181 18.3078 20.3181 15.8308V6.86093C20.3181 4.38396 18.3101 2.37598 15.8331 2.37598Z', fill='white', stroke='white', stroke-width='2.04514', stroke-linecap='round', stroke-linejoin='round')
                path(d='M14.9363 10.7819C15.047 11.5284 14.9195 12.2908 14.5719 12.9607C14.2243 13.6306 13.6744 14.1738 13.0002 14.5131C12.3261 14.8524 11.5622 14.9705 10.8171 14.8506C10.072 14.7307 9.3837 14.3789 8.85006 13.8453C8.31642 13.3116 7.96463 12.6233 7.84474 11.8782C7.72484 11.1331 7.84294 10.3692 8.18224 9.69507C8.52153 9.02096 9.06475 8.47101 9.73462 8.12342C10.4045 7.77584 11.1669 7.64833 11.9134 7.75903C12.6749 7.87195 13.3799 8.22678 13.9242 8.77111C14.4685 9.31544 14.8234 10.0204 14.9363 10.7819Z', stroke='#D19D50', stroke-width='2.04514', stroke-linecap='round', stroke-linejoin='round')
                circle(cx='15.8794', cy='6.81506', r='0.56652', fill='#D19D50')
          li
            a(href='javascript:;')
              svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M18.2404 0.742188H1.75897C1.48884 0.742188 1.22977 0.849495 1.03877 1.0405C0.847756 1.23151 0.740448 1.49058 0.740448 1.76071V18.2422C0.740448 18.3759 0.766793 18.5084 0.817978 18.632C0.869164 18.7555 0.944187 18.8678 1.03877 18.9624C1.13334 19.057 1.24562 19.132 1.3692 19.1832C1.49277 19.2344 1.62521 19.2607 1.75897 19.2607H10.6293V12.0848H8.22193V9.307H10.6293V7.22367C10.5795 6.73455 10.6372 6.24045 10.7985 5.77602C10.9598 5.31158 11.2208 4.88806 11.5631 4.53516C11.9054 4.18226 12.3208 3.90852 12.7801 3.73315C13.2394 3.55778 13.7315 3.48501 14.2219 3.51997C14.9426 3.51553 15.6629 3.55263 16.3793 3.63108V6.13108H14.9071C13.7404 6.13108 13.5182 6.68663 13.5182 7.49219V9.27922H16.296L15.9349 12.057H13.5182V19.2607H18.2404C18.3742 19.2607 18.5066 19.2344 18.6302 19.1832C18.7538 19.132 18.8661 19.057 18.9606 18.9624C19.0552 18.8678 19.1302 18.7555 19.1814 18.632C19.2326 18.5084 19.259 18.3759 19.259 18.2422V1.76071C19.259 1.62695 19.2326 1.49451 19.1814 1.37094C19.1302 1.24736 19.0552 1.13508 18.9606 1.0405C18.8661 0.945927 18.7538 0.870903 18.6302 0.819718C18.5066 0.768532 18.3742 0.742187 18.2404 0.742188Z', fill='white')
          li
            a(href='javascript:;')
              svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z', fill='white', stroke='white', stroke-width='2.58333', stroke-linecap='round', stroke-linejoin='round')
                path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z', fill='#D19D50')
          li
            a(href='javascript:;')
              svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z', fill='white', stroke='white', stroke-width='2.58333', stroke-linecap='round', stroke-linejoin='round')
                path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z', fill='#D19D50')
      .col.m12.s12.l5.xl5
        .app__
          p Download The App
          a(href='javascript:;')
            img(src='img/apl.svg', alt='')
          a(href='javascript:;')
            img(src='img/goo.svg', alt='')
    .row
      .col.m9.s12.l6.xl6
        ul
          li
            a(href='javascript:;') Terms of Use
          li
            a(href='javascript:;') Privacy Policy &amp; Safety
          li
            a(href='javascript:;') Legal
          li
            a(href='javascript:;') Legal
      .col.m3.s12.l6.xl6
        p.copy &copy; 2022 InnerCamp
a.bot_modal(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
// //// MODAL ////
#modal-1.thank.modal(style='display: none;')
  .content_modal
    .box__
      .box__img
        img(src='img/thenk__modal.png', alt='logo_brand_1')
      .box__content
        h5.title Thank you!
        p
          | You will receive 
          span soon an email with further instructions.
          | Thank you for choosing us.
        a.bundle(href='javascript:;') Go to the home page
a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
// //// MODAL ////
#modal-2.modal__style.modal(style='display: none;')
  .content_modal
    h3 title
    form(method='POST', action='javascript:void(null);')
      // Hidden Required Fields
      .form_input
        span.field
          input(type='text', name='name', required='', value='', placeholder='Name')
      .form_input
        span.field
          input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
      .form_input
        span.field
          textarea.textarea(name='message', required='', value='', placeholder='You message')
      button.green(type='submit', name='send') Send
// script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
script.
  // console.log('index.pug');
  $(function () {
  $('[data-fancybox]').fancybox({
  //  touch: false,
  autoFocus: false
  });
  $("#test").on('click', function () {
  $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
  });
  $('.drop-button').on('click', function () {
  this.parentNode.classList.toggle('active');
  })
  if (document.querySelector('.find-your-coach__grid-map-switch')) {
  let mapSwitcher = [].slice.call($('.find-your-coach__switch-item'));
  $('.find-your-coach__switch-item').on('click', function () {
  mapSwitcher.forEach(element => {
  element.classList.remove('active');
  });
  this.classList.add('active');
  });
  }
  });
