doctype

html(lang='en')
  head
    
    - var title = "Innercamp Home Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body.info(data-img='img/-1.png')

    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close__(href='javascript:;')
      .menu__
        ul#menu-header.menu
          li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
            a(href='javascript:;') Experiences
            ul.sub-menu
              li
                a(href='#') Experiences 2
              li
                a(href='#') Experiences 2
          li
            a(href='javascript:;') Get Certified

          li
            a(href='javascript:;') Testimonials
          li
            a(href='javascript:;') About us
          li
            a(href='javascript:;') Download the APP 111

        .app__
          p Download The App
          a(href="javascript:;")
            img(src='img/apl.svg' alt='')
          a(href="javascript:;")
            img(src='img/goo.svg' alt='')

      a.academy(href='javascript:;') InnerCamp Academy
      a.profile(href='javascript:;') Profile
      
    
    .profile__menu
      .bock__top
        h4.title__ Profile
        a.close__(href='javascript:;')
        
      a.academy(href='javascript:;') InnerCamp Academy
      a.orders(href='javascript:;') My orders
      a.affiliate(href='javascript:;') Affiliate Program
      a.account(href='javascript:;') Account information
      a.log(href='javascript:;') Log out
      
      
    .checkout__menu
      .bock__top
        .top YOU HAVE <span class='num'>1</span> ITEM(S) IN YOUR BAG
        a.close__(href='javascript:;')
      .box__content
        

        .block__add
          h5.top__ Suggestions:
          .box
            .block__img
              img(src='img/checkout__1_add_img.png' alt='paypal')
            .block__cont
              h3.title__ Cacao Ceremony Facilitator Training  Cacao Ceremony Facilitator Training  Cacao Ceremony Facilitator Training

              .bottom
                span.price 1950€
                a.here(href='javascript:;') Join here
          .box
            .block__img
              img(src='img/checkout__1_add_img.png' alt='paypal')
            .block__cont
              h3.title__ Cacao Ceremony Facilitator Training  Cacao Ceremony Facilitator Training  Cacao Ceremony Facilitator Training

              .bottom
                span.price 1950€
                a.here(href='javascript:;') Join here

        .block__content

          ul.list
            li
              .block__img
                img(src='img/checkout__1_add_img.png' alt='paypal')
              .block__cont
                h3.title__ Cacao Ceremony Facilitator Training

                .bottom
                  span.price 1950€
                  a.delete__(href='javascript:;')
                    svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M3 6.5H21' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M19 6.5V20.5C19 21.5 18 22.5 17 22.5H7C6 22.5 5 21.5 5 20.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M8 6.5V4.5C8 3.5 9 2.5 10 2.5H14C15 2.5 16 3.5 16 4.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M10 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M14 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            li
              .block__img
                img(src='img/checkout__1_add_img.png' alt='paypal')
              .block__cont
                h3.title__ Cacao Ceremony Facilitator Training

                .bottom
                  span.price 1950€
                  a.delete__(href='javascript:;')
                    svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M3 6.5H21' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M19 6.5V20.5C19 21.5 18 22.5 17 22.5H7C6 22.5 5 21.5 5 20.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M8 6.5V4.5C8 3.5 9 2.5 10 2.5H14C15 2.5 16 3.5 16 4.5V6.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M10 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      path(d='M14 11.5V17.5' stroke='#ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        
      .bottom__
        .box__total
          .subtotal Total:
          .pricesubtotal 1950€
        a.bundle(href='javascript:;') Proceed to checkout


        

    header(main)
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li.bold-bg
                  a(href='javascript:;') Download the APP

            .naviget__
              .box__user
                a.user(href='javascript:;')
                .box_menu__
                  a.academy(href='javascript:;') InnerCamp Academy
                  a.orders(href='javascript:;') My orders
                  a.affiliate(href='javascript:;') Affiliate Program
                  a.account(href='javascript:;') Account information
                  a.log(href='javascript:;') Log out
                  

              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;') 
          
   

    section.home__1.black

      .container
        .row
          .col.m12.s12.l3.xl3
            a.bundle(href='javascript:;') Discover our trainings
            p Welcome to InnerCamp. Our mission is to guide you in rediscovering your true potential. Through holistic experiences, teacher trainings, and retreats.
            
          .col.m12.s12.l7.xl7
            h1.title Transform <span>WITH HOLISTIC EXPERIENCES</span> Mind, Body & Spirit 
          .col.m12.s12.l2.xl2
            a.scroll(href='javascript:;') SCROLL
            
      video( playsinline='', autoplay='', muted='', loop='', preload='none')
        source(src='video/home__11.mp4', type='video/mp4')

    section.home__2
      .container
        .row
          .col.m12.s12.l9.xl9
            p.sub News
            h2.title What's new at InnerCamp
          .col.m12.s12.l3.xl3
            .arrows
              a.left_a.previous-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

              a.right_a.next-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')

              
      #slider__post.splide
        .splide__track
          ul.splide__list
            li.splide__slide
              .box__
                .cont
                  h3.title Become a breathwork teacher
                  a.bundle(href='javascript:;') Discover Our Trainings
                  a.join(href='javascript:;') Join now
                .img.none
                  a.left_a(href='javascript:;')
                    img(src='img/slider__def.png' alt='image')
            li.splide__slide
              .box__
                .cont
                  h3.title Become a breathwork teacher
                  a.bundle(href='javascript:;') Discover Our Trainings
                  a.join(href='javascript:;') Join now
                .img.none
                  a.left_a(href='javascript:;')
                    img(src='img/slider__def.png' alt='image')
            li.splide__slide
              .box__
                .cont
                  h3.title Become a breathwork teacher
                  a.bundle(href='javascript:;') Discover Our Trainings
                  a.join(href='javascript:;') Join now
                .img.none
                  a.left_a(href='javascript:;')
                    img(src='img/slider__def.png' alt='image')

      .container
        .row
          .col.m12.s12.l12.xl12
            .block__elips
              ul.left__
                li
                  a(href='javascript:;')
                    p.sub_t Teacher
                    h3.title Trainings
                    
                li
                  a(href='javascript:;')
                    p.sub_t Virtual
                    h3.title Workshops
 
                    
                li
                  a(href='javascript:;')
                    p.sub_t Onsite
                    h3.title Retreats
                    
                li
                  a(href='javascript:;')
                    p.sub_t InnerCamp
                    h3.title APP
                
              .images
                img(src='img/ellipse_img.png' alt='image')
                .sub_t innercamp
                h2.title Who we are

              ul.right__
                li
                  a(href='javascript:;')
                    i
                    h3.title Breathwork
                    
                li
                  a(href='javascript:;')
                    i 
                    h3.title Bodywork
                    
                li
                  a(href='javascript:;')
                    i 
                    h3.title Tantra
                    
                li
                  a(href='javascript:;')
                    i 
                    h3.title Cacao
     
      .container
        .row
          .col.m12.s12.l12.xl12
            .arrows
              a.left_r.previous-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

              a.right_r.next-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')

    section.home__3
      #info__brand.splide
        .splide__track
          ul.splide__list
            li.splide__slide
              .box__con
                h3.sub INNERCAMP IS AN ACCREDITED SCHOOL
                p InnerCamp is registered and accredited by 
                  span the Complementary Medical Association. 
                p It is also a member school of 
                  span the International Breathwork Foundation.
                ul.list_img
                  li
                    img(src='img/mobile/certificates/brand_01.png' alt='')
                  li
                    img(src='img/mobile/certificates/brand_02.png' alt='')
                  li
                    img(src='img/mobile/certificates/brand_05.png' alt='')
                p Our courses are accredited by the leading independent 
                  span CPD accreditation institution.


            li.splide__slide
              .box__con
                h3.sub Awards
                p We are awarded with the Holistic 
                  span Health Specialists of the 2022/2023 Award 
                  | by the "Prestige Awards".
                  
                ul.list_img
                  li
                    img(src='img/mobile/certificates/brand_03.png' alt='')
                  li
                    img(src='img/mobile/certificates/brand_04.png' alt='')
                
                p InnerCamp was also recognized as 
                  span the Leading provider of Holistic Therapy 2022 
                  | by the GHP (Global Health & Pharma) Magazine.
                  
            li.splide__slide
              .box__con
                h3.sub INNERCAMP IS AN ACCREDITED SCHOOL
                p InnerCamp is registered and accredited by 
                  span the Complementary Medical Association. 
                p It is also a member school of 
                  span the International Breathwork Foundation.
                ul.list_img
                  li
                    img(src='img/mobile/certificates/brand_01.png' alt='')
                  li
                    img(src='img/mobile/certificates/brand_02.png' alt='')
                  li
                    img(src='img/mobile/certificates/brand_05.png' alt='')
                p Our courses are accredited by the leading independent 
                  span CPD accreditation institution.


            li.splide__slide
              .box__con
                h3.sub Awards
                p We are awarded with the Holistic 
                  span Health Specialists of the 2022/2023 Award 
                  | by the "Prestige Awards".
                  
                ul.list_img
                  li
                    img(src='img/mobile/certificates/brand_03.png' alt='')
                  li
                    img(src='img/mobile/certificates/brand_04.png' alt='')
                
                p InnerCamp was also recognized as 
                  span the Leading provider of Holistic Therapy 2022 
                  | by the GHP (Global Health & Pharma) Magazine.
  
  

    section.home__4
      .container
        .row
          .col.m12.s12.l8.xl8
            p.sub PARTNERS
            h2.title As seen in
  
      #brand_logo.splide
        .splide__track
          ul.splide__list
            li.splide__slide
              img.partners__image(src='img/brand_logo_1.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_2.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_3.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_4.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_5.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_6.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_7.svg' alt='')
            li.splide__slide
              img.partners__image(src='img/brand_logo_1.svg' alt='')
              
      .container
        .row
          .col.m12.s12.l8.xl8
            p.sub TEACHER TRAININGS
            h2.title Upcoming Trainings
          .col.m12.s12.l4.xl4
           a.more(href='javascript:;') View All Trainings
            svg(width='38' height='15' viewbox='0 0 38 15' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M37.7071 8.20711C38.0976 7.81658 38.0976 7.18342 37.7071 6.79289L31.3431 0.428932C30.9526 0.0384078 30.3195 0.0384078 29.9289 0.428932C29.5384 0.819457 29.5384 1.45262 29.9289 1.84315L35.5858 7.5L29.9289 13.1569C29.5384 13.5474 29.5384 14.1805 29.9289 14.5711C30.3195 14.9616 30.9526 14.9616 31.3431 14.5711L37.7071 8.20711ZM0 8.5H37V6.5H0V8.5Z' fill='#424F44')

      .containerr
        #trainings.splide
          .splide__track
            ul.splide__list
            
            
            
              li.splide__slide
              
                .trainings__
                  .top__img
                    a.element.tantra(href='javascript:;') Tantra
                    img(src='img/trainin_1.png' alt='')
                  .box__content
                    p.man november 2022
                    h3.title__ Tantra method teacher training
                    a.level(href='javascript:;') Levels 1 & 2
                    .categor
                      a(href='javascript:;') Fundamentals,
                      a(href='javascript:;') Facilitator & Coach
                    .date Nov 11, 2022 to Sep 15, 2023
                    .lang English
                    .clock 300 hours
                    .status.online online
                    
                    a.bundle Start from 1200€

         
              li.splide__slide
              
                .trainings__
                  .top__img
                    a.element.breathwork(href='javascript:;') Breathwork
                    img(src='img/trainin_2.png' alt='')
                  .box__content
                    p.man november 2022
                    h3.title__ Tantra method teacher training
                    a.level(href='javascript:;') Levels 1 & 2
                    .categor
                      a(href='javascript:;') Fundamentals,
                      a(href='javascript:;') Facilitator & Coach
                    .date Nov 11, 2022 to Sep 15, 2023
                    .lang English
                    .clock 700 hours
                    .status.on-site on-site
                    
                    a.bundle Start from 1700€

         
              li.splide__slide
              
                .trainings__
                  .top__img
                    a.element.bodywork(href='javascript:;') bodywork
                    img(src='img/trainin_3.png' alt='')
                  .box__content
                    p.man november 2022
                    h3.title__ Tantra method teacher training
                    a.level(href='javascript:;') Levels 1 & 2
                    .categor
                      a(href='javascript:;') Fundamentals,
                      a(href='javascript:;') Facilitator & Coach
                    .date Nov 11, 2022 to Sep 15, 2023
                    .lang English
                    .clock 300 hours
                    .status.online online
                    
                    a.bundle Start from 1200€

      .container
        .row
          .col.m12.s12.l12.xl12
            a.more(href='javascript:;') View All Trainings
              svg(width='38' height='15' viewbox='0 0 38 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M37.7071 8.20711C38.0976 7.81658 38.0976 7.18342 37.7071 6.79289L31.3431 0.428932C30.9526 0.0384078 30.3195 0.0384078 29.9289 0.428932C29.5384 0.819457 29.5384 1.45262 29.9289 1.84315L35.5858 7.5L29.9289 13.1569C29.5384 13.5474 29.5384 14.1805 29.9289 14.5711C30.3195 14.9616 30.9526 14.9616 31.3431 14.5711L37.7071 8.20711ZM0 8.5H37V6.5H0V8.5Z' fill='#424F44')



    section.home__5
      .container
        .row
          .col.m12.s12.l12.xl12
            p.sub EXPERIENCE INNERCAMP
            h2.title Come join our workshops and try the InnerCamp Method
            
            p Experience the benefits of our virtual and in-person workshops.


    section.home__6
      .container
        .row
          .col.m12.s12.l8.xl8
            p.sub TEACHER TRAININGS
            h2.title Upcoming Workshops
            
            
          .col.m12.s12.l4.xl4
           a.more(href='javascript:;') View All Trainings
            svg(width='38' height='15' viewbox='0 0 38 15' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M37.7071 8.20711C38.0976 7.81658 38.0976 7.18342 37.7071 6.79289L31.3431 0.428932C30.9526 0.0384078 30.3195 0.0384078 29.9289 0.428932C29.5384 0.819457 29.5384 1.45262 29.9289 1.84315L35.5858 7.5L29.9289 13.1569C29.5384 13.5474 29.5384 14.1805 29.9289 14.5711C30.3195 14.9616 30.9526 14.9616 31.3431 14.5711L37.7071 8.20711ZM0 8.5H37V6.5H0V8.5Z' fill='#424F44')

      #workshop.splide
        .splide__track
          ul.splide__list
            li.splide__slide
              .workshop__box
                .top__
                  img(src='img/home__6_icon1.svg' alt='') 
                  | Breathwork
                .soom
                  span.video Zoom meeting in English
                  span.calen Nov 11
                  
                h3.title__ Awakening your 3 power centers
                
                p Bring back the power to create inner strength and joy.
                
                .box__img
                  .images
                    img(src='img/home__6_user.png' alt='') 
                    span.name Marjolein Van Ommeren
                    
                  a.join(href='javascript:;') Join for free
                
            li.splide__slide
              .workshop__box
                .top__.grey
                  img(src='img/home__6_icon2.svg' alt='') 
                  | Breathwork
                .soom
                  span.video Zoom meeting in English
                  span.calen Nov 11
                  
                h3.title__ Awakening your 3 power centers
                
                p Bring back the power to create inner strength and joy.
                
                .box__img
                  .images
                    img(src='img/home__6_user.png' alt='') 
                    span.name Marjolein Van Ommeren
                    
                  a.join(href='javascript:;') Join for free
                
            li.splide__slide
              .workshop__box
                .top__.grey
                  img(src='img/home__6_icon1.svg' alt='') 
                  | Breathwork
                .soom
                  span.video Zoom meeting in English
                  span.calen Nov 11
                  
                h3.title__ Awakening your 3 power centers
                
                p Bring back the power to create inner strength and joy.
                
                .box__img
                  .images
                    img(src='img/home__6_user.png' alt='') 
                    span.name Marjolein Van Ommeren
                    
                  a.join(href='javascript:;') Join for free
                


                  
             

      .container
        .row
          .col.m12.s12.l12.xl12
           a.more(href='javascript:;') View All Trainings
            svg(width='38' height='15' viewbox='0 0 38 15' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M37.7071 8.20711C38.0976 7.81658 38.0976 7.18342 37.7071 6.79289L31.3431 0.428932C30.9526 0.0384078 30.3195 0.0384078 29.9289 0.428932C29.5384 0.819457 29.5384 1.45262 29.9289 1.84315L35.5858 7.5L29.9289 13.1569C29.5384 13.5474 29.5384 14.1805 29.9289 14.5711C30.3195 14.9616 30.9526 14.9616 31.3431 14.5711L37.7071 8.20711ZM0 8.5H37V6.5H0V8.5Z' fill='#424F44')
              
    section.home__7
      .container
        .row
          .col.m12.s12.l12.xl6
            p.sub Our Mission
            h2.title You become part of something bigger.
            
            p Our expert-led experiences are powered by science and extensive spiritual research. We have put a lot of thought, time and love behind each course to help you progress and lead others through times of change.

            p We are a global community that has established a new approach to the world of holistic health and creates a safe environment for learning and growth. Through the contemporary teachings of Breathwork, Tantra, Bodywork, Shamanism and Energy Healing we create a vision for the life you want while increasing knowledge and providing tools to fulfil your dreams.
            
            a.bundle(href="javascript:;") Discover our trainings
            
          .col.m12.s12.l6.xl6
            .block__img
              video( playsinline='', autoplay='', muted='', loop='', preload='none')
                source(src='video/home__7.mp4', type='video/mp4')
              img.images.none(src='img/home__7_img.png' alt='')


                
    section.home__8
      .container
        .row
          .col.m12.s12.l12.xl9
            p.sub testimonias
            h2.title Have a look at what our students have to say about InnerCamp
            
          .col.m12.s12.l2.xl3
            .arrows
              a.left_a.previous-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

              a.right_a.next-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')
        .row
          .col.m12.s12.l12.xl4
            a.bundle(href="javascript:;") Discover our trainings
        
          .col.m12.s12.l12.xl8 
            #testimonias.splide

              .splide__track
                ul.splide__list
                  li.splide__slide
                    .block__
                      p The structure of the course and shedule made it completely doable while working. It gave me all of the tools that I need  to confidently use breathwork with my clients. As well as teaching me to find my unique voice as a breathwork facilitator
                    .user 
                      .images
                        img(src='img/testimonials/user.png' alt='')
                      .info
                        h4.name JEN D
                        .tag
                          a.tags(href="javascript:;") Breathwork Teacher Training

                          
                  li.splide__slide
                    .block__
                      p The structure of the course and shedule made it completely doable while working. It gave me all of the tools that I need  to confidently use breathwork with my clients. As well as teaching me to find my unique voice as a breathwork facilitator
                    .user
                      .images
                        img(src='img/testimonials/user.png' alt='')
                      .info
                        h4.name JEN D
                        .tag
                          a.tags(href="javascript:;") Breathwork Teacher Training


                          
                          
                  li.splide__slide
                    .block__
                      p The structure of the course and shedule made it completely doable while working. It gave me all of the tools that I need  to confidently use breathwork with my clients. As well as teaching me to find my unique voice as a breathwork facilitator
                    .user
                      .images
                        img(src='img/testimonials/user.png' alt='')
                      .info
                        h4.name JEN D
                        .tag
                          a.tags(href="javascript:;") Breathwork Teacher Training


              .arrows
                a.left_a.previous__(href='javascript:;')
                  svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

                a.right_a.next__(href='javascript:;')
                  svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')     
                  
    section.home__9
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Our Methods help increase energy levels
            a.bundle(href="javascript:;") Discover our trainings
            
    footer(main).none
      .container
        .row
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Experiences
              ul
                li
                  a(href="javascript:;") Breathwork Teacher Training
                li
                  a(href="javascript:;") Virtual Workshops 
                li
                  a(href="javascript:;") Onsite Retreats 
                li
                  a(href="javascript:;") Find a Coach 
                  
                  
                  
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ About us
              ul
                li
                  a(href="javascript:;") Breathwork Teacher Training
                li
                  a(href="javascript:;") Virtual Workshops 
                li
                  a(href="javascript:;") Onsite Retreats 
                li
                  a(href="javascript:;") Find a Coach 
                  
                  
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Partnership
              ul
                li
                  a(href="javascript:;") Breathwork Teacher Training
                li
                  a(href="javascript:;") Virtual Workshops 
                li
                  a(href="javascript:;") Onsite Retreats 
                li
                  a(href="javascript:;") Find a Coach 
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Contacts
              ul
                li
                  a.call(href="javascript:;") Request a callback
                li
                  a.mail(href="javascript:;") contact@innercamp.com
                li
                  a.address(href="javascript:;") Marbella | Bali | Tallin

          .col.m12.s12.l2.xl2
            .box__
              h3.title_ Legal
              ul
                li
                  a(href="javascript:;") Terms of Use
                li
                  a(href="javascript:;") Privacy Policy & Safety
                li
                  a(href="javascript:;") Legal
                li
                  a(href="javascript:;") Cookies
          
          .col.m12.s12.l12.xl4
            h3.info Join thousands of changemakers 
            p.sub_info Receive a 50€ discount when you sign up
            
            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields

              .form_input
                span.field
                  input.mail(type='email', name='email', required='', value='', placeholder='Your email')

              .form_input
                span.field
                  input(type='checkbox', name='scales', required='', value='', id='scales')
                  label(for="scales") Yes, I would like to subscribe to the InnerCamp newsletter. I agree to let InnerCamp process my personal data in order to send me personalised marketing material, in accordance with the privacy notice. I confirm that I am 18 years old or older.


              button.green(type='submit', name='send' disabled) Subscribe
            
          .col.m12.s12.l7.xl5
            a.logo__footer(href="javascript:;")
              img(src='img/logo.svg' alt='logo')

            ul.soseal
              li
                a(href="javascript:;")
                  svg(width='23' height='23' viewbox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.8331 2.37598H6.86322C4.38625 2.37598 2.37827 4.38396 2.37827 6.86093V15.8308C2.37827 18.3078 4.38625 20.3158 6.86322 20.3158H15.8331C18.3101 20.3158 20.3181 18.3078 20.3181 15.8308V6.86093C20.3181 4.38396 18.3101 2.37598 15.8331 2.37598Z' fill='white' stroke='white' stroke-width='2.04514' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M14.9363 10.7819C15.047 11.5284 14.9195 12.2908 14.5719 12.9607C14.2243 13.6306 13.6744 14.1738 13.0002 14.5131C12.3261 14.8524 11.5622 14.9705 10.8171 14.8506C10.072 14.7307 9.3837 14.3789 8.85006 13.8453C8.31642 13.3116 7.96463 12.6233 7.84474 11.8782C7.72484 11.1331 7.84294 10.3692 8.18224 9.69507C8.52153 9.02096 9.06475 8.47101 9.73462 8.12342C10.4045 7.77584 11.1669 7.64833 11.9134 7.75903C12.6749 7.87195 13.3799 8.22678 13.9242 8.77111C14.4685 9.31544 14.8234 10.0204 14.9363 10.7819Z' stroke='#D19D50' stroke-width='2.04514' stroke-linecap='round' stroke-linejoin='round')
                    circle(cx='15.8794' cy='6.81506' r='0.56652' fill='#D19D50')

              li
                a(href="javascript:;")
                  svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M18.2404 0.742188H1.75897C1.48884 0.742188 1.22977 0.849495 1.03877 1.0405C0.847756 1.23151 0.740448 1.49058 0.740448 1.76071V18.2422C0.740448 18.3759 0.766793 18.5084 0.817978 18.632C0.869164 18.7555 0.944187 18.8678 1.03877 18.9624C1.13334 19.057 1.24562 19.132 1.3692 19.1832C1.49277 19.2344 1.62521 19.2607 1.75897 19.2607H10.6293V12.0848H8.22193V9.307H10.6293V7.22367C10.5795 6.73455 10.6372 6.24045 10.7985 5.77602C10.9598 5.31158 11.2208 4.88806 11.5631 4.53516C11.9054 4.18226 12.3208 3.90852 12.7801 3.73315C13.2394 3.55778 13.7315 3.48501 14.2219 3.51997C14.9426 3.51553 15.6629 3.55263 16.3793 3.63108V6.13108H14.9071C13.7404 6.13108 13.5182 6.68663 13.5182 7.49219V9.27922H16.296L15.9349 12.057H13.5182V19.2607H18.2404C18.3742 19.2607 18.5066 19.2344 18.6302 19.1832C18.7538 19.132 18.8661 19.057 18.9606 18.9624C19.0552 18.8678 19.1302 18.7555 19.1814 18.632C19.2326 18.5084 19.259 18.3759 19.259 18.2422V1.76071C19.259 1.62695 19.2326 1.49451 19.1814 1.37094C19.1302 1.24736 19.0552 1.13508 18.9606 1.0405C18.8661 0.945927 18.7538 0.870903 18.6302 0.819718C18.5066 0.768532 18.3742 0.742187 18.2404 0.742188Z' fill='white')

              li
                a(href="javascript:;")
                  svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z' fill='white' stroke='white' stroke-width='2.58333' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z' fill='#D19D50')


              li
                a(href="javascript:;")
                  svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z' fill='white' stroke='white' stroke-width='2.58333' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z' fill='#D19D50')
                    
          .col.m12.s12.l5.xl5
            .app__
              p Download The App
              a(href="javascript:;")
                img(src='img/apl.svg' alt='')
              a(href="javascript:;")
                img(src='img/goo.svg' alt='')
          
        .row
          .col.m9.s12.l6.xl6
            ul
              li
                a(href="javascript:;") Terms of Use
              li
                a(href="javascript:;") Privacy Policy & Safety
              li
                a(href="javascript:;") Legal
              li
                a(href="javascript:;") Legal
            
          .col.m3.s12.l6.xl6
            p.copy © 2022 InnerCamp
          
          
          



    footer.act__(main='')
      .container
        .row
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Experiences
              .menu-experiences-container
                ul#menu-experiences.menu
                  li#menu-item-399.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-399
                    a(href='https://innercamp.mettevo.com/trainings/') Get Certified
                  li#menu-item-400.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-400
                    a(href='https://innercamp.mettevo.com/virtual-workshops/') Virtual Workshops
                  li#menu-item-63732.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63732
                    a(href='https://innercamp.mettevo.com/onsite-retreats/') Onsite Retreats
                  li#menu-item-63745.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63745
                    a(href='https://innercamp.mettevo.com/find-your-coach/') Find a Coach
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ About us
              .menu-about-us-container
                ul#menu-about-us.menu
                  li#menu-item-63727.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63727
                    a(href='https://innercamp.mettevo.com/innercamp-team/') InnerCamp Team
                  li#menu-item-63728.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63728
                    a(href='https://innercamp.mettevo.com/testimonials/') Testimonials
                  li#menu-item-63729.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63729
                    a(href='https://innercamp.mettevo.com/faq/') FAQ
                  li#menu-item-63730.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63730
                    a(href='https://innercamp.mettevo.com/blog/') Blog
                  li#menu-item-63731.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63731
                    a(href='https://innercamp.mettevo.com/careers/') Careers
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Partnership
              .menu-partnership-container
                ul#menu-partnership.menu
                  li#menu-item-63741.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63741
                    a(href='https://innercamp.mettevo.com/affiliate-program/') Affiliate-program
                  li#menu-item-63742.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-63742
                    a(href='https://innercamp.mettevo.com/corporate/') InnerCamp for Corporate
                  li#menu-item-62830.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-62830
                    a(href='https://innercamp.mettevo.com/collaborations/') Collaborations
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Contacts
              ul
                li
                  a.call(data-fancybox='', data-src='#modal-2', href='javascript:;') Request a callback
                li
                  a.mail(href='javascript:;') contact@innercamp.com 
                li
                  a.address(href='javascript:;') Marbella | Bali | Tallin
          .col.m12.s12.l2.xl2
            .box__
              h3.title_ Legal
              .menu-legal-container
                ul#menu-legal.menu
                  li#menu-item-259.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-259
                    a(href='https://innercamp.mettevo.com/terms-of-service/') Terms of Use
                  li#menu-item-258.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-258
                    a(href='https://innercamp.mettevo.com/privacy-policy/') Privacy Policy &amp; Safety
                  li#menu-item-260.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-260
                    a(href='https://innercamp.mettevo.com/legal-warning/') Legal
                  li#menu-item-257.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-257
                    a(href='https://innercamp.mettevo.com/cookies-policy/') Cookies
          .col.m12.s12.l12.xl4
            h3.info Join thousands of changemakers 
            p.sub_info Receive a 50&euro; discount when you sign up
            // 
            #wpcf7-f62822-o1.wpcf7.js(lang='en-US', dir='ltr')
              .screen-reader-response
                p(role='status', aria-live='polite', aria-atomic='true')
                ul
              form.wpcf7-form.init(action='/product/tantra-method-teacher-training-august2022/#wpcf7-f62822-o1', method='post', aria-label='Contact form', novalidate='novalidate', data-status='init')
                div(style='display: none;')
                  input(type='hidden', name='_wpcf7', value='62822')
                  input(type='hidden', name='_wpcf7_version', value='5.7.3')
                  input(type='hidden', name='_wpcf7_locale', value='en_US')
                  input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f62822-o1')
                  input(type='hidden', name='_wpcf7_container_post', value='0')
                  input(type='hidden', name='_wpcf7_posted_data_hash', value='')
                .form_input
                  p
                    span.field
                      span.wpcf7-form-control-wrap(data-name='email-770')
                        input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.mail(size='40', aria-required='true', aria-invalid='false', placeholder='Your email', value='', type='email', name='email-770')
                .form_input
                  p
                    span.field
                      span.wpcf7-form-control-wrap(data-name='checkbox-39')
                        span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required.wpcf7-exclusive-checkbox
                          span.wpcf7-list-item.first.last
                            label
                              span.wpcf7-list-item-label
                                | Yes, I would like to subscribe to the InnerCamp newsletter. I agree to let InnerCamp process my personal data in order to send me personalised marketing material, in accordance with the privacy notice. I confirm that I am 18 years old or older.
                              input(type='checkbox', name='checkbox-39', value='Yes, I would like to subscribe to the InnerCamp newsletter. I agree to let InnerCamp process my personal data in order to send me personalised marketing material, in accordance with the privacy notice. I confirm that I am 18 years old or older.', tabindex='')
                p
                  button.green(type='submit', name='send') Subscribe
                .wpcf7-response-output(aria-hidden='true')
          .col.m12.s12.l7.xl5
            a.logo__footer(href='/')
              img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/logo.svg', alt='logo')
            ul.soseal
              li
                a.facebook-footer(target='_blank', href='https://www.facebook.com/innercamp/')
                  svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M18.2404 0.742188H1.75897C1.48884 0.742188 1.22977 0.849495 1.03877 1.0405C0.847756 1.23151 0.740448 1.49058 0.740448 1.76071V18.2422C0.740448 18.3759 0.766793 18.5084 0.817978 18.632C0.869164 18.7555 0.944187 18.8678 1.03877 18.9624C1.13334 19.057 1.24562 19.132 1.3692 19.1832C1.49277 19.2344 1.62521 19.2607 1.75897 19.2607H10.6293V12.0848H8.22193V9.307H10.6293V7.22367C10.5795 6.73455 10.6372 6.24045 10.7985 5.77602C10.9598 5.31158 11.2208 4.88806 11.5631 4.53516C11.9054 4.18226 12.3208 3.90852 12.7801 3.73315C13.2394 3.55778 13.7315 3.48501 14.2219 3.51997C14.9426 3.51553 15.6629 3.55263 16.3793 3.63108V6.13108H14.9071C13.7404 6.13108 13.5182 6.68663 13.5182 7.49219V9.27922H16.296L15.9349 12.057H13.5182V19.2607H18.2404C18.3742 19.2607 18.5066 19.2344 18.6302 19.1832C18.7538 19.132 18.8661 19.057 18.9606 18.9624C19.0552 18.8678 19.1302 18.7555 19.1814 18.632C19.2326 18.5084 19.259 18.3759 19.259 18.2422V1.76071C19.259 1.62695 19.2326 1.49451 19.1814 1.37094C19.1302 1.24736 19.0552 1.13508 18.9606 1.0405C18.8661 0.945927 18.7538 0.870903 18.6302 0.819718C18.5066 0.768532 18.3742 0.742187 18.2404 0.742188Z', fill='white')
              li
                a.instagram.icon-g-67(target='_blank', href='https://www.instagram.com/innercamp/')
                  svg(width='23', height='23', viewbox='0 0 23 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.8331 2.37598H6.86322C4.38625 2.37598 2.37827 4.38396 2.37827 6.86093V15.8308C2.37827 18.3078 4.38625 20.3158 6.86322 20.3158H15.8331C18.3101 20.3158 20.3181 18.3078 20.3181 15.8308V6.86093C20.3181 4.38396 18.3101 2.37598 15.8331 2.37598Z', fill='white', stroke='white', stroke-width='2.04514', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M14.9363 10.7819C15.047 11.5284 14.9195 12.2908 14.5719 12.9607C14.2243 13.6306 13.6744 14.1738 13.0002 14.5131C12.3261 14.8524 11.5622 14.9705 10.8171 14.8506C10.072 14.7307 9.3837 14.3789 8.85006 13.8453C8.31642 13.3116 7.96463 12.6233 7.84474 11.8782C7.72484 11.1331 7.84294 10.3692 8.18224 9.69507C8.52153 9.02096 9.06475 8.47101 9.73462 8.12342C10.4045 7.77584 11.1669 7.64833 11.9134 7.75903C12.6749 7.87195 13.3799 8.22678 13.9242 8.77111C14.4685 9.31544 14.8234 10.0204 14.9363 10.7819Z', stroke='#D19D50', stroke-width='2.04514', stroke-linecap='round', stroke-linejoin='round')
                    circle(cx='15.8794', cy='6.81506', r='0.56652', fill='#D19D50')
              li
                a.youtube(target='_blank', href='https://www.youtube.com/channel/UCqDaIVOzNYVvurQCEapV1uw')
                  svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z', fill='white', stroke='white', stroke-width='2.58333', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z', fill='#D19D50')
              li
                a.youtube(target='_blank', href='https://open.spotify.com/user/1158921555')
                  svg(width='21', height='21', viewbox='0 0 21 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M16.7111 9.30846C13.3265 7.29841 7.74368 7.11363 4.51265 8.09425C3.99366 8.25167 3.44505 7.95883 3.28792 7.43994C3.13068 6.92076 3.42323 6.37243 3.94241 6.21473C7.65152 5.08891 13.8171 5.30633 17.7135 7.61927C18.1803 7.89639 18.3332 8.49908 18.0566 8.96494C17.7798 9.43164 17.1765 9.58558 16.711 9.30846M16.6002 12.2855C16.3627 12.6708 15.8589 12.7917 15.4741 12.5551C12.6525 10.8207 8.34965 10.3181 5.01133 11.3315C4.57848 11.4622 4.12118 11.2183 3.98971 10.7861C3.92704 10.5783 3.94931 10.3542 4.05164 10.1628C4.15397 9.97142 4.32801 9.82844 4.5356 9.76519C8.34909 8.60788 13.09 9.16834 16.3309 11.16C16.7157 11.397 16.8368 11.9011 16.6002 12.2855ZM15.3154 15.1446C15.2706 15.218 15.2119 15.282 15.1424 15.3327C15.073 15.3834 14.9942 15.4199 14.9106 15.4401C14.827 15.4604 14.7403 15.4639 14.6553 15.4506C14.5704 15.4372 14.4889 15.4073 14.4155 15.3624C11.9499 13.8554 8.84636 13.5151 5.19142 14.35C5.10767 14.3691 5.02097 14.3716 4.93627 14.3572C4.85157 14.3429 4.77053 14.312 4.69778 14.2663C4.62503 14.2206 4.56199 14.161 4.51227 14.0909C4.46255 14.0209 4.42711 13.9417 4.40799 13.858C4.38874 13.7742 4.3862 13.6874 4.40052 13.6027C4.41484 13.5179 4.44574 13.4368 4.49145 13.364C4.53716 13.2912 4.59678 13.2282 4.6669 13.1784C4.73703 13.1287 4.81627 13.0933 4.90009 13.0743C8.89977 12.16 12.3306 12.5535 15.0982 14.2447C15.1716 14.2895 15.2354 14.3483 15.286 14.4178C15.3367 14.4873 15.3731 14.566 15.3933 14.6496C15.4134 14.7332 15.417 14.8199 15.4036 14.9048C15.3903 14.9898 15.3603 15.0712 15.3155 15.1446M10.4998 0C4.70111 0 0 4.70092 0 10.4998C0 16.2993 4.70111 21 10.4999 21C16.299 21 21 16.2993 21 10.4998C21 4.70101 16.2991 0 10.4999 0', fill='white')
          .col.m12.s12.l5.xl5
            .app__
              p Download The App
              a.ios(target='_blank', href='https://apps.apple.com/app/innercamp-community/id1663982333')
                img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/apl.svg', alt='ios')
              a.goo(target='_blank', href='https://play.google.com/store/apps/details?id=com.mightybell.innercamp')
                img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/goo.svg', alt='goo')
        .row
          .col.m9.s12.l6.xl6
            .menu-legal-container
              ul#menu-legal-1.menu
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-259
                  a(href='https://innercamp.mettevo.com/terms-of-service/') Terms of Use
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-258
                  a(href='https://innercamp.mettevo.com/privacy-policy/') Privacy Policy &amp; Safety
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-260
                  a(href='https://innercamp.mettevo.com/legal-warning/') Legal
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-257
                  a(href='https://innercamp.mettevo.com/cookies-policy/') Cookies
          .col.m3.s12.l6.xl6
            p.copy &copy; 2023 InnerCamp







          
          
          
          

    footer.none(main='')
      .container
        .row
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Experiences
              .menu-experiences-container
                ul#menu-experiences.menu
                  li#menu-item-399.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-399
                    a(href='https://innercamp.mettevo.com/get-certified/') Get Certified
                  li#menu-item-400.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-400
                    a(href='https://innercamp.mettevo.com/virtual-workshops/') Virtual Workshops
                  li#menu-item-247.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-247
                    a(href='#') Onsite Retreats
                  li#menu-item-248.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-248
                    a(href='#') Find a Coach
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ About us
              .menu-experiences-container
                ul#menu-experiences-1.menu
                  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-399
                    a(href='https://innercamp.mettevo.com/get-certified/') Get Certified
                  li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-400
                    a(href='https://innercamp.mettevo.com/virtual-workshops/') Virtual Workshops
                  li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-247
                    a(href='#') Onsite Retreats
                  li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-248
                    a(href='#') Find a Coach
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Partnership
              .menu-partnership-container
                ul#menu-partnership.menu
                  li#menu-item-254.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-254
                    a(href='#') Affiliate Program
                  li#menu-item-255.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-255
                    a(href='#') InnerCamp for Corporate
                  li#menu-item-256.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-256
                    a(href='#') Collaborations
          .col.m6.s12.l3.xl2
            .box__
              h3.title_ Contacts
              ul
                li
                  a.call(href='javascript:;') Request a callback
                li
                  a.mail(href='javascript:;') contact@innercamp.com 
                li
                  a.address(href='javascript:;') Marbella | Bali | Tallin
          .col.m12.s12.l2.xl2
            .box__
              h3.title_ Legal
              .menu-legal-container
                ul#menu-legal.menu
                  li#menu-item-259.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-259
                    a(href='https://innercamp.mettevo.com/terms-of-service/') Terms of Use
                  li#menu-item-258.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-258
                    a(href='https://innercamp.mettevo.com/privacy-policy/') Privacy Policy &amp; Safety
                  li#menu-item-260.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-260
                    a(href='https://innercamp.mettevo.com/legal-warning/') Legal
                  li#menu-item-257.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-257
                    a(href='https://innercamp.mettevo.com/cookies-policy/') Cookies
          .col.m12.s12.l12.xl4
            h3.info Join thousands of changemakers 
            p.sub_info Receive a 50&euro; discount when you sign up
            form(method='POST' action='javascript:void(null);')
              // Hidden Required Fields
              .form_input
                span.field
                  input.mail(type='email' name='email' required='' value='' placeholder='Your email')
              .form_input
                span.field
                  input#scales(type='checkbox' name='scales' required='' value='')
                  label(for='scales')
                    | Yes, I would like to subscribe to the InnerCamp newsletter. I agree to let InnerCamp process my personal data in order to send me personalised marketing material, in accordance with the privacy notice. I confirm that I am 18 years old or older.
              button.green(type='submit' name='send' disabled) Subscribe
          .col.m12.s12.l7.xl5
            a.logo__footer(href='/')
              img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/logo.svg' alt='logo')
            ul.soseal
              li
                a.facebook-footer(target='_blank' href='https://www.facebook.com/innercamp/')
                  svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M18.2404 0.742188H1.75897C1.48884 0.742188 1.22977 0.849495 1.03877 1.0405C0.847756 1.23151 0.740448 1.49058 0.740448 1.76071V18.2422C0.740448 18.3759 0.766793 18.5084 0.817978 18.632C0.869164 18.7555 0.944187 18.8678 1.03877 18.9624C1.13334 19.057 1.24562 19.132 1.3692 19.1832C1.49277 19.2344 1.62521 19.2607 1.75897 19.2607H10.6293V12.0848H8.22193V9.307H10.6293V7.22367C10.5795 6.73455 10.6372 6.24045 10.7985 5.77602C10.9598 5.31158 11.2208 4.88806 11.5631 4.53516C11.9054 4.18226 12.3208 3.90852 12.7801 3.73315C13.2394 3.55778 13.7315 3.48501 14.2219 3.51997C14.9426 3.51553 15.6629 3.55263 16.3793 3.63108V6.13108H14.9071C13.7404 6.13108 13.5182 6.68663 13.5182 7.49219V9.27922H16.296L15.9349 12.057H13.5182V19.2607H18.2404C18.3742 19.2607 18.5066 19.2344 18.6302 19.1832C18.7538 19.132 18.8661 19.057 18.9606 18.9624C19.0552 18.8678 19.1302 18.7555 19.1814 18.632C19.2326 18.5084 19.259 18.3759 19.259 18.2422V1.76071C19.259 1.62695 19.2326 1.49451 19.1814 1.37094C19.1302 1.24736 19.0552 1.13508 18.9606 1.0405C18.8661 0.945927 18.7538 0.870903 18.6302 0.819718C18.5066 0.768532 18.3742 0.742187 18.2404 0.742188Z' fill='white')
              li
                a.instagram.icon-g-67(target='_blank' href='https://www.instagram.com/innercamp/')
                  svg(width='23' height='23' viewbox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.8331 2.37598H6.86322C4.38625 2.37598 2.37827 4.38396 2.37827 6.86093V15.8308C2.37827 18.3078 4.38625 20.3158 6.86322 20.3158H15.8331C18.3101 20.3158 20.3181 18.3078 20.3181 15.8308V6.86093C20.3181 4.38396 18.3101 2.37598 15.8331 2.37598Z' fill='white' stroke='white' stroke-width='2.04514' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M14.9363 10.7819C15.047 11.5284 14.9195 12.2908 14.5719 12.9607C14.2243 13.6306 13.6744 14.1738 13.0002 14.5131C12.3261 14.8524 11.5622 14.9705 10.8171 14.8506C10.072 14.7307 9.3837 14.3789 8.85006 13.8453C8.31642 13.3116 7.96463 12.6233 7.84474 11.8782C7.72484 11.1331 7.84294 10.3692 8.18224 9.69507C8.52153 9.02096 9.06475 8.47101 9.73462 8.12342C10.4045 7.77584 11.1669 7.64833 11.9134 7.75903C12.6749 7.87195 13.3799 8.22678 13.9242 8.77111C14.4685 9.31544 14.8234 10.0204 14.9363 10.7819Z' stroke='#D19D50' stroke-width='2.04514' stroke-linecap='round' stroke-linejoin='round')
                    circle(cx='15.8794' cy='6.81506' r='0.56652' fill='#D19D50')
              li
                a.youtube(target='_blank' href='https://www.youtube.com/channel/UCqDaIVOzNYVvurQCEapV1uw')
                  svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z' fill='white' stroke='white' stroke-width='2.58333' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z' fill='#D19D50')
              li
                a.youtube(target='_blank' href='https://open.spotify.com/user/1158921555')
                  svg(width='21' height='21' viewbox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M16.7111 9.30846C13.3265 7.29841 7.74368 7.11363 4.51265 8.09425C3.99366 8.25167 3.44505 7.95883 3.28792 7.43994C3.13068 6.92076 3.42323 6.37243 3.94241 6.21473C7.65152 5.08891 13.8171 5.30633 17.7135 7.61927C18.1803 7.89639 18.3332 8.49908 18.0566 8.96494C17.7798 9.43164 17.1765 9.58558 16.711 9.30846M16.6002 12.2855C16.3627 12.6708 15.8589 12.7917 15.4741 12.5551C12.6525 10.8207 8.34965 10.3181 5.01133 11.3315C4.57848 11.4622 4.12118 11.2183 3.98971 10.7861C3.92704 10.5783 3.94931 10.3542 4.05164 10.1628C4.15397 9.97142 4.32801 9.82844 4.5356 9.76519C8.34909 8.60788 13.09 9.16834 16.3309 11.16C16.7157 11.397 16.8368 11.9011 16.6002 12.2855ZM15.3154 15.1446C15.2706 15.218 15.2119 15.282 15.1424 15.3327C15.073 15.3834 14.9942 15.4199 14.9106 15.4401C14.827 15.4604 14.7403 15.4639 14.6553 15.4506C14.5704 15.4372 14.4889 15.4073 14.4155 15.3624C11.9499 13.8554 8.84636 13.5151 5.19142 14.35C5.10767 14.3691 5.02097 14.3716 4.93627 14.3572C4.85157 14.3429 4.77053 14.312 4.69778 14.2663C4.62503 14.2206 4.56199 14.161 4.51227 14.0909C4.46255 14.0209 4.42711 13.9417 4.40799 13.858C4.38874 13.7742 4.3862 13.6874 4.40052 13.6027C4.41484 13.5179 4.44574 13.4368 4.49145 13.364C4.53716 13.2912 4.59678 13.2282 4.6669 13.1784C4.73703 13.1287 4.81627 13.0933 4.90009 13.0743C8.89977 12.16 12.3306 12.5535 15.0982 14.2447C15.1716 14.2895 15.2354 14.3483 15.286 14.4178C15.3367 14.4873 15.3731 14.566 15.3933 14.6496C15.4134 14.7332 15.417 14.8199 15.4036 14.9048C15.3903 14.9898 15.3603 15.0712 15.3155 15.1446M10.4998 0C4.70111 0 0 4.70092 0 10.4998C0 16.2993 4.70111 21 10.4999 21C16.299 21 21 16.2993 21 10.4998C21 4.70101 16.2991 0 10.4999 0' fill='white')
          .col.m12.s12.l5.xl5
            .app__
              p Download The App
              a.ios(target='_blank' href='https://apps.apple.com/app/innercamp-community/id1663982333')
                img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/apl.svg' alt='ios')
              a.goo(target='_blank' href='https://play.google.com/store/apps/details?id=com.mightybell.innercamp')
                img(src='https://innercamp.mettevo.com/wp-content/themes/innercamp/img/goo.svg' alt='goo')
        .row
          .col.m9.s12.l6.xl6
            .menu-legal-container
              ul#menu-legal-1.menu
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-259
                  a(href='https://innercamp.mettevo.com/terms-of-service/') Terms of Use
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-258
                  a(href='https://innercamp.mettevo.com/privacy-policy/') Privacy Policy &amp; Safety
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-260
                  a(href='https://innercamp.mettevo.com/legal-warning/') Legal
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-257
                  a(href='https://innercamp.mettevo.com/cookies-policy/') Cookies
          .col.m3.s12.l6.xl6
            p.copy &copy; 2023 InnerCamp


  
  
  
  
  
    
                
    header.account.none
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo.svg', alt='logo_black')
 

          
    section#sec-1.section__1.none
      video#video_1( playsinline='', autoplay='', muted='', loop='', preload='none')
        source(src='video/background.mp4', type='video/mp4')
      .container
        .row
          .col.m12.s12.l12.xl12
            img(src='img/logo.png', alt='logo_black')
          
    section#sec-2.section__2.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 @splidejs/splide
            #post__slid.splide
              .splide__track
                ul.splide__list
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')

            .logo_before
          
    section#sec-3.section__3.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__3
            .logo_svg
            img.lazy__(data-src='img/logo.svg', alt='logo_brand_1')
    section#sec-4.section__4.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__4
            .logo_40
          
    section#sec-5.section__5.none
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__5

  
  
          
    section.section__.event__1.none
      .container
        .row
          .col.m12.s12.l12.xl12
            ul.top
              li(data-top='1')
                a.active(href='javascript:;') Account detals
              li(data-top='2')
                a(href='javascript:;') MY ITEMS
              li(data-top='3')
                a(href='javascript:;') QI LIBRARY




                  
    a.bot_modal(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.thank.modal(style='display: none;')
      .content_modal
      
        .box__
          .box__img
            img(src='img/thenk__modal.png', alt='logo_brand_1')
          
          .box__content
            h5.title Thank you!
            
            p You will receive 
              span soon an email with further instructions.
              | Thank you for choosing us.
              
            a.bundle(href='javascript:;') Go to the home page
            
    a.bot_modal(data-fancybox='', data-src='#log-in', href='javascript:;') Log in
    // //// MODAL ////
    #log-in.log-in.modal(style='display: none;')
      .content_modal
        .box__top
          a.back(href='javascript:;') Go back
          h3.title__ Log in
          a.Close(href='javascript:;' data-fancybox-close)
            svg(width='62', height='62', viewbox='0 0 62 62', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M31 56.8333C45.2673 56.8333 56.8333 45.2673 56.8333 31C56.8333 16.7326 45.2673 5.16663 31 5.16663C16.7326 5.16663 5.16666 16.7326 5.16666 31C5.16666 45.2673 16.7326 56.8333 31 56.8333Z', fill='white', fill-opacity='0.75')
              path(d='M38.75 23.25L23.25 38.75', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
              path(d='M23.25 23.25L38.75 38.75', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')

        .box__left
          form(method='POST', action='javascript:void(null);')
            // Hidden Required Fields

            .form_input
              span.field
                input(type='text', name='name', required='', value='', placeholder='Your email')

            .form_input
              span.field
                input.password__(type='password', name='phone', required='', value='', placeholder='password')
                
            .box__
              .box__check
                input(type='checkbox')
                label(for='') Remember me
              .box__forgot
                a.forgot(href='javascript:;') Forgot your password?

            button.bundle(type='submit', name='send') Log in

          p Don't have an account yet?
            a.sign-up(href='javascript:;') Sign up
            
        .box__right
          h5.title__ Log in with
          .box__soseal
            a.facebook(href='javascript:;') Facebook
            a.google(href='javascript:;') Google
            
            

    a.bot_modal(data-fancybox='', data-src='#sign-up', href='javascript:;') Log in
    // //// MODAL ////
    #sign-up.log-in.modal(style='display: none;')
      .content_modal
        .box__top
          a.back(href='javascript:;') Go back
          h3.title__ Log in
          a.Close(href='javascript:;' data-fancybox-close)
            svg(width='62', height='62', viewbox='0 0 62 62', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M31 56.8333C45.2673 56.8333 56.8333 45.2673 56.8333 31C56.8333 16.7326 45.2673 5.16663 31 5.16663C16.7326 5.16663 5.16666 16.7326 5.16666 31C5.16666 45.2673 16.7326 56.8333 31 56.8333Z', fill='white', fill-opacity='0.75')
              path(d='M38.75 23.25L23.25 38.75', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
              path(d='M23.25 23.25L38.75 38.75', stroke='#C6C1B3', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')

        .box__left
        
        
        
          form(method='POST', action='javascript:void(null);')
            // Hidden Required Fields

          form#ajax_register
            .frame__login-email
              div
                span.custom_label
                  | Username 
                  span.red_star *
                .user_icon
                  input.register_username(type='text', name='register_username', placeholder='Example: JohnDoe')
              div
                span.custom_label
                  | Your email 
                  span.red_star *
                .mail_icon
                  input.register_email(type='text', name='register_email', placeholder='your@email.com')
            .names__first-last
              div
                span.custom_label First name
                .user_icon
                  input.register_first_name(type='text', name='register_first_name', placeholder='Example: John')
              div
                span.custom_label Last name
                .user_icon
                  input.register_last_name(type='text', name='register_last_name', placeholder='Example: Doe')
            span.custom_label Country 
            .mail_icon
              select#billing_country.country_to_state.country_select.select2-hidden-accessible(name='billing_country', autocomplete='country', tabindex='-1', aria-hidden='true')
                option(value='default') Select a country / region&mldr;
                option(value='AF') Afghanistan
                option(value='AX') &angst;land Islands
                option(value='AL') Albania
                option(value='DZ') Algeria
                option(value='AS') American Samoa
                option(value='AD') Andorra
                option(value='AO') Angola
                option(value='AI') Anguilla
                option(value='AQ') Antarctica
                option(value='AG') Antigua and Barbuda
                option(value='AR') Argentina
                option(value='AM') Armenia
                option(value='AW') Aruba
                option(value='AU') Australia
                option(value='AT') Austria
                option(value='AZ') Azerbaijan
                option(value='BS') Bahamas
                option(value='BH') Bahrain
                option(value='BD') Bangladesh
                option(value='BB') Barbados
                option(value='BY') Belarus
                option(value='PW') Belau
                option(value='BE') Belgium
                option(value='BZ') Belize
                option(value='BJ') Benin
                option(value='BM') Bermuda
                option(value='BT') Bhutan
                option(value='BO') Bolivia
                option(value='BQ') Bonaire, Saint Eustatius and Saba
                option(value='BA') Bosnia and Herzegovina
                option(value='BW') Botswana
                option(value='BV') Bouvet Island
                option(value='BR') Brazil
                option(value='IO') British Indian Ocean Territory
                option(value='BN') Brunei
                option(value='BG') Bulgaria
                option(value='BF') Burkina Faso
                option(value='BI') Burundi
                option(value='KH') Cambodia
                option(value='CM') Cameroon
                option(value='CA') Canada
                option(value='CV') Cape Verde
                option(value='KY') Cayman Islands
                option(value='CF') Central African Republic
                option(value='TD') Chad
                option(value='CL') Chile
                option(value='CN') China
                option(value='CX') Christmas Island
                option(value='CC') Cocos (Keeling) Islands
                option(value='CO') Colombia
                option(value='KM') Comoros
                option(value='CG') Congo (Brazzaville)
                option(value='CD') Congo (Kinshasa)
                option(value='CK') Cook Islands
                option(value='CR') Costa Rica
                option(value='HR') Croatia
                option(value='CU') Cuba
                option(value='CW') Cura&ccedil;ao
                option(value='CY') Cyprus
                option(value='CZ') Czech Republic
                option(value='DK') Denmark
                option(value='DJ') Djibouti
                option(value='DM') Dominica
                option(value='DO') Dominican Republic
                option(value='EC') Ecuador
                option(value='EG') Egypt
                option(value='SV') El Salvador
                option(value='GQ') Equatorial Guinea
                option(value='ER') Eritrea
                option(value='EE') Estonia
                option(value='ET') Ethiopia
                option(value='FK') Falkland Islands
                option(value='FO') Faroe Islands
                option(value='FJ') Fiji
                option(value='FI') Finland
                option(value='FR') France
                option(value='GF') French Guiana
                option(value='PF') French Polynesia
                option(value='TF') French Southern Territories
                option(value='GA') Gabon
                option(value='GM') Gambia
                option(value='GE') Georgia
                option(value='DE') Germany
                option(value='GH') Ghana
                option(value='GI') Gibraltar
                option(value='GR') Greece
                option(value='GL') Greenland
                option(value='GD') Grenada
                option(value='GP') Guadeloupe
                option(value='GU') Guam
                option(value='GT') Guatemala
                option(value='GG') Guernsey
                option(value='GN') Guinea
                option(value='GW') Guinea-Bissau
                option(value='GY') Guyana
                option(value='HT') Haiti
                option(value='HM') Heard Island and McDonald Islands
                option(value='HN') Honduras
                option(value='HK') Hong Kong
                option(value='HU') Hungary
                option(value='IS') Iceland
                option(value='IN') India
                option(value='ID') Indonesia
                option(value='IR') Iran
                option(value='IQ') Iraq
                option(value='IE') Ireland
                option(value='IM') Isle of Man
                option(value='IL') Israel
                option(value='IT') Italy
                option(value='CI') Ivory Coast
                option(value='JM') Jamaica
                option(value='JP') Japan
                option(value='JE') Jersey
                option(value='JO') Jordan
                option(value='KZ') Kazakhstan
                option(value='KE') Kenya
                option(value='KI') Kiribati
                option(value='KW') Kuwait
                option(value='KG') Kyrgyzstan
                option(value='LA') Laos
                option(value='LV') Latvia
                option(value='LB') Lebanon
                option(value='LS') Lesotho
                option(value='LR') Liberia
                option(value='LY') Libya
                option(value='LI') Liechtenstein
                option(value='LT') Lithuania
                option(value='LU') Luxembourg
                option(value='MO') Macao
                option(value='MG') Madagascar
                option(value='MW') Malawi
                option(value='MY') Malaysia
                option(value='MV') Maldives
                option(value='ML') Mali
                option(value='MT') Malta
                option(value='MH') Marshall Islands
                option(value='MQ') Martinique
                option(value='MR') Mauritania
                option(value='MU') Mauritius
                option(value='YT') Mayotte
                option(value='MX') Mexico
                option(value='FM') Micronesia
                option(value='MD') Moldova
                option(value='MC') Monaco
                option(value='MN') Mongolia
                option(value='ME') Montenegro
                option(value='MS') Montserrat
                option(value='MA') Morocco
                option(value='MZ') Mozambique
                option(value='MM') Myanmar
                option(value='NA') Namibia
                option(value='NR') Nauru
                option(value='NP') Nepal
                option(value='NL') Netherlands
                option(value='NC') New Caledonia
                option(value='NZ') New Zealand
                option(value='NI') Nicaragua
                option(value='NE') Niger
                option(value='NG') Nigeria
                option(value='NU') Niue
                option(value='NF') Norfolk Island
                option(value='KP') North Korea
                option(value='MK') North Macedonia
                option(value='MP') Northern Mariana Islands
                option(value='NO') Norway
                option(value='OM') Oman
                option(value='PK') Pakistan
                option(value='PS') Palestinian Territory
                option(value='PA') Panama
                option(value='PG') Papua New Guinea
                option(value='PY') Paraguay
                option(value='PE') Peru
                option(value='PH') Philippines
                option(value='PN') Pitcairn
                option(value='PL') Poland
                option(value='PT') Portugal
                option(value='PR') Puerto Rico
                option(value='QA') Qatar
                option(value='RE') Reunion
                option(value='RO') Romania
                option(value='RU') Russia
                option(value='RW') Rwanda
                option(value='ST') S&atilde;o Tom&eacute; and Pr&iacute;ncipe
                option(value='BL') Saint Barth&eacute;lemy
                option(value='SH') Saint Helena
                option(value='KN') Saint Kitts and Nevis
                option(value='LC') Saint Lucia
                option(value='SX') Saint Martin (Dutch part)
                option(value='MF') Saint Martin (French part)
                option(value='PM') Saint Pierre and Miquelon
                option(value='VC') Saint Vincent and the Grenadines
                option(value='WS') Samoa
                option(value='SM') San Marino
                option(value='SA') Saudi Arabia
                option(value='SN') Senegal
                option(value='RS') Serbia
                option(value='SC') Seychelles
                option(value='SL') Sierra Leone
                option(value='SG') Singapore
                option(value='SK') Slovakia
                option(value='SI') Slovenia
                option(value='SB') Solomon Islands
                option(value='SO') Somalia
                option(value='ZA') South Africa
                option(value='GS') South Georgia/Sandwich Islands
                option(value='KR') South Korea
                option(value='SS') South Sudan
                option(value='ES') Spain
                option(value='LK') Sri Lanka
                option(value='SD') Sudan
                option(value='SR') Suriname
                option(value='SJ') Svalbard and Jan Mayen
                option(value='SZ') Swaziland
                option(value='SE') Sweden
                option(value='CH') Switzerland
                option(value='SY') Syria
                option(value='TW') Taiwan
                option(value='TJ') Tajikistan
                option(value='TZ') Tanzania
                option(value='TH') Thailand
                option(value='TL') Timor-Leste
                option(value='TG') Togo
                option(value='TK') Tokelau
                option(value='TO') Tonga
                option(value='TT') Trinidad and Tobago
                option(value='TN') Tunisia
                option(value='TR') Turkey
                option(value='TM') Turkmenistan
                option(value='TC') Turks and Caicos Islands
                option(value='TV') Tuvalu
                option(value='UG') Uganda
                option(value='UA', selected='selected') Ukraine
                option(value='AE') United Arab Emirates
                option(value='GB') United Kingdom (UK)
                option(value='US') United States (US)
                option(value='UM') United States (US) Minor Outlying Islands
                option(value='UY') Uruguay
                option(value='UZ') Uzbekistan
                option(value='VU') Vanuatu
                option(value='VA') Vatican
                option(value='VE') Venezuela
                option(value='VN') Vietnam
                option(value='VG') Virgin Islands (British)
                option(value='VI') Virgin Islands (US)
                option(value='WF') Wallis and Futuna
                option(value='EH') Western Sahara
                option(value='YE') Yemen
                option(value='ZM') Zambia
                option(value='ZW') Zimbabwe
            .data__city-postcode
              div
                span.custom_label Town / City
                .user_icon
                  input.billing_city(type='text', name='billing_city')
              div
                span.custom_label Postcode
                .user_icon
                  input.billing_postcode(type='text', name='billing_postcode')
            span.custom_label Address 
            .mail_icon
              input.billing_adress_1(name='billing_adress_1', type='text')
            .passwords__first-confirm
              div
                span.custom_label
                  | Password 
                  span.red_star *
                .pwd_icon
                  input.register_pwd(type='password', name='register_pwd', placeholder='••••••••••••')
              div
                span.custom_label
                  | Confirm password 
                  span.red_star *
                .pwd_icon
                  input.confirm_register_pwd(type='password', name='confirm_register_pwd', placeholder='••••••••••••')
            input(type='hidden', name='action', value='custom_register')



            button#custom_register_btn.accent_btn.bundle(type='submit', name='send') Log in
            
            
            

          p Don't have an account yet?
            a.sign-up(href='javascript:;') Sign up
            
        .box__right
          h5.title__ Log in with
          .box__soseal
            a.facebook(href='javascript:;') Facebook
            a.google(href='javascript:;') Google

          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send




    //script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


