doctype

html(lang='en')
  head
    
    - var title = "Innercamp Retreat Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body.info(data-img='img/71.png')
     
    .bar-long

    header(main)
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li.bold-bg
                  a(href='javascript:;') Download the APP

            .naviget__
              .box__user
                a.user(href='javascript:;')
                .box_menu__
                  a.academy(href='javascript:;') InnerCamp Academy
                  a.orders(href='javascript:;') My orders
                  a.affiliate(href='javascript:;') Affiliate Program
                  a.account(href='javascript:;') Account information
                  a.log(href='javascript:;') Log out
                  

              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;') 
          

    section.retreat__0
      .container
        .row
          .col.m12.s12.l12.xl12

            h1.title Tantra Retreat
            .battoms__
              a.tantra(href='#') Tantra
              a.data(href='#') Jan 10, 2023 - Nov 28, 2023
              a.loc(href='#') Málaga, Spain
            .content__
              p A sacred journey back to your heart to unlock your limitless potential. Discover Tantra in safe and fun way, unleash your spiritual potential with Tantra, Breathwork and Bodywork.

              a(href='#' class='bundle') Book now

    section.retreat__1
      .container
        .row 
                        
                        
          .col.m12.s12.l12.xl9.offset-xl3
            .block__top
              .box__img
                img(src='img/retreat_string2.png' alt='#') 
              .box__content
                a(href='#' class='bundle') Start my journey
                hr
                span.data(href='#') Jan 10, 2023 - Nov 28, 2023
                span.loc(href='#') Málaga, Spain
                .status onsite

          .col.m12.s12.l12.xl9.offset-xl3

            .twix2
              .picture2
                img(src='img/retreat_fot22.png')
              .blog2
                h4.title About the retreat
                p Live your life fully and fearlessly through mind, body and senses. This somatic experience is designed to restore your sacred connection with your true self and invigorate your whole being.
                 
                p Embodying your emotions will help you expand your consciousness, become more present, heal past traumas and reinvent yourself. This retreat will open up your heart to many blessings based on the physiology of emotions, energy work, breathing techniques, and active meditation.

          .col.m12.s12.l12.xl9.offset-xl3

            h4.title The retreat will help you:
            .twix2
              .blog3
                ul
                  li Discharge unresolved energy from your body.
                  li Process deeply stored emotions.
                  li Embrace the awakened body and emotional awareness.
                  li Become more grounded and stable.
                  li Learn effective techniques for emotional regulation.
                  li Live in the flow.
                  li Cultivate presence.
              .picture3
                img(src='img/retreat__fot32.png')
                
                
                

    section.retreat__2
      .container
        .row
          .col.m12.s12.l6.xl6.offset-xl3.offset-l3
            h2.title The Program
          .col.m12.s12.l3.xl3
            p Facilitated by
            .box__img
              a(href='#')
                img(src='img/retreat_23f.svg' alt='logo')
              a(href='#') 
                img(src='img/retreat_24k.svg' alt='logo')
        .row
          .col.m12.s12.l4.xl3.offset-xl3
          
            .box__
              .picture3
                img(src='img/retreat__fot4222.png' alt='#')
              .box__content
                .title__ Saturday
                ul.reborn
                  li 
                    span.data 15:00
                    p Check-in
                  li 
                    span.data 16:00
                    p Opening ceremony (dome Shala)
                  li 
                    span.data 17:00
                    p Tantric breathwork (dome Shala) or Active meditation and Healing Breathwork (Shala 2)
                  li 
                    span.data 18:00
                    p Dinner
                  li 
                    span.data 19:00
                    p Party
                  
          .col.m12.s12.l8.xl6

            .box__
              .picture3
                img(src='img/retreat__fot3222.png' alt='#')
              .box__content
                .title__ Sunday
                ul.reborn
                  li 
                    span.data 08:00
                    p Active meditation (dome Shala) or Breathwork (Shala 2)
                  li 
                    span.data 09:30
                    p Breakfast
                  li 
                    span.data 10:30
                    p Connect with your energy (dome Shala) or Meditation (Shala 3)
                  li 
                    span.data 11:30
                    p Bodywork (dome Shala) or Integrating the unconscious through polarity processing (Shala 2)
                  li 
                    span.data 12:30
                    p Healing breathwork session (dome Shala) or Circle to activate the voice (Shala 2)
                    
                    
                    
                    
                  li 
                    span.data 13:30
                    p Lunch
                    
                  li 
                    span.data 15:30
                    p Active meditation (dome Shala) or Conscious Sharing + Tunnel of Love (Shala 3)
                    
                  li 
                    span.data 17:00
                    p Connected breathwork (dome Shala) or Shamanic journey (Shala 3)
                    
                  li 
                    span.data 19:30
                    p Dinner

                  li 
                    span.data 21:00
                    p Tantric massage (dome Shala) or Party (Shala 3)

        .row
          .col.m12.s12.l6.xl6.offset-xl3
            .box__
              .picture3
                img(src='img/retreat__fot4223.png' alt='#')
              .box__content
                .title__ Monday
                ul.reborn
                  li 
                    span.data 08:00
                    p Breathwork to heal the inner child (dome Shala) or Karunesh Heart Chakra meditation (Shala 2)
                  li 
                    span.data 09:00
                    p Breakfast
                  li 
                    span.data 11:00
                    p Chakra breathing (dome Shala) or Tantric breathwork (Shala 3)
                  li 
                    span.data 12:30
                    p Sharing Circle (dome Shala) or Body healing ceremony (Shala 2)
                    
                    
                    
                  li 
                    span.data 13:30
                    p Lunch
                  li 
                    span.data 16:00
                    p Cacao + Breathwork for Ancestral Healing (dome Shala)
                  li 
                    span.data 18:30
                    p Ecstatic Dance (dome Shala)
                  li 
                    span.data 19:30
                    p Dinner
                  li 
                    span.data 21:00
                    p Party (dome Shala)



          .col.m12.s12.l3.xl3
            .box__
              .picture3
                img(src='img/retreat__fot6221.png' alt='#')
              .box__content
                .title__ Tuesday
                ul.reborn
                  li 
                    span.data 07:30
                    p Breathwork for Warriors (dome Shala) or Ritual to protect your Energy (Shala 2)
                  li 
                    span.data 09:00
                    p Closing ceremony (dome Shala)
                  li 
                    span.data 09:30
                    p Breakfast
                  li 
                    span.data 11:00
                    p Checkout

                      

    section.retreat__3
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .kacao
              h4.title__ The Cacao Ceremony will be facilitated by our long-time friends 
                span Los Cosmiqueros.
              .box__  
                img(src='img/retreat__cacao.png' alt='#')

            .mix__
              .tea__
                img(src='img/retreat__3_mock.png' alt='#')
              .box__
                p Take a moment to pause and enchant your senses with 
                  span YogiTea.

    section.retreat__4
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            h2.title The retreat is facilitated by

          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .post__user
              .img__
                img(src='img/retreat__4_user1.png' alt='fotoalfa')
              .cont__
                .title__ Alexis Alcalá
                ul
                  li
                    a.teg(href='#') InnerCamp founder
                  li
                    a.teg(href='#') Holistic coach
                  li
                    a.teg(href='#') Breathwork master
                  li
                    a.teg(href='#') Tantra teacher
                    
                p Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples’ potential so that they feel empowered to unleash that power into their lives and the world. Alexis’ work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                    

            .post__user
              .img__
                img(src='img/retreat__4_user2.png' alt='fotoalfa')
              .cont__
                .title__ Marjolein Van Ommeren
                ul
                  li
                    a.teg(href='#') Method teacher
                  li
                    a.teg(href='#') Sacred Womb Awakening Practitioner
                  li
                    a.teg(href='#') Shamanic Healing Practitioner
                    
                p Marjolein is an InnerCamp Tantra teacher and a Sacred Womb Awakening and Shamanic Healing Practitioner. She strongly believes that we are all healers. Her mission is to help people restore balance in their lives by reconnecting them to their inner light and to help people raise their vibration. Womb/Hara Awakening are ancient, self-empowering practices which are returning into the awareness of the Western world, helping people to reconnect to their true purpose and aligning their lives.


          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .venue
              .block__
                h2.title Venue
                p.info (Santillan Yoga and Wellness Center)
                
                .block__dashed
                  p Authentic Andalusian farmhouse with gardens overlooking the sea. A farm of 50,000 sq, meters, it is located in the peace of the Spanish countryside, and yet is conveniently only 20 minutes from Malaga airport.
                  
                  p You can immerse yourself in the silence of nature in its lovely gardens and surrounding hills or enjoy stargazing under the dark night sky gathering around the bonfire.
                  
                  p Centro Santillan was mentioned in The Times as one of Europe’s best yoga and wellness centers.
                  
                  p The property features a newly built, beautiful state-of-the-art, and fully equipped yoga studio.
                
                .box_widt
                  p Suryalila Retreat Centre Cortijo La Fabrica, Pago del Pajarete 11650 Villamartin (Cadiz) Spain
                
              .block__ 
                .box__img
                  img(src='img/retreat__4_img_2.png' alt='logo_black')
                .box__img
                  img(src='img/retreat__4_img_1.png' alt='logo_black')

                
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3

                  
            .retreat__map.splide
              .splide__track
                ul.splide__list
                  li.splide__slide
                    .box__
                      img(src='img/retreat__4_map.png' alt='#')
                      .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.9665395333914!2d30.52243375505082!3d50.441723910417636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceff6225e3d7%3A0xe5ac3f7002b64b6!2sBelgium%20Anno%201445!5e0!3m2!1suk!2sus!4v1675422531320!5m2!1suk!2sus', width='347', height='190', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')

                  li.splide__slide
                    .box__
                      img(src='img/retreat__4_map.png' alt='#')
                      .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.9665395333914!2d30.52243375505082!3d50.441723910417636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceff6225e3d7%3A0xe5ac3f7002b64b6!2sBelgium%20Anno%201445!5e0!3m2!1suk!2sus!4v1675422531320!5m2!1suk!2sus', width='347', height='190', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                  li.splide__slide
                    .box__
                      img(src='img/retreat__4_map.png' alt='#')
                      .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.9665395333914!2d30.52243375505082!3d50.441723910417636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceff6225e3d7%3A0xe5ac3f7002b64b6!2sBelgium%20Anno%201445!5e0!3m2!1suk!2sus!4v1675422531320!5m2!1suk!2sus', width='347', height='190', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                  li.splide__slide
                    .box__
                      img(src='img/retreat__4_map.png' alt='#')
                      .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.9665395333914!2d30.52243375505082!3d50.441723910417636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceff6225e3d7%3A0xe5ac3f7002b64b6!2sBelgium%20Anno%201445!5e0!3m2!1suk!2sus!4v1675422531320!5m2!1suk!2sus', width='347', height='190', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                    
            .arrows
              a.left_r.previous-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z' fill='#B9B9B9')

              a.right_r.next-button(href='javascript:;')
                svg(width='45' height='16' viewbox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z' fill='#B68742')




    section.retreat__5
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .middle 
              h2.title Got questions?
              p Schedule a free consultation call with one of our experts.
              .battoms
                a(href='#' class='bundle')
                  | Schedule now

    section.retreat__7
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .remix
              h2.title InnerCamp Retreat
              a(href='#' class='whitebuttom')
                img(src='img/retreat_k.svg' alt='logo')
                | Jun 24, 2023 - Jun 27, 2023
              img(src='img/retreat_cxf.svg' alt='logo')
              h4 Choose Type of Accommodation
              .boxi
                img(src='img/retreat_bad.svg' alt='bad')
                p Single room
                img(src='img/retreat_zce.svg' alt='bad')
                img(src='img/retreat_ave.svg' alt='ava')
                p 1200€ price per person
              .boxi
                img(src='img/retreat_bad.svg' alt='bad')
                img(src='img/retreat_bad.svg' alt='bad')
                p Shared double room
                img(src='img/retreat_zce.svg' alt='bad')
                img(src='img/retreat_ave.svg' alt='ava')
                p 800€ price per person
              .box2
                img(src='img/retreat_bad2.svg' alt='bad')
                img(src='img/retreat_bad2.svg' alt='bad')
                img(src='img/retreat_bad2.svg' alt='bad')
                p Shared glamping
                img(src='img/retreat_zce.svg' alt='bad')
                img(src='img/retreat_ave.svg' alt='ava')
                p 600€ price per person
              .battoms
                a(href='#' class='bundle')
                  | Proceed to checkout


    section.retreat__8
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .twix2
              .block__
                h4.title Included:
                .blog3
                  ul
                    li Accommodation.
                    li All activities mentioned in the program.
                    li Plant-based meals & snacks.
                    li YogiTea & non-alcoholic beverages.
                    li Goodie bag.
              .block__
                h4.title Not included:
                .blog38

                  ul
                    li Flight tickets.
                    li Transfers (available upon request).

            p In our retreats, we don't promote any nudity or sexual activities. We don't belong to any sect or follow any religion, and we welcome all beliefs and points of view. We foster diversity, we admire nature, trust each other and go through this journey with an open mind.



          