html(lang='en')
head
    
    - var title = "Innercamp Short Courses Group 2.1"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
body.info(data-img='img/1shortcourses.jpg')
     
    .bar-long
    
    .scroll__menu.none
      .container

    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  ul.sub-menu
                    li
                      a(href='javascript:;') Experiences 2
                    li
                      a(href='javascript:;') Experiences 2
                    li
                      a(href='javascript:;') Get Certified
                    li
                      a(href='javascript:;') Testimonials
                    li
                      a(href='javascript:;') About us
                    li
                      a(href='javascript:;') Download the APP

            .naviget__
              a.user(href='#')
              a.cart(href='#')
                span
              a.open__(href='#') 
                span
        
      
    section.shortcourses__0
      .container
        .row      
          .col.m12.s12.l12.xl12
            .middle
              h1.title Breathwork for Ancestral Healing
              .battoms
                p Breathwork for Ancestral Healing  will help your clients to release inherited wounds, rewrite their story and reshape their life
              a(href='#' class='bundle') Book now

    section.shortcourses__1
      .container
        .row.otstup
          .col.m12.s12.l12.xl12
            .middle
              a(href='#' class='its')
                  img(src='img/shortcourses_juk.png')
                  | Breathwork
              a(href='#' class='whitebuttom') Teacher training
              img.cross(src='img/shortcourses_logo.svg' alt='#')
          .col.m12.s12.l3.xl3
            a(href='#' class='bundle') Book now
            ul.lvl1
              li 
                a(href='#') Book now
              lI 
                a(href='#') Course basics
              lI 
                a(href='#') Benefits of Cacao
              lI 
                a(href='#') Training Facilitators
              lI 
                a(href='#') Certification
              lI 
                a(href='#') Certificate
              lI 
                a(href='#') Book a free call
              lI 
                a(href='#') Get yourself ready
              lI 
                a(href='#') Testimonials
              lI 
                a(href='#') FAQ

          .col.m12.s12.l9.xl9
            .twix
              .picture
                img(src='img/shortcourses_fot22.png' alt='#') 
              .blog
                .rxdm
                  span Price:
                  span 222€
                a(href='#' class='bundle') Book now
                img(src='img/retreat_st12.svg' alt='#') 
                a(href='#' class='whitebuttom')
                    img(src='img/retreat_k.svg') 
                    | 2 weeks
                a(href='#' class='whitebuttom')
                    img(src='img/retreat_fs.svg') 
                    | 10+ videos
                a(href='#' class='whitebuttom')
                    img(src='img/retreat_ts.svg') 
                    | 25 hours in total
                p.statusonline online course

          .col.m12.s12.l9.xl9.offset-xl3.offset-l3

            .twix2
              .left
                h4.title After completing this module, you will be able to:
                //- p.cs16 Theobroma cacao is a sacred plant used for spiritual, medicinal and ceremonial purposes in indigenous cultures of South America. Its molecule has unique components such as
                .blog3
                  ul
                    li Help your clients and their family reveal and release inherited wounds.
                    li Help your clients release all traumas passed down through genes and create a new legacy.
                    li Transform energetic patterns and discover a soul’s true purpose.
                    
              .picture3
                img(src='img/shortcourses_benefits.png')

          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .twix2
              .picture2
                img(src='img/shortcourses__pm.png')
              .blog2
                h4
                .title About the Course
                img(src='img/shortcourses__gr.svg')
                h5 Intergenerational trauma affects us in so many unconscious ways and determines our behavioral patterns. Sometimes the story of your family is looped and you keep repeating the same mistakes of your lineage.
                .otstupx
                p Breathwork for Ancestral Healing is inspired by old Shamanic indigenous wisdom to get clarity, release limiting beliefs, and restore your emotional and spiritual integrity. This specialization module will help you acquire skills to transform the pain of the past into love and forgiveness of the present.

            

    section.shortcourses___2
          .container
            .row
              .col.m12.s12.l6.xl6.offset-xl3.offset-l3
                h2.title The Program
                p All modules are pre-recorded and available to view and complete anytime.
              .col.m12.s12.l3.xl3
                .middle
                  h3 Facilitated by
                  a.referi1(href='#')
                    img(src='img/retreat_24k.svg' alt='logo')
                  a.ref(href='#' class='whitebuttom') 
                    img(src='img/retreat_23f.svg' alt='logo')
            .row

              .col.m12.s12.l5.xl5.offset-xl3.offset-l3
              
                .block__elips
                  .images
                    img(src='img/cacao__logo.png' alt='image')
                    h2.title Cacao Ceremony Facilitator Training
                  ul.right
                      Li
                        img(src='img/cacao__ogo.png' alt='image')
                        a(href='#') Week 1
                      Li
                        img(src='img/cacao__ogo2.png' alt='image')
                        a(href='#') Week 2
                      Li.none
                        img(src='img/cacao__ogo2.png' alt='image')
                        a(href='#') Week 3
                      Li.none
                        img(src='img/cacao__ogo2.png' alt='image')
                        a(href='#') Week 4
            
                  //- .twix2
                  //-   .picture3
                  //-     img(src='img/cacao__logo22.svg' alt='#')

                    h4 
                      .title Cacao Ceremony Facilitator Training

              .col.m12.s12.l4.xl4
                .twix2
                  .blog33
                    h4.title Week 1
                    ul.reborn
                            li What is cacao?
                            li Science of cacao
                            li Effects of cacao
                            li Contraindications of cacao
                            li History of cacao
                            li Choosing your cacao
                            li Plant medicines and cacao
                            li Cultural appropriation and cultural appreciation
                            li Preparation and serving guidelines
  

    section.shortcourses__4
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            h2.title The retreat is facilitated by

          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .post__user
              .img__
                img(src='img/retreat__4_user2.png' alt='fotoalfa')
              .cont__
                .title__ Marjolein Van Ommeren
                ul
                  li
                    a.teg(href='#') Method teacher
                  li
                    a.teg(href='#') Sacred Womb Awakening Practitioner
                  li
                    a.teg(href='#') Shamanic Healing Practitioner
                    
                p Marjolein is an InnerCamp Tantra teacher and a Sacred Womb Awakening and Shamanic Healing Practitioner. She strongly believes that we are all healers. Her mission is to help people restore balance in their lives by reconnecting them to their inner light and to help people raise their vibration. Womb/Hara Awakening are ancient, self-empowering practices which are returning into the awareness of the Western world, helping people to reconnect to their true purpose and aligning their lives.
                





            .post__user
              .img__
                img(src='img/retreat__4_user1.png' alt='fotoalfa')
              .cont__
                .title__ Alexis Alcalá
                ul
                  li
                    a.teg(href='#') InnerCamp founder
                  li
                    a.teg(href='#') Holistic coach
                  li
                    a.teg(href='#') Breathwork master
                  li
                    a.teg(href='#') Tantra teacher
                    
                p Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples’ potential so that they feel empowered to unleash that power into their lives and the world. Alexis’ work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                    




          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .twist
              .picturecertificate
                img(src='img/shortcourses__sertifcat.png' alt='logo')
              .content
                h1 Become a certified 
                  h1.span Cacao Ceremony Facilitator 
                  h1 from the comfort of your home!
                a(href='#' class='bundle') Enroll now
                    
                    


    section.shortcourses__6
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            .middle 
              h2.title Got questions?
                img(src='img/cacao__qest.svg' alt='#')
                p Schedule a free consultation call with one of our experts.
              .battoms
                a(href='#' class='bundle')
                  | Schedule now

    section.shortcourses__7
      .container
        .row
          .col.m12.s12.l9.xl9.offset-xl3.offset-l3
            h4.title Testimonials
            .twix2
              .blog7
                p "I have used this amazing plant medicine for myself for a few years, but I had never facilitated a cacao ceremony for other people. This training has everything I needed to understand well the origins of cacao, how to appreciate the cultures that first started using cacao, how to prepare cacao for my clients and how to use some shamanic tools, and how to run my own events. I love how InnerCamp empowered me to create my own style, not copying anyone and trends. I'm running a bi-weekly cacao ceremony in Mexico and my clients have so good feedback! So grateful to InnerCamp!"
                .user
                  .pictureavatr
                    img(src='img/cacao_avatart.png')
                  .content
                    h5 Carolina
                    span.teg Breathwork Teacher Training

              .picture
                img(src='img/shortcourses__pm2.png')

    section.shortcourses__8
      .breathwork__2-16
        .container
          .row
            .col.m12.s12.l9.xl9.offset-xl3.offset-l3
              article.breathwork-faq(id="faq")
                h2.title Frequently asked questions
                //- <div class="faq-item">
                //-   <button class="faq-questions">How does the pricing work?</button>
                //-   <div class="faq-panel">
                //-     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!</p>
                div.faq-item
                  button.faq-questions What happens if I fail the assignment?
                  div.faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                div.faq-item
                  button.faq-questions Will I continue to have access to the course even after I complete it?
                  div.faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                div.faq-item
                  button.faq-questions Will I receive a certification?
                  div.faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!


//- .col.m12.s12.l9.xl9.offset-xl2.offset-l2
//-     .twix2
//-       h4
//-       .title Frequently asked questions
//-     .blog3
//-         ul
//-           li What happens if I fail the assignment?
//-           li Will I continue to have access to the course even after I complete it?
//-           li Will I receive a certification?
//-           li Will I be able to guide Cacao Ceremonies after I am certified?
//-     .blog3
//-       p "I have used this amazing plant medicine for myself for a few years, but I had never facilitated a cacao ceremony for other people. This training has everything I needed to understand well the origins of cacao, how to appreciate the cultures that first started using cacao, how to prepare cacao for my clients and how to use some shamanic tools, and how to run my own events. I love how InnerCamp empowered me to create my own style, not copying anyone and trends. I'm running a bi-weekly cacao ceremony in Mexico and my clients have so good feedback! So grateful to InnerCamp!"




//- .doker
//- img(src='img/cacao__1av.png' alt='#') Carolina
//- p Breathwork Teacher Training

//- .col.m12.s12.l9.xl9.offset-xl3.offset-l3
//- section.cacao
