doctype html
head
  title Tantra level 3
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')
  meta(property='og:url', content='https:')
  meta(property='og:image', content='img/logo.png?v=1.3')
  meta(property='og:image:width', content='300')
  meta(property='og:image:height', content='300')
  meta(property='og:title', content='')
  meta(property='og:site_name', content='')
  meta(property='og:description', content='')
  meta(property='og:type', conten='Keywords var keywords')
  meta(name='description', conten='Description var description')
  meta(name='keywords', conten='Keywords var keywords')
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
.bar-long
.scroll__menu.none
  .container
.right__menu
  .bock__top
    a.close(href='javascript:;')
      img.logo__img(src='img/close.svg', alt='logo_black')
  ul.menu__
    li
      a(href='javascript:;') Recently Added
    li
      a(href='javascript:;') Masterclass Sessions
    li
      a(href='javascript:;') Summit Home
    li
      a(href='javascript:;') RTT
    li
      a(href='javascript:;') Human Longevity
header
  .container
    .row
      .col-12
        .box__logo
          a.logo(href='javascript:;')
            img(src='img/logo.svg', alt='logo')
        .menu__
          ul#menu-header.menu
            li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
              a(href='javascript:;') Experiences
              ul.sub-menu
                li
                  a(href='#') Experiences 2
                li
                  a(href='#') Experiences 2
            li
              a(href='javascript:;') Get Certified
            li
              a(href='javascript:;') Testimonials
            li
              a(href='javascript:;') About us
            li
              a(href='javascript:;') Download the APP
        .naviget__
          a.user(href='javascript:;')
          a.cart(href='javascript:;')
            span 2
          a.open__(href='javascript:;')  
section.tantra3__1
  .container
    .row
      .sub Level 3
      h1.title Tantric Embodiment Coach Training
      .box__content
        .row-links
          a.breathwork(href='#') Tantra
          a.level(href='#') Level 3
          a.date(href='#') Jun 1, 2023 - Aug 10, 2023
          a.status(href='#') online course
        a.bundle-apply(href='#') You should have completed Levels 1+2 to apply for this program.
      a.bundle(href='#') Apply now
section.tantra3__2
  .tantra3__2-1
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article#course-basics.course-basics
            .top-content
              .basics-img
                img(src='img/tantra/tantra3-1-2.png', alt='')
                a.level(href='#') Level 3
              .basics-content
                .top-row
                  .training-price
                    span Price: 
                    span 1200&euro;
                  a.bundle(href='#') Start my journey
                .bottom-row
                  .date up to 8 months
                  .video-qty 25+ videos
                  .clock 125 hours in total
                  .status.online online course
            .bottom-content
              .bottom-content-descriptions
                p You should have completed Levels 1+2 to apply for this program.
  .tantra3__2-2
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article#accreditations.accreditations
            .accreditations-content
              h3.sub INNERCAMP IS AN ACCREDITED SCHOOL
              p
                | InnerCamp is registered and accredited by the 
                strong Complementary Medical Association
                | .
              p
                | It is also a member school of 
                strong the International Breathwork Foundation
                | .
              ul.list-img-mobile
                li
                  img(src='/img/brand_1.svg', alt='')
                li
                  img(src='/img/brand_2.svg', alt='')
              .bottom-row
                p
                  | Our courses are accredited by the leading independent 
                  strong CPD accreditation institution.
                img(src='/img/brand_3.svg', alt='')
            ul.list_img
              li
                img(src='/img/brand_1.svg', alt='')
              li
                img(src='/img/brand_2.svg', alt='')
              li
                img(src='/img/brand_3.svg', alt='')
  .tantra3__2-3
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article#about-course.tantra3-about
            .about-img
              img(src='img/tantra/tantra3-2.png', alt='')
            .about-wrap
              h2.title About the Course
              .about-content
                p
                  | The Level 3 is the deepest and most intense training Alexis and the InnerCamp team are currently offering.
              p
                | InnerCamp is carefully choosing the applicants that they feel are the best fit for Level 3. In other InnerCamp trainings, 
                strong only 20% of applicants got approved
                |  to attend and to work as an accredited Level 3 Coach.
  .tantra3__2-4
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          .levels-roadmap
            img(src='img/tantra/tantra3-3.png', alt='')
            .level-button.first-level Level 1 is a self-journey
            .level-button.second-level Level 2 is to learn how to facilitate the InnerCamp Tantric Embodiment Method.
            .level-button.last-level
              | Level 3 is to coach people on using the right Tantric Embodiment tools to heal, release trauma and transform their lives.
  .tantra3__2-5
    .container(style="background: url('../img/tantra/tantra3-global.svg') no-repeat top -80px center")
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          .access-map
            .access-map-img
              img(src='img/tantra/phone-crop.png', alt='')
            .access-map-content
              .top-content
                p
                  | Completing Level 3 will put you on the InnerCamp&apos;s map and will give you visibility. Thus your potential clients can be confident that you are the right, reliable and trustworthy specialist to come for help to. 
                  strong You will become part of our certified coaches database,
                  |  which will boost your holistic career.
                p
                  | We get 
                  strong 50.000+ visits per month
                  |  on the website and many requests asking for a facilitator in a specific city, country.
              .bottom-content
                ul
                  li
                    | Students 
                    strong will appear on the InnerCamp map
                    |  after successfully 
                    strong completing the Level 3
                    |  according to all requirements.
                  li
                    | Students should respect 
                    a(href='#') the InnerCamp Code of Ethics
                    |  to appear on the map.
  .tantra3__2-6
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article#program.program
            .top-program-row
              h2.title The Program
              .coaches-img-list
                span Facilitated by 
                ul
                  li
                    img(src='img/team/coach_1.webp', alt='')
                  li
                    img(src='img/team/coach_5.webp', alt='')
                  li
                    img(src='img/team/coach_11.webp', alt='')
                  li
                    img(src='img/team/coach_12.webp', alt='')
            .tabs-row
              .tabs-list
                button.tab-item.active Curriculum
              .event-date
                .clock 125 hours
                .date Jun 1, 2023 - Aug 10, 2023
            .program-content-wrap
              .program-content.active
                ul.program-list
                  li.program-item
                    h4.item-title Tantric Embodiment Coaching
                    span.item-time 70 hours
                    ul.subitem-list
                      li Tantric Embodiment coaching
                      li Coaching for women and men 
                      li Coaching for couples
                      li Tantric coaching tools 
                      li Coaching online
                      li Creating value from the inside out
                      li Standards &amp; Ethics 
                      li Delivering powerful questions
                      li Responding intuitively 
                      li The Art of Coaching
                  li.program-item
                    h4.item-title Introduction to Trauma
                    span.item-time 25 hours
                    ul.subitem-list
                      li Science of Trauma
                      li Symptoms of Trauma
                      li Types of Trauma
                      li Adverse Childhood Experiences
                      li Trauma Informed Approach
                      li Importance of the Language
                  li.program-item
                    h4.item-title Grounding &amp; Protection practices
                    span.item-time 10 hours
                    ul.subitem-list
                      li Cleansing, Grounding, and Protecting 
                      li Experience more presence and safety in your body and life
                      li Tantric and shamanic practices for protection
                  li.program-item
                    h4.item-title Towards a trauma-informed facilitation
                    span.item-time 20 hours
                    ul.subitem-list
                      li How to be a good coach 
                      li Vicarious Trauma/Compassion Fatigue\
                      li How to respond appropriately to adult clients 
                      li Ways for Practitioners to Take Care of Themselves after Responding to Trauma 

          article#facilitators.facilitators
                .container
                  .row
                    .col.m12.s12.l9.xl9
                      h2.title The training is facilitated by
                    .col.m12.s12.l3.xl3.facilitator-arrow-nav
                      .arrows
                        a.left_a.previous-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                        a.right_a.next-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
                .facilitators-slider
                  #facilitator-slider.splide(aria-roledescription='carousel')
                    .splide__track
                      ul.splide__list
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_1.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute; 1
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.



          article#certificate.certificate
            .certificate-photo
              img(src='img/breathwork-teacher/certificate-without-shadow.png', alt='')
            .certificate-content
              h2
                | Become 
                strong a Tantric Embodiment Coach
                |  from the comfort of your own home.
              .requirements-list
                p In order to get your diploma, you should have:
                ul
                  li Facilitated at least 100 hours of Tantra.
                  li Charged at least 50% of your sessions.
                  li Participated in an onsite InnerCamp Retreat.
                a.bundle(href='#') Apply now
              .hint
                p
                  | *In order to get your diploma and appear on the map, you need to facilitate 
                  strong at least 100 hours of Tantra
                  |  and present proof of this experience. This can be done in any format (online or in-person) with one-2-one sessions or group sessions. 
                  strong At least 50% of these sessions should be paid.
                  |  Also, you should participate in at least 
                  strong one on-site InnerCamp Retreat.
          .session-wrap
            h2.title Live Sessions
            article#session.session
              .top-row
                .session-content-wrap
                  .session-schedule
                    .clock 6:00 pm &mdash; 8:00 pm CET
                    span *Amsterdam / Paris time zone
                    .calen Thursdays (biweekly)
                    span.schedule-date
                      | Jun 1, Jun 15, Jun 29, Jul 13, Jul 27, Aug 10 
                      strong (2023)
                    a.bundle-check(href='#') Check my local time here
                  ul.session-benefit
                    li 6 live sessions
                    li Biweekly sessions
                    li All live sessions are recorded
                .session-img
                  img(src='img/tantra/tantra-sessions.png', alt='')
                  a.bundle-download(href='#') Download the Timetable
              .bottom-row
                p
                  | We plan to launch only one course per year, live sessions are optional but each missed session will require a completion of an additional assignment.
  .tantra3__2-7
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article#book-call.book-call
            h2.title Got questions?
            .subtitle
              p
                | Schedule a 
                strong free
                |  consultation call with one of our experts.
            a.bundle(href='#') Schedule now
  .tantra3__2-8
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article.level-exposition
            .exposition-top-row
              h2.title Tantric Embodiment Teacher Training
              a.bundle-request(href='#') Prerequisite: to have completed Tantra Levels 1+2
            .levels-variants
              ul.exposition-list
                li.header-item
                  .first-item
                  .level-item
                    h3 Level 3
                    .list-description
                      p Coach diploma
                li.exposition-item-row
                  .first-item Duration
                  .level-item 125 hours, up to 8 months
                li.exposition-item-row
                  .first-item LIVE Group sessions with Master Trainers
                  .level-item 6 biweekly sessions
                li.exposition-item-row
                  .first-item
                    | High-quality curated videos, 
                    strong access forever
                  .level-item
                    | 25+ videos
                li.exposition-item-row
                  .first-item Articles
                  .level-item 25+ articles
                li.exposition-item-row
                  .first-item Weekly assignments
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Personal counselling
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Access to all InnerCamp virtual workshops
                  .level-item for 3 months
                li.exposition-item-row
                  .first-item Essential and recommended reading list
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Members Hub
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Enrolment In Our Affiliate system
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Discounts to Our Events, Retreats, and New Products
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Lifetime Access to All Online Training Materials
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Access to Tantra Music Playlists
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Access to Guided Breathwork Journey Scripts
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Contracts &amp; Legal Documents to launch your Tantra business
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Monthly Mentoring calls forever
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Study Buddy meetings
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Unlimited Access To Our Private InnerCamp Community
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Diploma &amp; License to Guide InnerCamp Breathwork Sessions
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Appear on InnerCamp Facilitators Map
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                li.exposition-item-row
                  .first-item Access our Exclusive MasterMind Platform for Ongoing Business Training
                  .level-item
                    img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
              .prev-levels
                .top-block
                  h3 Level 1 + 2
                  .list-description
                    p Facilitator diploma (InnerCamp Tantric Embodiment Facilitator)
                .center-block
                  img(src='img/tantra/level1.png', alt='')
                .bottom-block
                  .training-price
                    span Price: 
                    span 2200&euro;
                  a.bundle(href='#') Enroll now
                  .description
                    p Payment plans available 4 months of 600 EUR
            .levels-mobile
              h3.title Level 3
              ul
                li 125 hours, up to 8 months
                li 6 biweekly sessions LIVE Group sessions with Master Trainers
                li 25+ videos high-quality curated videos, access forever
                li 25+ articles access forever
                li Weekly assignments
                li Personal counselling
                li Access to all InnerCamp workshops for 3 months
                li Essential and recommended reading list
                li Members Hub
                li Enrolment In Our Affiliate system
                li Discounts to Our Events, Retreats, and New Products
                li Lifetime Access to All Online Training Materials
                li Access to Tantra Music Playlists
                li Access to Guided Breathwork Journey Scripts
                li Contracts &amp; Legal Documents to launch your Tantra business
                li Monthly Mentoring calls forever
                li Study Buddy meetings
                li Unlimited Access To Our Private InnerCamp Community
                li Diploma &amp; License to Guide InnerCamp Breathwork Sessions
                li Appear on InnerCamp Facilitators Map
                li Access our Exclusive MasterMind Platform for Ongoing Business Training
              .price-item.active
                span.price 1200&euro;
                span.price-type full price
              a.bundle(href='#') Apply now
          article#book-now.book-training
            h2.title Book your training
            .book-training-wrap
              .left-big-block
                img(src='img/breathwork-teacher/part-img.png', alt='')
                .content-block
                  h3 Level 3
                  .top-row
                    ul.left-list
                      li 125 hours, up to 8 months
                      li 6 biweekly sessions
                      li 25+ videos
                      li Weekly assignments
                    ul.right-list
                      li Members Hub
                      li Monthly Mentoring calls forever
                      li
                        | Appear on InnerCamp
                        | Facilitators Map
                  .choose-price
                    .price-item.active
                      span.price 1200&euro;
                      span.price-type full price
                  a.bundle(href='#') Apply now
              .right-small-block(style="background: url('../img/breathwork-teacher/book-now.png') no-repeat top/cover;")
                .top-block
                  h3 Join the InnerCamp Retreat
                  .calen Jun 24 - Jun 27, 2023
                  .add-feature
                    p Upgrade your experience with a retreat
                .upgrade Upgrade +
  .tantra3__2-9
    .container
      .row
        .col.m12.s12.l12.xl9.offset-xl3
          article#faq.breathwork-faq
            h2.title Frequently asked questions
            .faq-item
              button.faq-questions How does the pricing work?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions Can I have more flexibility with the payment plan?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions
                | What happens if I cannot come to the optional retreat (as part of TTC) due to COVID-19 restrictions?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions My training program has not started yet; can I cancel and get a refund?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions My training program has started; can I cancel and get a refund?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions My training program has finished but I didn&apos;t participate; can I get a refund?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions
                | I have booked a retreat together with the online program, until when can I use that credit?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions How does the pricing work?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions In the past, I confirmed my participation in a retreat. Can I still cancel?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions How much effort is required per week?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions Should I attend all live sessions?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions Who is a study buddy?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions What happens if I fail the quizzes and exams?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions Will I continue to have access to the course even after I complete it?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions Will I receive a certification?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions Will I be able to run workshops and retreats after I am certified?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions What will you find when you join one of our programs?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
            .faq-item
              button.faq-questions
                | How do the live sessions work? What is the difference between the program live sessions and the InnerCamp workshops?
              .faq-panel
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
.modal-wrap
  .shadow
  .modal-upgrade-block
    button.upgrade-close
      img(src='img/breathwork-teacher/x-circle.svg', alt='')
    .upgrade-top-row
      h2.title Upgrade your experience with a retreat?
      .calen June 2023
    .modal-upgrade-content
      .left-side
        h3.block-title Choose Date
        .choose-calen Jun 24, 2023 - Jun 27, 2023
      .right-side
        h3.block-title Choose Type of Accommodation
        ul.apartments-list
          li.apartment-item
            ul.img-list
              li
                img(src='img/breathwork-teacher/bed-icon.svg', alt='')
            h3 Single room
            .apartment-item-bottom-row
              .actual Available
              .price 1200&euro;
          li.apartment-item
            ul.img-list
              li
                img(src='img/breathwork-teacher/bed-icon.svg', alt='')
              li
                img(src='img/breathwork-teacher/bed-icon.svg', alt='')
            h3 Shared double room
            .apartment-item-bottom-row
              .actual Available
              .price 800&euro;
          li.apartment-item
            ul.img-list
              li
                img(src='img/breathwork-teacher/bed-icon.svg', alt='')
              li
                img(src='img/breathwork-teacher/bed-icon.svg', alt='')
              li
                img(src='img/breathwork-teacher/bed-icon.svg', alt='')
            h3 Shared glamping
            .apartment-item-bottom-row
              .actual Available
              .price 600&euro;
        .modal-bottom-row
          a.bundle(href='#') Yes, upgrade with a Retreat
          a.disclaimer(href='#') No, thanks
footer
  .container
    .row
      .col.m12.s12.l2.xl2
        .box__
          h3.title_ Experiences
          ul
            li
              a(href='javascript:;') Breathwork Teacher Training
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m12.s12.l2.xl2
        .box__
          h3.title_ About us
          ul
            li
              a(href='javascript:;') Breathwork Teacher Training
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m12.s12.l2.xl2
        .box__
          h3.title_ Partnership
          ul
            li
              a(href='javascript:;') Breathwork Teacher Training
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m12.s12.l2.xl2
        .box__
          h3.title_ Contacts
          ul
            li
              a(href='javascript:;') Request a callback
            li
              a(href='javascript:;') Virtual Workshops 
            li
              a(href='javascript:;') Onsite Retreats 
            li
              a(href='javascript:;') Find a Coach 
      .col.m12.s12.l2.xl2.none
        .box__
          h3.title_ Legal
          ul
            li
              a(href='javascript:;') Terms of Use
            li
              a(href='javascript:;') Privacy Policy &amp; Safety
            li
              a(href='javascript:;') Legal
            li
              a(href='javascript:;') Cookies
      .col.m12.s12.l4.xl4
        h3.info Join thousands of changemakers 
        p.sub_info Receive a 50&euro; discount when you sign up
        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields
          .form_input
            span.field
              input.mail(type='email', name='email', required='', value='', placeholder='Your email')
          .form_input
            span.field
              input#scales(type='checkbox', name='scales', required='', value='')
              label(for='scales')
                | Yes, I would like to subscribe to the InnerCamp newsletter. I agree to let InnerCamp process my personal data in order to send me personalised marketing material, in accordance with the privacy notice. I confirm that I am 18 years old or older.
          button.green(type='submit', name='send') Subscribe
      .col.m12.s12.l5.xl5
        a.logo__footer(href='javascript:;')
          img(src='img/logo.svg', alt='logo')
        ul.soseal
          li
            a(href='javascript:;')
              svg(width='23', height='23', viewbox='0 0 23 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M15.8331 2.37598H6.86322C4.38625 2.37598 2.37827 4.38396 2.37827 6.86093V15.8308C2.37827 18.3078 4.38625 20.3158 6.86322 20.3158H15.8331C18.3101 20.3158 20.3181 18.3078 20.3181 15.8308V6.86093C20.3181 4.38396 18.3101 2.37598 15.8331 2.37598Z', fill='white', stroke='white', stroke-width='2.04514', stroke-linecap='round', stroke-linejoin='round')
                path(d='M14.9363 10.7819C15.047 11.5284 14.9195 12.2908 14.5719 12.9607C14.2243 13.6306 13.6744 14.1738 13.0002 14.5131C12.3261 14.8524 11.5622 14.9705 10.8171 14.8506C10.072 14.7307 9.3837 14.3789 8.85006 13.8453C8.31642 13.3116 7.96463 12.6233 7.84474 11.8782C7.72484 11.1331 7.84294 10.3692 8.18224 9.69507C8.52153 9.02096 9.06475 8.47101 9.73462 8.12342C10.4045 7.77584 11.1669 7.64833 11.9134 7.75903C12.6749 7.87195 13.3799 8.22678 13.9242 8.77111C14.4685 9.31544 14.8234 10.0204 14.9363 10.7819Z', stroke='#D19D50', stroke-width='2.04514', stroke-linecap='round', stroke-linejoin='round')
                circle(cx='15.8794', cy='6.81506', r='0.56652', fill='#D19D50')
          li
            a(href='javascript:;')
              svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M18.2404 0.742188H1.75897C1.48884 0.742188 1.22977 0.849495 1.03877 1.0405C0.847756 1.23151 0.740448 1.49058 0.740448 1.76071V18.2422C0.740448 18.3759 0.766793 18.5084 0.817978 18.632C0.869164 18.7555 0.944187 18.8678 1.03877 18.9624C1.13334 19.057 1.24562 19.132 1.3692 19.1832C1.49277 19.2344 1.62521 19.2607 1.75897 19.2607H10.6293V12.0848H8.22193V9.307H10.6293V7.22367C10.5795 6.73455 10.6372 6.24045 10.7985 5.77602C10.9598 5.31158 11.2208 4.88806 11.5631 4.53516C11.9054 4.18226 12.3208 3.90852 12.7801 3.73315C13.2394 3.55778 13.7315 3.48501 14.2219 3.51997C14.9426 3.51553 15.6629 3.55263 16.3793 3.63108V6.13108H14.9071C13.7404 6.13108 13.5182 6.68663 13.5182 7.49219V9.27922H16.296L15.9349 12.057H13.5182V19.2607H18.2404C18.3742 19.2607 18.5066 19.2344 18.6302 19.1832C18.7538 19.132 18.8661 19.057 18.9606 18.9624C19.0552 18.8678 19.1302 18.7555 19.1814 18.632C19.2326 18.5084 19.259 18.3759 19.259 18.2422V1.76071C19.259 1.62695 19.2326 1.49451 19.1814 1.37094C19.1302 1.24736 19.0552 1.13508 18.9606 1.0405C18.8661 0.945927 18.7538 0.870903 18.6302 0.819718C18.5066 0.768532 18.3742 0.742187 18.2404 0.742188Z', fill='white')
          li
            a(href='javascript:;')
              svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z', fill='white', stroke='white', stroke-width='2.58333', stroke-linecap='round', stroke-linejoin='round')
                path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z', fill='#D19D50')
          li
            a(href='javascript:;')
              svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M13.9997 22.1021C11.3376 22.1021 6.59227 21.8707 4.62467 21.4077C3.81449 21.1762 3.23578 20.5975 3.0043 19.7873C2.65708 18.5142 2.4256 15.8521 2.4256 14.0003C2.4256 12.1484 2.65708 9.4864 3.0043 8.21325C3.23578 7.40307 3.81449 6.82436 4.62467 6.59288C6.59227 6.12992 11.3376 5.89844 13.9997 5.89844C16.6617 5.89844 21.4071 6.12992 23.3747 6.59288C24.1849 6.82436 24.7636 7.40307 24.995 8.21325C25.3423 9.4864 25.5737 12.1484 25.5737 14.0003C25.5737 15.8521 25.3423 18.5142 24.995 19.7873C24.7636 20.5975 24.1849 21.1762 23.3747 21.4077C21.4071 21.8707 16.6617 22.1021 13.9997 22.1021Z', fill='white', stroke='white', stroke-width='2.58333', stroke-linecap='round', stroke-linejoin='round')
                path(d='M11.6854 17.4723L17.4725 14.0001L11.6854 10.5278V17.4723Z', fill='#D19D50')
      .col.m12.s12.l5.xl5
        .app__
          p Download The App
          a(href='javascript:;')
            img(src='img/apl.svg', alt='')
          a(href='javascript:;')
            img(src='img/goo.svg', alt='')
    .row
      .col.m12.s12.l6.xl6
        ul
          li
            a(href='javascript:;') Terms of Use
          li
            a(href='javascript:;') Privacy Policy &amp; Safety
          li
            a(href='javascript:;') Legal
          li
            a(href='javascript:;') Legal
      .col.m12.s12.l6.xl6
        p.copy &copy; 2022 InnerCamp
