doctype

html(lang='en')
  head
    
    - var title = "Innercamp Home Pages"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https://')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + '')
    meta(name='description', conten= '' + description + '')
    meta(name='keywords'  conten= '' + keywords + '')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body(data-img='img/31.png')

    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity


    header(main).b_green__
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__logo
              a.logo(href='javascript:;')
                img(src='img/logo.svg' alt='logo')

            .menu__
              ul#menu-header.menu
                li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-has-children.menu-item-5
                  a(href='javascript:;') Experiences
                  ul.sub-menu
                    li
                      a(href='#') Experiences 2
                    li
                      a(href='#') Experiences 2
                li
                  a(href='javascript:;') Get Certified

                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') About us
                li
                  a(href='javascript:;') Download the APP

            .naviget__
              a.user(href='javascript:;')
              a.cart(href='javascript:;')
                span 2
              a.open__(href='javascript:;') 
   

    section.tantra__1(style="background: url('../img/tantra/tantra-1.png') no-repeat top/cover")
      .container
        .row
          .sub Levels 1 + 2
          h1.title Tantric Embodiment Teacher Training
          .box__content
            a.breathwork(href='#') Tantra
            a.level(href='#') levels 1 + 2
            a.date(href='#') Jan 10, 2023 - Nov 28, 2023
            a.status(href='#') online course
          .tantra-description
            p
              | Learn how to the InnerCamp Tantric Embodiment Method &reg; can help you and your clients awaken, move and direct their dormant energy for the flourishing of love on all levels.
          a.bundle(href='#') Book now

    //- .top-nav-wrap
    //-   .container
    //-     .row
    //-       .col.m12.s12.l3.xl3
    //-         .left-nav
    //-           a.bundle(href='#') Book now
    //-           ul.lvl1
    //-             li.course-basics.active
    //-               a(href='#course-basics') Course basics
    //-             li.accreditations
    //-               a(href='#accreditations') Accreditations
    //-             li.benefits
    //-               a(href='#benefits') Benefits
    //-             li.about-course
    //-               a(href='#about-course') About the course
    //-             li.program
    //-               a(href='#program') The program
    //-             li.facilitators
    //-               a(href='#facilitators') Facilitators
    //-             li.certificate
    //-               a(href='#certificate') Certification
    //-             li.optional-retreat
    //-               a(href='#optional-retreat') Optional retreat
    //-             li.session
    //-               a(href='#session') Live sessions
    //-             li.book-call
    //-               a(href='#book-call') Book a free call
    //-             li.testimonials
    //-               a(href='#testimonials') Testimonials
    //-             li.why-we
    //-               a(href='#why-we') Why we are loved
    //-             li.book-now
    //-               a(href='#') Book now
    //-             li.faq
    //-               a(href='#') FAQ

    section.tantra__2
      .tantra__2-1
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#course-basics.course-basics
                .top-content
                  .basics-img
                    img(src='img/tantra/tantra-2.png', alt='')
                    a.level(href='#') Levels 1 + 2
                  .basics-content
                    .top-row
                      .training-price
                        span Price: 
                        span 2200&euro;
                      a.bundle(href='#') Start my journey
                    .bottom-row
                      .date 9 months
                      .video-qty 50+ videos
                      .clock 500 hours in total
                      .status.online online course
                .bottom-content
                  .bottom-content-descriptions
                    p
                      | You have the option to purchase the levels 
                      strong separately
                      | . 
                      a(href='#') See details

      .tantra__2-2
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#accreditations.accreditations
                .accreditations-content
                  h3.sub INNERCAMP IS AN ACCREDITED SCHOOL
                  p
                    | InnerCamp and its 
                    strong Tantric Embodiment Method
                    |  are registered and accredited by 
                    strong The Complementary Medical Association.
                  p
                    | Our courses are accredited by the leading independent 
                    strong CPD accreditation institution.
                ul.list_img
                  li
                    img(src='/img/brand_1.svg', alt='')
                  li
                    img(src='/img/brand_3.svg', alt='')

      .tantra__2-3
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              h2.title Tantric Embodiment helps to:
              article#benefits.benefits
                .benefits-content
                  ul.benefits-list
                    li Release both emotional and physical toxins from the body.
                    li Reduce stress, anxiety and depression.
                    li Enhance love, intimacy and sexuality.
                    li Improve sleep quality and quality of life.
                    li Release physical, emotional and energetic blockages.
                    li Accept yourself for who you are, feel confident and whole.
                    li Heal your inner child.
                    li Awaken your Kundalini energy.
                .benefits-img
                  img(src='/img/tantra/tantra-3.png', alt='')

      .tantra__2-4
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#about-course.breathwork-about
                h2.title About the Course
                .about-wrap
                  .about-img
                    img(src='img/breathwork-teacher/about_course_2.png', alt='')
                  .about-content
                    h3 Our course is based on a scientific and spiritual approach to Tantra.
                    p
                      | It is a blend of Kashmir Shaivism, non-dual Tantra, Tibetan Tantric Buddhism, Taoist Tantrism, together with modern psychology and holistic practices. 
                      strong The InnerCamp Tantric Embodiment Method
                      |   is structured so that it engages, encourages and compels you to put theory into practice in your own customised way. Our system gives you the time for integration, to embody the theory, along with the concepts and practices we teach.
                    a.bundle-download(href='#') Download Brochure

      .tantra__2-5
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article.tantra-about-program
                .top-row
                  .tantra-about-program-content
                    .tantra-about-program-post
                      h3.title Level 1
                      p
                        | It is a blend of classical tantra (Kashmir Shaivism, non-dual Tantra, Tibetan Buddhist Tantra, Taoist Tantra), together with modern psychology and holistic practices. Upon successful completion of Level 1, students will be presented with the Tantra Practitioner Certificate proving their active participation in the course. These newly acquired skills are for personal use only.
                    .tantra-about-program-post
                      h3.title Level 2
                      p
                        | Level 2 focuses on learning more advanced tantric embodiment tools, how to guide one-on-one and group sessions, holistic coaching, techniques to hold the space, the art of teaching and how to organise Tantra workshops and retreats.
                  .tantra-about-program-img
                    img(src='img/tantra/tantra-3a.png', alt='')
                .full-width-row
                  p
                    | In order to receive the Tantric Embodiment Certificate and be able to facilitate your own events and work with clients, you will need to successfully complete both levels.
                .bottom-row
                  h2.title What this course is NOT:
                  ul.list
                    li
                      | Our Tantric Embodiment training is not a Tantra-Yoga course and we will not practice asanas.
                    li
                      | Our Tantra Method is not a sex training course and no sex will be performed during class.
                    li We don&apos;t follow any religion or sect.

      .tantra__2-6
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#program.program
                .top-program-row
                  h2.title The Program
                  .coaches-img-list
                    span Facilitated by 
                    ul
                      li
                        img(src='img/team/coach_1.webp', alt='')
                      li
                        img(src='img/team/coach_5.webp', alt='')
                      li
                        img(src='img/team/coach_11.webp', alt='')
                      li
                        img(src='img/team/coach_12.webp', alt='')
                .tabs-row
                  .tabs-list
                    button.tab-item(name='tab-1') Level 1
                    button.tab-item(name='tab-2') Level 2
                  .event-date
                    .clock 250 hours
                    .date Jan 10, 2023 - May 9, 2023
                .program-content-wrap
                  #tab-1.program-content.active
                    h3.content-title Level 1: Practitioner Certificate
                    ul.program-list
                      li.program-item
                        h4.item-title Tantra Fundamentals
                        span.item-time 75 hours
                        ul.subitem-list
                          li History of Tantra
                          li Tantra and boundaries
                          li Tantric core principles
                          li Tantric tools
                          li Compassionate sharing
                          li Mindfulness in intimacy
                          li Cultivating and trusting your intuition
                          li The Feminine Principle in Tantra
                      li.program-item
                        h4.item-title Tantra and Breathwork
                        span.item-time 15 hours
                        ul.subitem-list
                          li Pranayama
                          li Connected breathwork
                          li Breathing practices to achieve Oneness
                      li.program-item
                        h4.item-title Tantric Tools
                        span.item-time 15 hours
                        ul.subitem-list
                          li Grounding practices
                          li Transfiguration
                          li Consecration
                          li Desire as a Tantric path
                          li Heart expansion
                          li Polarity
                      li.program-item
                        h4.item-title Healing Practices
                        span.item-time 50 hours
                        ul.subitem-list
                          li Awaken the three centers
                          li Healing trauma
                      li.program-item
                        h4.item-title Energy Work
                        span.item-time 70 hours
                        ul.subitem-list
                          li Polarity work
                          li Chakras
                          li Energy work
                          li Healing Masculine distortions
                          li Healing Feminine distortions
                          li Healing sexual energy
                          li Awakening sexual energy
                      li.program-item
                        h4.item-title Physical Touch
                        span.item-time 15 hours
                        ul.subitem-list
                          li Physical touch
                          li Boundaries and physical touch
                      li.program-item
                        h4.item-title Tantra and Death
                        span.item-time 10 hours
                        ul.subitem-list
                          li Death Awareness
                          li Tantra and Death
                  #tab-2.program-content
                    h3.content-title Part 2

      .tantra__2-7
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#facilitators.facilitators
                .container
                  .row
                    .col.m12.s12.l9.xl9
                      h2.title The training is facilitated by
                    .col.m12.s12.l3.xl3.facilitator-arrow-nav
                      .arrows
                        a.left_a.previous-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                        a.right_a.next-button(href='javascript:;')
                          svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
                .facilitators-slider
                  #facilitator-slider.splide(aria-roledescription='carousel')
                    .splide__track
                      ul.splide__list
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_1.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute; 1
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.
                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

                        li.splide__slide
                          .coach-item
                            .coach-photo
                              img(src='img/team/coach_5.webp', alt='')
                              .single-category InnerCamp founder
                            .coach-content
                              h2.coach-name Alexis Alcal&aacute;
                              .categories
                                a(href='#') InnerCamp founder
                                a(href='#') Holistic coach
                                a(href='#') Breathwork master
                                a(href='#') Tantra teacher
                              .coach-description
                                p
                                  | Certified executive and personal coach, breathwork master and tantra teacher who intuitively uncovers peoples&rsquo; potential so that they feel empowered to unleash that power into their lives and the world. Alexis&rsquo; work revolves around people coaching in different spheres of life. He has worked with different companies across Europe, Africa and Asia as a trainer, mentor, manager and coach. He is someone whose life graph took an astounding turnaround when he changed his own life with the method he created.

      
      .tantra__2-8
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#certificate.certificate
                .certificate-photo
                  img(src='img/breathwork-teacher/Certificate.png', alt='')
                .certificate-content
                  h2
                    | Become 
                    strong
                      | a Tantric Embodiment
                      | Facilitator
                    |  from the comfort of your
                    |                                 home and be accredited to facilitate in
                    |                                 any part of the world.
                  a.bundle(href='#') Enroll now

      .tantra__2-9
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#optional-retreat.tantra-optional-retreat
                h2.title Exotic International Tantra Retreat
                .content-wrap
                  .tantra-optional-post
                    .tantra-optional-post-img
                      img(src='img/tantra/tantra-6.png', alt='')
                    .tantra-optional-post-content
                      .location Spain
                      .description
                        p
                          | Upgrade your InnerCamp Bodywork experience with our one-of-a-kind retreat that blends 3 holistic dominants &ndash; Breathwork, Tantra, and Bodywork.
                      a.bundle-download(href='#') Download our Retreat Brochure
                  .tantra-optional-post
                    .tantra-optional-post-img
                      img(src='img/tantra/tantra-4.png', alt='')
                    .tantra-optional-post-content
                      p
                        | Over the course of four days, InnerCamp will gently guide you along your own healing journey.
                      p
                        | Each day will unlock new tools and techniques to help you free your body and mind from toxic patterns and limiting beliefs, tap into your inherent wisdom, and connect more authentically with the people who matter.
      
      .tantra__2-10
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              .session-wrap
                h2.title Live Sessions
                article#session.session
                  .top-row
                    .session-content-wrap
                      .session-schedule
                        .clock 6:30 pm &mdash; 8:30 pm CET
                        span *Rest break every 3 weeks approx.
                        span *Amsterdam / Paris time zone
                        .calen Thursdays (biweekly)
                        a.bundle-check(href='#') Check my local time here
                        .schedule-date
                          h4.year 2023:
                          ul.month
                            li Jan 10, Jan 17, Jan 31 
                            li Feb 7, Feb 21, Feb 28
                            li Mar 7, Mar 21
                            li Apr 11, Apr 18
                            li May 2, May 9
                            li Jun 6, Jun 13
                            li Jul 4, Jul 11 
                            li Aug 1, Aug 8, Aug 15
                            li Sep 5, Sep 12, Sep 26
                            li Oct 3, Oct 17, Oct  24, Oct 31
                            li Nov 21, Nov 28
                      ul.session-benefit
                        li Live sessions via Zoom
                        li Q&amp;A calls with master facilitators
                        li All live sessions are recorded
                    .session-img
                      img(src='img/tantra/tantra-sessions.png', alt='')
                      a.bundle-download(href='#') Download the Timetable
                  .bottom-row
                    p
                      | Sessions are conducted live 
                      strong via Zoom
                      | . The program includes monthly group 
                      strong Q&amp;A calls with trained facilitators
                      | . The rest of the content is available on our educational platform.

      .tantra__2-11
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#book-call.book-call
                h2.title Got questions?
                .subtitle
                  p
                    | Schedule a 
                    strong free
                    |  consultation call with one of our experts.
                a.bundle(href='#') Schedule now

      .tantra__2-12
        .container
          .row.bodywork-testimonials
            .col.m12.s12.l12.xl9.offset-xl3
              .testimonials-header
                h2.title Testimonials
                .arrows
                  a.left_a.previous-button(href='javascript:;')
                    svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928936L0.292892 7.2929ZM45 7L1 7L1 9L45 9L45 7Z', fill='#B9B9B9')
                  a.right_a.next-button(href='javascript:;')
                    svg(width='45', height='16', viewbox='0 0 45 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M44.7071 8.7071C45.0976 8.31658 45.0976 7.68341 44.7071 7.29289L38.3431 0.928929C37.9526 0.538404 37.3195 0.538405 36.9289 0.928929C36.5384 1.31945 36.5384 1.95262 36.9289 2.34314L42.5858 8L36.9289 13.6569C36.5384 14.0474 36.5384 14.6805 36.9289 15.0711C37.3195 15.4616 37.9526 15.4616 38.3431 15.0711L44.7071 8.7071ZM8.74228e-08 9L44 9L44 7L-8.74228e-08 7L8.74228e-08 9Z', fill='#B68742')
              #bodywork-testimonials-slider.testimonials-slider.splide
                .splide__track
                  .splide__list
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')
                    .splide__slide.testimonials-item
                      a.testimonials-link(data-fancybox='', href='https://www.youtube.com/watch?v=2xeEKF8O0Ek&list=PLIPLVbRO-ESui8w3ZiW817_ITWg6psx5u&ab_channel=innercamp')
                        img(src='./img/bodywork-1/testimonials.jpg', alt='')


      .tantra__2-13
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#why-us.why-us
                h2.title Why students like InnerCamp
                .feature-list
                  ul.left-list
                    li Access to the InnerCamp App.
                    li Flexibility to complete the course at your own pace.
                    li Live Zoom sessions.
                    li &quot;Study buddy&quot; during the course.
                    li Lifelong membership in our global community.
                    li Individual feedback on assessments.
                  .read-more Read more
                  ul.right-list
                    li Exclusive downloadable materials.
                    li Free access to our regular online sessions.
                    li Unlimited video replays on our eLearning platform.
                    li Discount for your future InnerCamp experiences.
                    li Study on your laptop or mobile with the InnerCamp App.
                .why-us-content-wrap
                  .why-us-content
                    h3
                      | The moment you enroll, you connect with our fast-growing community of conscious people worldwide.
                    p
                      | We show you the way to self-transformation through psychological, emotional and spiritual 
                      strong  growth and fulfillment.
                    p
                      | We equally honor modern and classical lineages of Tantra, and teach you how 
                      strong to implement them in your life.
                    .read-more Read more
                    .why-us-bottom-content
                      p
                        | Our assignments are thoughtfully designed to initiate introspection, personal development and growth as 
                        strong an individual.
                      p
                        | We help you enhance the intimacy and connection first and foremost with 
                        strong yourself and then with others.
                      p
                        strong
                          | We guide you to find your natural sexual essence in order to attract or maintain meaningful and compatible relationships.
                  .why-us-img
                    img(src='img/breathwork-teacher/why-we.png', alt='')

      .tantra__2-14
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article.level-exposition
                .exposition-top-row
                  h2.title Tantric Embodiment Teacher Training
                  .calen Jan 10, 2023 - Nov 28, 2023
                ul.exposition-list
                  li.header-item
                    .first-item
                    .level-item
                      h3 Level 1
                      .list-description
                        p Self-journey diploma (Self-healing journey)
                    .level-item.full-program
                      h3 Levels 1 + 2
                      .list-description
                        p InnerCamp Tantric Embodiment Facilitator Diploma
                  li.exposition-item-row
                    .first-item Duration
                    .level-item 200 hours, 4 months
                    .level-item.full-program 500 hours, 9 months
                  li.exposition-item-row
                    .first-item LIVE Group sessions with Master Trainers
                    .level-item 12 weekly sessions
                    .level-item.full-program 28 weekly sessions
                  li.exposition-item-row
                    .first-item Access to biweekly Tantric circles
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item High-quality curated videos, access forever
                    .level-item 25+ videos
                    .level-item.full-program 50+ videos
                  li.exposition-item-row
                    .first-item Tantra articles
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Weekly assignments
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Personal counselling
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Access to all InnerCamp virtual workshops
                    .level-item for 4 months
                    .level-item.full-program for 9 months
                  li.exposition-item-row
                    .first-item Enrolment In Our Affiliate system
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Discounts to Our Events, Retreats, and New Products
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Lifetime Access to All Online Training Materials
                    .level-item
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Access to Tantra Music Playlists
                    .level-item
                      img(src='img/tantra/red-circle.svg', alt='')
                      span no
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Monthly Mentoring calls forever
                    .level-item
                      img(src='img/tantra/red-circle.svg', alt='')
                      span no
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Study Buddy meetings
                    .level-item
                      img(src='img/tantra/red-circle.svg', alt='')
                      span no
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item Unlimited Access To Our Private InnerCamp Community
                    .level-item
                      img(src='img/tantra/red-circle.svg', alt='')
                      span no
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes
                  li.exposition-item-row
                    .first-item License to Guide InnerCamp Tantra Sessions
                    .level-item
                      img(src='img/tantra/red-circle.svg', alt='')
                      span no
                    .level-item.full-program
                      img(src='img/breathwork-teacher/check-circle-2.svg', alt='')
                      span yes

      .tantra__2-15
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#book-now.book-training
                h2.title Book your training
                .book-training-wrap
                  .left-small-block
                    h3
                      strong Level 1:
                      |  Self-healing journey
                    .top-row
                      ul.training-list
                        li 200 hours, 4 months
                        li 12 weekly sessions
                        li 25+ videos
                        li Members Hub
                    .choose-price
                      .price-item
                        span.price 425&euro;
                        span.price-type 3 instalments
                      .price-item.active
                        span.price 1200&euro;
                        span.price-type full price
                      .price-item
                        span.price 500&euro;
                        span.price-type deposit
                    a.bundle(href='#') Enroll now
                  .middle-small-block
                    h3
                      strong Level 1 + 2:
                      |  Facilitator diploma
                    .top-row
                      ul.training-list
                        li 500 hours, 9 months
                        li 50+ videos
                        li Monthly Mentoring calls forever
                        li Study Buddy meetings
                    .choose-price
                      .price-item
                        span.price 600&euro;
                        span.price-type 4 instalments
                      .price-item.active
                        span.price 2200&euro;
                        span.price-type full price
                      .price-item
                        span.price 500&euro;
                        span.price-type deposit
                    a.bundle(href='#') Enroll now
                  .right-small-block(style="background: url('../img/breathwork-teacher/book-now.png') no-repeat top/cover;")
                    .top-block
                      h3 Join the InnerCamp Retreat
                      .calen Jun 24, 2023 - Jun 27, 2023
                      .add-feature
                        p Upgrade your experience with a retreat
                    .upgrade Upgrade +

      .tantra__2-16
        .container
          .row
            .col.m12.s12.l12.xl9.offset-xl3
              article#faq.breathwork-faq
                h2.title Frequently asked questions
                .faq-item
                  button.faq-questions How does the pricing work?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Can I have more flexibility with the payment plan?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions
                    | What happens if I cannot come to the optional retreat (as part of TTC) due to COVID-19 restrictions?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions My training program has not started yet; can I cancel and get a refund?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions My training program has started; can I cancel and get a refund?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions My training program has finished but I didn&apos;t participate; can I get a refund?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions
                    | I have booked a retreat together with the online program, until when can I use that credit?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions How does the pricing work?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions In the past, I confirmed my participation in a retreat. Can I still cancel?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions How much effort is required per week?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Should I attend all live sessions?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Who is a study buddy?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions What happens if I fail the quizzes and exams?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Will I continue to have access to the course even after I complete it?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Will I receive a certification?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions Will I be able to run workshops and retreats after I am certified?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions What will you find when you join one of our programs?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!
                .faq-item
                  button.faq-questions
                    | How do the live sessions work? What is the difference between the program live sessions and the InnerCamp workshops?
                  .faq-panel
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, omnis!

    .modal-wrap
      .shadow
      .modal-upgrade-block
        button.upgrade-close
          img(src='img/breathwork-teacher/x-circle.svg', alt='')
        .upgrade-top-row
          h2.title Upgrade your experience with a retreat?
          .calen June 2023
        .modal-upgrade-content
          .left-side
            h3.block-title Choose Date
            .choose-calen Jun 24, 2023 - Jun 27, 2023
          .right-side
            h3.block-title Choose Type of Accommodation
            ul.apartments-list
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Single room
                .apartment-item-bottom-row
                  .actual Available
                  .price 1200&euro;
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Shared double room
                .apartment-item-bottom-row
                  .actual Available
                  .price 800&euro;
              li.apartment-item
                ul.img-list
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                  li
                    img(src='img/breathwork-teacher/bed-icon.svg', alt='')
                h3 Shared glamping
                .apartment-item-bottom-row
                  .actual Available
                  .price 600&euro;
            .modal-bottom-row
              a.bundle(href='#') Yes, upgrade with a Retreat
              a.disclaimer(href='#') No, thanks

      script.
        $('.feature-list .read-more').on('click', function() {
          $(this).toggleClass('active');
          $('.right-list').toggleClass('open');
        } );

        $('.why-us-content .read-more').on('click', function() {
          $(this).toggleClass('active');
          $('.why-us-bottom-content').toggleClass('open');
        } );