
section.app__1{
  
//  background: #424F44;
//    background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center; 
 
  @media screen and ( min-width: 1777px){
    background: #424F44 url(../img/app__1.png) no-repeat right; 
    background-size: contain;
  }

  
@include wid(1500){ 
    background: #424F44 url(../img/app__1.png) no-repeat center right -270px; 
    background-size: contain;
}
@include wid(1200-1499){ 
    background: #424F44 url(../img/app__1.png) no-repeat center right -370px ; 
    background-size: contain;
}
@include wid(992-1199) { 
    background: #424F44 url(../img/app__1.png) no-repeat bottom right -450px ; 
        background-size: contain;
  }
@include wid(601-991)  { 
    background: #424F44 url(../img/app__1_mob1.png) no-repeat center bottom; 
        background-size: contain;
  }
@include wid(600)      { 
    background: #424F44 url(../img/app__1_mob1.png) no-repeat center bottom ; 
        background-size: contain;
  }

  
  
    position: relative;
    overflow: hidden;
   
@include wid(992)      {    padding-top: 183px; padding-bottom: 93px; }
@include wid(601-991)  {    padding-top: 150px; padding-bottom: 450px; }
@include wid(600)      {    padding-top: 127px; padding-bottom: 312px; }
  
  
  .sub{ color: #fff; margin-bottom: 15px; }
  .title{ color: #fff; margin-bottom: 35px; line-height: 1.1em;  max-width: 626px;
  
    @include wid(600) {  max-width: 75%;  margin-bottom: 30px; }
  
  }

  
  p:not(.sub){
    color: #FFFFFF;
    

    max-width: 626px;
    

@include wid(992)      { font: 100 18px/1.5em var(--ob);    margin-bottom: 35px; }
@include wid(601-991)  { font: 100 16px/1.5em var(--ob);    margin-bottom: 30px; }
@include wid(600)      { font: 100 14px/1.5em var(--ob);    margin-bottom: 25px; }
    
    
    &.border{
          margin: 10px 0 20px 0;
      color: #FFFFFF;
  padding:  12px 19px; 
         max-width: 100%;
//@include wid(992)      { }
//@include wid(601-991)  {  }
//@include wid(600)      {  }
      
      display: inline-block;
      

      border: 1px dashed #fff;
      border-radius: 45px;
    }
  }
  
  .bottom__{
    @extend %flex;

@include wid(992)      {   gap: 25px;    justify-content: flex-start;}
@include wid(601-991)  {   gap: 25px;    justify-content: flex-start; }
@include wid(600)      {  gap: 23px;   justify-content: flex-start;  }
    
    a{
      display: flex;
      
             border-radius: 10px;
  box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12);
      
      &:hover{
  box-shadow: 18px 41px 71px rgba(182, 135, 66, 0.35), inset 5px 6px 14px rgba(182, 135, 66, 0.40);
      }
      
      
      img{
        
        border-radius: 10px;
        
@include wid(992)      {  }
@include wid(601-991)  {  }
@include wid(600)      {  }
        
      }
    }
  }
  
  
  
  
}

section.app__2{
  
    position: relative;
    overflow: hidden;
   
@include wid(992)      {    padding-top: 183px; padding-bottom: 40px; }
@include wid(601-991)  {    padding-top: 150px; padding-bottom: 70px; }
@include wid(600)      {    padding-top: 80px; padding-bottom: 61px; }
  
  
  &>.container>.row:nth-child(1)>div:nth-child(2){
    
    @include wid(992) {  margin-right: -10px;  padding-left: 45px; }
     
     p:nth-last-child(2) {
       margin-bottom: 0;
     }
     
     
  }
  
  
  @include wid(991)  { 
    &>.container>.row:nth-child(1){
      
      display: flex;
      flex-wrap: wrap;
      
      &>div:nth-child(1){
        order: 2;
      }
      
      
      &>div:nth-child(2){
        order: 1;
      }
      
      
    }
    
  }
  
  
  .sub{
    margin-bottom: 10px;
  }
  
  .sub{ color: #404F42; }
  .title{ color: #404F42; margin-bottom: 25px; line-height: 1.1em; }
  
  .box__{
      
    background: #424F44; 
    
    
    @include wid(992)      { border-radius: 34px; padding: 22px 36px; margin-bottom: 30px; }
    @include wid(601-991)  { border-radius: 34px; padding: 18px 28px; margin-bottom: 30px; }
    @include wid(600)      { border-radius: 17px; padding: 13px 16px; margin-bottom: 30px; }
    
    p{
      color: #fff;
      margin-bottom: 0 !important;
     
@include wid(1500)     { font: 300 24px/1.7em var(--o); }
@include wid(1200-1499){ font: 300 22px/1.7em var(--o); }
@include wid(992-1199) { font: 300 20px/1.7em var(--o); }
@include wid(601-991)  { font: 300 19px/1.7em var(--o); }
@include wid(600)      { font: 300 14px/1.7em var(--o); }

      
    }
  }
  
  ul{
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          
          margin: 10px 0;
          
          li{
            color: #404F42;
            
            padding-left: 30px;
            
            position: relative;
            
            margin-bottom: 3px;
            
            @extend %flex;
            
            justify-content: flex-start;
            
              &:before{
                  @extend %bef-aft;

                 width: 3px;
                height: 3px;
                
                border-radius: 50%;
                background: #404F42;
                position: absolute;
                
                left: 15px;
                
                
                }
            
@include wid(992)      { font: 200 18px/1.5em var(--o); }
@include wid(601-991)  { font: 200 16px/1.5em var(--o); }
@include wid(600)      { font: 200 14px/1.5em var(--o); }
          }
        }
   
  p{
    color: #404F42;
    margin-bottom: 30px;
    
@include wid(992)      { font: 200 18px/1.5em var(--o); }
@include wid(601-991)  { font: 200 16px/1.5em var(--o); }
@include wid(600)      { font: 200 14px/1.5em var(--o); }
  }
  
  .box__image{
    
    position: relative;
    
    img{
//@include wid(991) { } 
      
      
        @media screen and (min-width: 1750px){ float: inherit; }
        
@include wid(1500)     {  width: 935px;  height: 860px;  min-width: 935px;  margin-left: -75px;  margin-top: -55px;  float: right; }
@include wid(1200-1499){ width: 100%; height: auto; }
@include wid(992-1199) {  }
@include wid(601-991)  { margin: 60px auto 0 auto;  }
@include wid(600)      { margin: 30px auto 0 auto;  }

    
      
    }
  }
  
  
  
  
  
  
  
}

section.app__3{
  
//      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;
     
  
    position: relative;
    overflow: hidden;
  

       

@include wid(992)      {    padding-top: 48px; padding-bottom: 170px; min-height:  1600px; 
  
   background: var(--white-color-3) url(../img/app__3_back.png) no-repeat center bottom 79px /cover;
  
  }
@include wid(601-991)  {    padding-top: 100px; padding-bottom: 100px; 
  
   background: var(--white-color-3) url(../img/app__3_back.png) no-repeat top center;
  }
@include wid(600)      {    padding-top: 91px; padding-bottom: 99px; 
  
   background: var(--white-color-3) url(../img/app__3_back.png) no-repeat top center;
  
  }
  
  
    &>.container>.row:nth-child(1){
   
@include wid(992)      {       margin-bottom: 55px;}
@include wid(601-991)  {       margin-bottom: 45px; }
@include wid(600)      {     margin-bottom: 35px;}
      
  }
  
     &>.container>.row:nth-child(2)>div:nth-child(2){
       @include wid(1200) { padding-left: 45px; }
       
  }
  
 &>.container>.row:nth-child(2){
//        margin-bottom: 225px;
  }
  
  .title{
    color: #fff;
  }
  
  .sub{
    color: #fff;
  }
  
  .box__img{
    display: flex;

    

    
    
@media screen and (min-width: 1800px){
  padding: 122px 0 0 122px; 
}    
@media screen and (min-width: 1500px) and (max-width: 1799px){  
  padding: 60px 0 0 60px;

}
@include wid(1200-1499){   padding: 40px 0 0 40px;
 }
@include wid(992-1199) {   padding: 30px 0 0 30px;
 }
@include wid(991)  { display:  none}

    
    
box-shadow: inset 5px 6px 14px rgba(0, 0, 0, 0.12);
filter: drop-shadow(18px 41px 71px rgba(0, 0, 0, 0.25));
border-radius: 34px;
    background: url(../img/app__3_block.png) no-repeat center top ;
    

    
    
    
    img{
      
      width: 100%;
      max-width: 430px;
         height: fit-content;
      
    }
    
    .bot__{
      position: relative;
      z-index: 1;
      

      
@media screen and (min-width: 1800px){
        margin-top: 320px; margin-left: -80px;
}    
@media screen and (min-width: 1500px) and (max-width: 1799px){  

        margin-top: 385px;  margin-left: -180px;
}
@include wid(1200-1499){ margin-top: 405px;  margin-left: -240px; }
@include wid(992-1199) { margin-top: 405px;  margin-left: -340px; }
@include wid(601-991)  {  }
@include wid(600)      {  }
    
      
      display: flex;
      justify-content: center;
      flex-direction: column;
      
        &:after{
          @extend %bef-aft;

          background: url(../img/app__3_arrow_d.svg) no-repeat;
          
          margin-bottom: 30px;

    width: 288px;
    height: 380px;
    margin-left: 90px;
    margin-top: -15px;
    z-index: 1;
        }
      
      
      
      .bord-bundle{
        z-index: 3;
        
        margin-left: -30px;
        
        
        
      }
        

    }
    
    
  }
  
  .bord-bundle{
  
  }
  
  .box__list{
    border-radius: 34px;
    
    .top{
      display: flex;
      justify-content: space-between;
align-items: center;
    padding: 20px 25px;
    border-radius: 34px 34px 0 0;
    background: #424f44;

      
      span{
        color: #fff;
        
     
        
@media screen and (min-width: 1800px){
     font: 100 24px/1.2em var(--ob);
}    
@media screen and (min-width: 1500px) and (max-width: 1799px){  
   font: 100 21px/1.2em var(--ob);
}
@include wid(1200-1499){    font: 100 20px/1.2em var(--ob); }
@include wid(992-1199) {    font: 100 20px/1.2em var(--ob); }
@include wid(601-991)  {    font: 100 17px/1.2em var(--ob); }
@include wid(600)      {    font: 100 14px/1.2em var(--ob); }
        
        
      }
      
      &>span:nth-child(2){
        display: flex;
          &:before{
    @extend %bef-aft;

    background: url(../img/app__3_star.svg) no-repeat;

    width: 24px;
    height: 25px;
    margin-right: 5px;
  }
      }
    }
    
    ul{
      background: #FFFFFF;
box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12);
border-radius: 0px 0px 34px 34px;
      
      
      
@include wid(992)      { padding: 10px 30px 10px 30px; }
@include wid(601-991)  { padding: 10px 20px 10px 20px;  }
@include wid(600)      { padding: 13px ; }
      
      li{
        
        position: relative;
        
        
  &:after{
    @extend %bef-aft;

    background: url(../img/app__3_line.svg) no-repeat center/contain;


    width: 100%;
    height: 3px;
    position: absolute;
    
    bottom: 0;
  }
        
        &:last-child{
          
          &:after{
            display: none;
          }
        }
        
@include wid(1500)     { gap: 0 35px;  padding: 35px 0; }
@include wid(1200-1499){ gap: 0 30px;  padding: 30px 0; }
@include wid(992-1199) { gap: 0 25px;  padding: 25px 0; }
@include wid(601-991)  { gap: 0 23px;  padding: 23px 0; }
@include wid(600)      { gap: 0 15px;  padding: 20px 0; }
        
        display: flex;
//        flex-direction: column;
        justify-content: space-between;
        
       
        
        
        
        
        p{
          color: #404F42;

@media screen and (min-width: 1800px){
     font: 200 24px/1.2em var(--o);
}    
@media screen and (min-width: 1500px) and (max-width: 1799px){  
   font: 200 21px/1.2em var(--o);
}
@include wid(1200-1499){    font: 200 20px/1.2em var(--o); }
@include wid(992-1199) {    font: 200 20px/1.2em var(--o); }
@include wid(601-991)  {    font: 200 17px/1.2em var(--o); span{ display: initial; margin: 0 7px; } }
          @include wid(600)      {    font: 200 14px/1.2em var(--o);  max-width: 200px;  span{ display: initial; margin: 0 5px; } }
          
          span{
             text-decoration: none;
          }
          
        }
        
        span{
          color: #404F42;
          
          text-decoration: line-through;

@media screen and (min-width: 1800px){
     font: 100 24px/1.2em var(--ob);
}    
@media screen and (min-width: 1500px) and (max-width: 1799px){  
   font: 100 21px/1.2em var(--ob);
}
@include wid(1200-1499){    font: 100 20px/1.2em var(--ob); }
@include wid(992-1199) {    font: 100 20px/1.2em var(--ob); }
@include wid(601-991)  {    font: 100 17px/1.2em var(--ob); }
@include wid(600)      {    font: 100 14px/1.2em var(--ob); }
          
          
          &.star{
            display: flex;
            justify-content: center;
            align-items: center;
            
                text-decoration: none;

            gap: 0 10px;
            
            &:before{
              @extend %bef-aft;

              background: url(../img/app__3_star.svg) no-repeat;

              width: 24px;
              height: 25px;
            }
            
          }
        }
        
      }
      
    }
    

    &:after{
      @extend %bef-aft;
      
      @include wid(991)  {

      background: url(../img/app__3_arr_next.svg) no-repeat;

      width: 82px;
      height: 109px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;

        
      }
    }

    
  }
  
  .free_treal{
    
    z-index: 1;
    
//    background: #F1EFE8;
    

    
@include wid(1200) {  background: #F1EFE8 url(../img/app__3_box_logo.png) no-repeat right  top 76px;     min-height: 722px; padding: 54px 83px; }
@include wid(992-1199) { background: #F1EFE8;     min-height: 722px; padding: 45px 60px; }
@include wid(601-991)  { background: #F1EFE8;   padding: 40px 50px; }
@include wid(600)      { background: #F1EFE8;  padding: 35px 40px; }

    
box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12);
border-radius: 34px;
    
    max-width: 995px;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    

    
    border-top: 2px solid #fff;
    
    .title{
          color: #B68742;
      margin-bottom: 34px;
      
      font-family: var(--ob);
      
      display: flex;
      align-items: center;
          white-space: nowrap;
      
      
@include wid(992-1199) { justify-content: center; }
@include wid(601-991)  { justify-content: center; }
@include wid(600)      { justify-content: center;  margin-bottom: 15px; }
      
      @include wid(400)      {  font-size:  20px; }

      
      span{
              font-family: var(--ob);
     color: #424F44;
        margin: 0 15px;
      }
      
      
   &:before{
    @extend %bef-aft;
     
     
@include wid(1200) { 
     
    background: url(../img/app__3_icon.svg) no-repeat center;
     
     background-size: contain;

    width: 80px;
  min-width: 80px;
    height: 80px;
    margin-right: 30px; 
     
}
@include wid(992-1199) { 

    background: url(../img/app__3_icon.svg) no-repeat center;
     
    background-size: contain;
  
  min-width: 65px;
    width: 65px;
    height: 65px;
    margin-right: 30px;
     
}
@include wid(601-991)  { 
     
    background: url(../img/app__3_icon.svg) no-repeat center;
     
    background-size: contain;
  
 min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
     
}
@include wid(600)      { 
     
    background: url(../img/app__3_icon.svg) no-repeat center;
     
    background-size: contain;
  
  font-size: 24px;

 min-width: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
     
}
     


  }
      
    }
    
    .box__{
      
      
@include wid(1200)     { margin: 0 auto 0 0;  padding: 70px 100px;  min-height:  468px; }
@include wid(992-1199) { margin: 0 auto;  padding: 40px 60px; }
@include wid(601-991)  { margin: 0 auto;  padding: 30px 45px; }
@include wid(600)      { margin: 0 auto;  padding: 30px; }
      
      background: #FFFFFF;
      border-radius: 17px;
      
      max-width: 611px;
      width: 100%;
     
      
      
      
      @extend %flex;
      
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      
      
      
      
      .prise{
        color: rgba(66, 79, 68, 1);
        
        width: 100%;
        text-align: center;
        
       
        
@include wid(992)      {  font: 100 36px/1.2em var(--ob); }
@include wid(601-991)  {  font: 100 26px/1.2em var(--ob); margin-bottom: 0; padding: 20px 0;}
@include wid(600)      {  font: 100 18px/1.2em var(--ob); margin-bottom: 0; padding: 10px 0; }
        
        span{
          color: rgba(182, 135, 66, 1);

@include wid(992)      {  font: 100 36px/1.2em var(--ob); }
@include wid(601-991)  {  font: 100 26px/1.2em var(--ob); }
@include wid(600)      {  font: 100 18px/1.2em var(--ob); }
          
          
        }
                margin: 0  auto auto;
      }
      
      .or{
          color: rgba(182, 135, 66, 1);

        @include wid(992)      {  font: 100 36px/1.2em var(--ob); }
        @include wid(601-991)  {  font: 100 26px/1.2em var(--ob); padding: 20px 0;}
        @include wid(600)      {  font: 100 18px/1.2em var(--ob); padding: 10px 0;}
        
        
        margin: auto;
      }
      
      .year{
            color: rgba(66, 79, 68, 1);

  @include wid(992)      {  font: 100 36px/1.2em var(--ob); }
@include wid(601-991)  {  font: 100 26px/1.2em var(--ob); padding: 20px 0;}
@include wid(600)      {  font: 100 18px/1.2em var(--ob); padding: 10px 0; }
        
                margin: auto;
      }
      
      
      
      
  .bottom__{
   
    
    @extend %flex;
 justify-content: center;
@include wid(992)      {   gap: 23px;   margin-top: auto;  }
@include wid(601-991)  {   gap: 23px;    margin-top: 30px;  }
@include wid(600)      {  gap: 10px 20px;  margin-top: 15px; flex-direction: column; }
    
    a{
      display: flex;
      
             border-radius: 10px;
box-shadow: 18px 22px 37px rgba(0, 0, 0, 0.24), inset 5px 10px 14px rgba(0, 0, 0, 0.42);
      
      &:hover{
  box-shadow: 18px 41px 71px rgba(66, 79, 68, .4), inset 5px 6px 14px rgba(66, 79, 68, .6);
      }
      
      
      img{
        
        border-radius: 10px;
        
@include wid(992)      {  }
@include wid(601-991)  {  }
@include wid(600)      { max-width: 100%;  }
        
      }
    }
  }
      
    }
    
    
  }
  
  .img__apl{
    margin: 0 auto;
    
    z-index: 2;
    display: flex;
    justify-content: flex-end;

    
    
@media screen and (min-width: 1800px){
      margin-top: -420px; margin-right: -150px;
}    
@media screen and (min-width: 1500px) and (max-width: 1799px){  
      margin-top: -420px; margin-right: -350px;
}
@include wid(1200-1499){   
      margin-top: -420px; margin-right: -400px;
}
@include wid(992-1199) {  
//  background:  url(../img/app__3_box_logo_mobile.svg) no-repeat   top center;  
}
@include wid(991)  { 
      background:  url(../img/app__3_box_logo_mobile.svg) no-repeat   top center;  
  
  padding-top: 130px;
}
    
    
    
    img{
  
    }
  }
  

  
}

.box__arr{
  margin: 0 auto;
  position: relative;
  display: flex;
  
  z-index: 22;
  
  .container{
  
    &:before{
      @extend %bef-aft;
      
      
      @include  wid(992)  { 

        background: url(../img/arrow__bottom.svg) no-repeat bottom;
        width: 815px;
        height: 503px;
        position: absolute;
        top: -225px;
        left: 150px;
        
      }
      
      @include  wid(991)  { 
        
        background: url(../img/arrow__app_mob.svg) no-repeat bottom  left 40%;
        width: 100%;
        height: 244px;
        position: absolute;
        top: -170px;
//        left: 50px;
        
      }
      
      
    }

  }
}

section.app__4{
  
//      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;
//      background: var(--white-color-3) url(../img/app__3_back.png) no-repeat center bottom 79px /cover;

  
    position: relative;
    overflow: hidden;

@include wid(992)      {    padding: 65px 0 75px 0; 
  
  background: rgb(66,79,68);
background: linear-gradient(90deg, rgba(66,79,68,1) 37%, rgba(0,0,0,0) 100%);
  
}
@include wid(601-991)  {   
  
  background: rgb(66,79,68);
background: linear-gradient(180deg, rgba(66,79,68,1) 240px, rgba(0,0,0,0) 100%);
  
  padding-top: 50px; padding-bottom: 0; }
@include wid(600)      {    
  
    background: rgb(66,79,68);
background: linear-gradient(180deg, rgba(66,79,68,1) 170px, rgba(0,0,0,0) 100%);
  
  padding-top: 20px; padding-bottom: 0; }
  
  &>.container>.row:nth-child(1){
   
    
    
    @include wid(992)      {   padding-bottom: 80px;  }
    @include wid(601-991)  {  padding-bottom: 60px;  }
    @include wid(600)  {  padding-bottom: 40px; }
    
  }
  
  &>.container{
    z-index: 2;
  }
  
  &>.container{
    &:before{
      @extend %bef-aft;
      
      
      @include wid(992)  {   

        background: url(../img/app__4_line_bottom.svg) no-repeat left/cover;

        max-width: 931px;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;

      }
      
        @include wid(991)      { 

                 background: url(../img/footer-line.svg) no-repeat center;
                  background-size: cover;

          width: calc(100% - 40px);
           height: 2px;
      position: absolute;
          
          left: 20px;
         
         bottom:0;
           
           }
      

    }
  }
  
  &>.container>.row{
    position: relative;
    &:before{
      @extend %bef-aft;
      
            @include wid(992)  {  

      background: url(../img/app__4_line_left.svg) no-repeat center/cover;

      width: 2px;
      height: 100%;
      position: absolute;
      left: 0;
              
      }
      
            @include wid(991)  {  

      background: url(../img/app__4_line_left.svg) no-repeat center/contain;

      width: 2px;
      height: 100%;
      position: absolute;
      left: 20px;
              
      }
      

    }
  }
  
  video{
    z-index: -1;
    
@include wid(992)      { 
    width: 70%;
    min-width: 70%;
    right: 0;
    margin-left: auto;
  
    }
//    @include wid(991)      {   top: 250px !important;
//    
//    
//          width: 100%;
//    min-width:  100%;
//    right: 0;
//      left: 0;
//    
//    }
    @include wid(601-991)     {   
//      top: 250px !important;
    
    position: relative;
          width: 100%;
    min-width:  100%;
    right: 0;
      left: 0;
    min-height: inherit;
    }
    
    @include wid(600)      {   
//      top: 200px !important;
    position: relative;
    min-height: inherit;
          width: 100%;
    min-width:  100%;
    right: 0;
      left: 0;
    
    }
    
    
    
//@include wid(991)      { 
//  
//  top: 50%;
//    width: 100%;
//    min-width: 100%;
//    right: 0;
//    margin-left: auto;
//  
//}
    

  }
  
  .title{
    color: #fff;
    padding-left: 45px;

    
    @include wid(992)      {   margin-top: 55px;    margin-bottom: 18px; }
    @include wid(601-991)  {  text-align: center; margin-bottom: 20px;}
    @include wid(600)  {  text-align: center; margin-bottom: 30px; }
  }
  
  .bot__{
    @include wid(992) {  margin-left: 400px;  }

    .bord-bundle{
      padding: 0 30px;
      
          @include wid(991) {  margin-left: auto; margin-right: auto; }
    }
  }
  
  
  
  
  
  
  
  
  
}

section.app__5{
  
//      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;
//      background: var(--white-color-3) url(../img/app__3_back.png) no-repeat center bottom 79px /cover;
  
  
//  background: rgb(66,79,68);
//background: linear-gradient(90deg, rgba(66,79,68,1) 37%, rgba(0,0,0,0) 100%);
  
    position: relative;
    overflow: hidden;

       

@include wid(1200)      {    padding: 170px 0 75px 0; }
  
@include wid(992-1199) {  padding-top: 110px; padding-bottom: 110px;  }
@include wid(601-991)  {    padding-top: 100px; padding-bottom: 100px; }
@include wid(600)      {    padding-top: 120px; padding-bottom: 120px; }
  
  
   &>.container>.row:nth-child(2){
     position: relative;
     
       &:before{
    @extend %bef-aft;
         
        @include wid(992) {  

            background: #B68742;

            width: 67%;
            height: 2px;

            position: absolute;
            top: 27px;
            margin-left: auto;
            margin-right: auto;

            left:0;
            right: 0;
  
         }
         
         
        @include wid(601-991) {  

            background: #B68742;

            width: 2px;
            height: 66.66666%;

            position: absolute;
            top: 27px;

            left: 34px;
         
  
         }
         
        @include wid(600) {  

            background: #B68742;

            width: 2px;
            height: 66.66666%;

            position: absolute;
            top: 27px;

            left: 30px;
         
  
         }
         

  }
     
@include wid(1500)     { margin-bottom: 180px; }
@include wid(1200-1499){ margin-bottom: 180px; }
@include wid(992-1199) { margin-bottom: 180px; }
@include wid(601-991)  { margin-bottom: 100px; }
@include wid(600)      { margin-bottom: 100px; }

    
     
         counter-reset: list1;
     
     &>div:nth-child(3){
       .box__{

       }
     }
     
     &>div{
       
       @include wid(601-991)  {  display: flex; flex-wrap: wrap;  margin-bottom:  60px; }
       @include wid(600)  {  display: flex; flex-wrap: wrap;  margin-bottom:  60px;  }
       
          &>span{
            
        
            
@include wid(992)      {   width: 53px; height: 53px; margin-left: auto; margin-right: auto;  margin-bottom: 30px; }
@include wid(601-991)  {   width: 45px; height: 45px; margin-left: 0; margin-right: 17px;  margin-bottom: 30px; }
@include wid(600)      {   width: 35px; height: 35px; margin-left: 0; margin-right: 17px;  margin-bottom: 15px; }

          border-radius: 50%;

        /* orange */

        background: #B68742;

              @extend %flex;

     &:before{
            @extend %bef-aft;
        counter-increment: list1;

         content: counter(list1);

                  color: #fff;
                      @extend %flex;
                  
@include wid(992)      { font: 200 36px/1.2em var(--p);  width: 53px;  height: 53px; }
@include wid(601-991)  { font: 200 30px/1.2em var(--p);  width: 45px;  height: 45px; }
@include wid(600)      { font: 200 24px/1.2em var(--p);  width: 36px;  height: 36px; }
                  
                  
                  
                  text-align: center;

          }


            }
    
     }
     
     
  }
  
   &>.container:nth-child(1)>.row:nth-child(1){
  
    .title{
      @include wid(992)  { text-align: center; }
    }
  }
  
  &>.container:nth-child(1)>.row:nth-child(3){
  
    .title{
      @include wid(600)      {  margin-bottom: 0; }
    }
  }
  
  .title{
    margin-bottom: 50px;
  }
  
  .title__{

    color: #424F44;
    

    @media screen and (min-width: 1800px){
      font: 200 36px/1.2em var(--p); 
    }
    
@include wid(1500)     { font: 200 28px/1.2em var(--p);     text-align: center;     margin-bottom: 60px;}
@include wid(1200-1499){ font: 200 21px/1.2em var(--p);    text-align: center;     margin-bottom: 50px; }
@include wid(992-1199) { font: 200 17px/1.2em var(--p);    text-align: center;     margin-bottom: 40px; }
@include wid(601-991)  { font: 200 24px/1.2em var(--p);      margin-bottom: 20px; max-width: calc(100% - 62px); width: 100%; }
@include wid(600)      { font: 200 24px/1.2em var(--p);      margin-bottom: 20px; max-width: calc(100% - 52px); width: 100%; }
    
  }
  
  .box__{
    box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12);
    border-radius: 34px;
    
@include wid(992)      {  }
@include wid(601-991)  {  margin-left: 62px; }
@include wid(600)      {  margin-left: 50px; }
    
    img{
      display: flex;
      width: 100%;
      height: auto;

      

    }
  }
  
  
  .lint{
    max-width: 1167px;
    margin: 0 auto 30px;
    
    @extend %flex;
    
    justify-content: space-between;
      counter-reset: list1;
    

    
  }
  
  .splide__list{
//    justify-content: center;
//    display: flex;
  }
  
  
  .splide__list .splide__slide{
  
    
@include wid(992)      {   padding: 30px 0 50px 0; }
@include wid(601-991)  {  padding: 30px 0 50px 0;  }
@include wid(600)      {   padding: 30px 0 43px 0; }
    
  }
  
  
  
  .members{
    
  }
  
  .arrows{
    justify-content: flex-end;
    
    @include wid(991)  { display: none; }
  }

  
  .block__{
//    max-width: 549px;
    width: 100%;
    
    border: 2px solid #FFFFFF;

      background: #FFFFFF;
    
   @include wid(992)      {   box-shadow: 18px 21px 41px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12); }
   @include wid(991)      {   box-shadow: 18px 21px 31px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12); }
     
    
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    @include wid(992)      { padding: 43px; min-height: 365px;  border-radius: 34px;}
@include wid(601-991)  {  padding: 30px;  border-radius: 24px;}
@include wid(600)      {  padding: 20px;  border-radius: 17px;}    
    
        p{
          color: #000000;
         
          
@include wid(992)      {  font: 400 18px/1.2em var(--o); }
@include wid(601-991)  { font: 400 16px/1.7em var(--o);  }
@include wid(600)      {   font: 400 14px/1.7em var(--o); }
          
        }
    
    
    .box__user{
      @extend %flex;
      justify-content: flex-start;
      gap: 0 27px;
     
      @include wid(992)      {  margin-top: auto; }
@include wid(601-991)  {  margin-top: 40px; }
@include wid(600)      {  margin-top: 25px; }
      
      .box__img{
        
        width: 90px;
        height: 90px;
        
        min-width: 90px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 13px 28px 41px rgba(0, 0, 0, 0.17), inset 6px 9px 9px rgba(0, 0, 0, 0.09);
        
            @include wid(991)  { display: none; }
        
        img{
          display: flex;
        }

      }
      
      .box__content{
        
        .name{
          color: #444F43;
          display: block;
          
@include wid(992)      {  font: 400 18px/1.2em var(--o); margin-bottom: 15px; }
@include wid(601-991)  { font: 400 16px/1.2em var(--o);  margin-bottom: 13px; }
@include wid(600)      {   font: 400 14px/1.2em var(--o); margin-bottom: 10px; }
          
        }
        
        

        
        .tag{
          background: #DDEDDF;
  border-radius: 31px;
          
          @include wid(992)      {  font: 400 18px/1.2em var(--o); }
@include wid(601-991)  { font: 400 15px/1.2em var(--o);  }
@include wid(600)      {   font: 400 11px/1.2em var(--o);}

          @extend %flex;
          height: 31px;
          padding: 0 27px;
//          width: 
        }
        
      }
      
      

      
      
    }
    
  }
  
  
  .bottom__{
    @extend %flex;
    
    z-index: 4;
    width: 100%;
    
//    margin-top: -100px;
    
    

@include wid(1500)     {  padding: 0 31px 31px;  margin-top: -97px;  }
@include wid(1200-1499){  padding: 0 31px 31px;  margin-top: -97px;  }
@include wid(992-1199) {  padding: 0 31px 31px;  margin-top: -97px;  }
@include wid(601-991)  {  padding: 31px 0 0 45px;  }
@include wid(600)      {  padding: 31px 0 0 0px;   }

@include wid(992)      {   gap: 25px;  }
@include wid(601-991)  {   gap: 25px;  }
@include wid(600)      {   gap: 23px;  }
    
    a{
      display: flex;
      
             border-radius: 10px;
  box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.12);
      
      &:hover{
  box-shadow: 18px 41px 71px rgba(131, 87, 23, 0.75), inset 5px 6px 14px rgba(182, 135, 66, 0.40);
      }
      
      
      img{
        
        border-radius: 10px;
        
@include wid(992)      {  }
@include wid(601-991)  {  }
@include wid(600)      {  }
        
      }
    }
  }
  

}
