

section.blog__1{
      background-color: #424F44;
//      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;

      position: relative;    
//      overflow: hidden;
  
    @include wid(992)      { padding: 182px 0 89px 0; }
    @include wid(601-991)  { padding: 150px 0 70px 0; }
    @include wid(600)      { padding: 127px 0 50px 0; }
  
      .sub{
      text-align: center;
        color: #fff;
        
    }
  
      .title{
      text-align: center;
                color: #fff;
    }
  
  
}


section.blog__2{
//      background-color: #424F44;
      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;

      position: relative;    
//      overflow: hidden;
  
    @include wid(992)      { padding: 95px 0 180px 0; }
    @include wid(601-991)  { padding: 90px 0 150px 0; }
    @include wid(600)      { padding: 80px 0 120px 0; }
  
  
   &>.container>.row:nth-child(1)>div:nth-child(1){
      @include wid(992-1199) { display: none }
      @include wid(991)  { display: none }
     
     position: sticky;
     top: 30px;
     
    .title__{
      color: #424F44;
      
      @extend %flex;
        justify-content: flex-start;
        gap: 0 14px;
        margin-bottom: 30px;

      
@include wid(1500)     {  font: 400 36px/1.2em var(--ob);  }
@include wid(1200-1499){  font: 400 25px/1.2em var(--ob);  }
@include wid(992-1199) {  font: 400 24px/1.2em var(--ob);  }
@include wid(601-991)  {  font: 400 24px/1.2em var(--ob);  }
@include wid(600)      {  font: 400 20px/1.2em var(--ob);  }
      
      
      
      &:before{
        @extend %bef-aft;

        background: url(../img/blog__ico4.svg) no-repeat;
        width: 30px;
        height: 31px;
        min-width: 30px;
      }

    }

  }
    
   &>.container>.row:nth-child(1)>div:nth-child(2){
     
     padding-top: 10px;
     
     
    @include wid(1500)     { padding-left: 70px; }
    @include wid(1200-1499){ padding-left: 45px; }

     @include wid(992-1199) {  }
     @include wid(991)      {  }
     
  }
  
  &>.container>.row:nth-child(1){
    margin-bottom: 90px;
  }

  
  .box__categor{
    
    @media screen and (max-height: 700px) {
      overflow: scroll;
      height: 80vh;
    }
    
    ul{
      display: flex;
      flex-direction: column;
      
      li{
        width: 100%;
        
        display: flex;
        
        
        
@include wid(1500)     { margin-bottom: 32.5px; }
@include wid(1200-1499){ margin-bottom: 20px; }
@include wid(992-1199) { margin-bottom: 17px; }
@include wid(601-991)  {  }
@include wid(600)      {  }
        
@include wid(1500)     { font: 200 18px/1.2em var(--o); }
@include wid(1200-1499){ font: 200 16px/1.2em var(--o); }
@include wid(992-1199) { font: 200 14px/1.2em var(--o); }
            
            color: rgba(182, 135, 66, 1);
        

        
        
        a{
          
          @extend %flex;
          justify-content: flex-start;
          gap: 0 5px;
          
          margin-right: 5px;
          
                  &:hover{
          color: rgba(182, 135, 66, 1);
        }
          
          
@include wid(1500)     { font: 200 18px/1.2em var(--o); }
@include wid(1200-1499){ font: 200 16px/1.2em var(--o); }
@include wid(992-1199) { font: 200 14px/1.2em var(--o); }
@include wid(601-991)  {  }
@include wid(600)      {  }
          
          color: #424F44;
          span{
//          font: 200 18px/1.2em var(--o);
            
@include wid(1500)     { font: 200 18px/1.2em var(--o); }
@include wid(1200-1499){ font: 200 16px/1.2em var(--o); }
@include wid(992-1199) { font: 200 14px/1.2em var(--o); }
            
            color: rgba(182, 135, 66, 1);

            }
        }
      }
    }

  }
  
  
  .list__post{
    
    @extend %flex;
    
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
@include wid(992)      {  gap: 70px 50px; }
@include wid(601-991)  {  gap: 45px 45px; }
@include wid(600)      {  gap: 40px; }
    
    article{
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
     
      width: 100%;
      background: #FFFFFF;
      box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.21);
      border-radius: 34px;
      
@include wid(992)      {  max-width: calc(50% - 25px); }
@include wid(601-991)  {  max-width: calc(100%); }
@include wid(600)      {  max-width: calc(100%); }
      
      
      .box__img{
        
          display: flex;
          justify-content: flex-start;
          overflow: hidden;
          position: relative;
          align-items: flex-end;
          flex-basis: 100%;
          align-content: flex-end;
         
@include wid(992)      {   min-height: 324px; }
@include wid(601-991)  {   min-height: 200px; }
@include wid(600)      {   min-height: 140px; }
          height: min-content;
          border-radius: 34px 34px 0 0;
        
        img{
          display: flex;
          z-index: 1;
          
          position: absolute;
          top:0;
          width: 100%;
          
          
         
          
@include wid(992)      {    height: 100%; }
@include wid(601-991)  {    height:inherit;}
@include wid(600)      {    height:inherit }
          
          object-fit: cover;
        }
        
        ul{
          display: flex;
          gap: 10px;
          
          flex-wrap: wrap;
          
         
          
@include wid(992)      {  padding: 30px 37px; }
@include wid(601-991)  {  padding: 30px; }
@include wid(600)      {  padding: 30px 22px; }
          
          z-index: 2;
          
          li{
            
            .tag{
              
              @extend %flex;
              color: #444F43;
              
              background: #F1EFE8;
             

@include wid(992)      { font: 200 18px/1.2em var(--o);  height: 36px; padding: 0 21px;  border-radius: 23px; }
@include wid(601-991)  { font: 200 14px/1.2em var(--o);  height: 30px;  padding: 0 18px;   border-radius: 28px; }
@include wid(600)      { font: 200 10px/1.2em var(--o);  height: 24px; padding: 0 14px;  border-radius: 32px; }
              
              width: max-content;
              
              &:hover{
                color: #fff;
                background: #444f43;
                box-shadow:  0 0 15px rgba(255, 255, 255, 0.08);
              }
            }
            
          }
        }
        
      }
      
      .box__content{
          
          flex-basis: 100%;
         
@include wid(992)  {  min-height: 367px; padding: 30px 42px; }
@include wid(601-991)  {  padding: 30px; }
@include wid(600)      {  padding: 25px 22px; }
        
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .title__{
          color: #424F44;
          margin-bottom: 25px;
          
@include wid(1500)     { font: 400 36px/1.2em var(--p);  }          
          
@include wid(1200-1499){  font: 400 30px/1.2em var(--p);  }
//@include wid(1500)     {  font: 400 36px/1.2em var(--p);  }

@include wid(992-1199) {  font: 400 26px/1.2em var(--p);  }
@include wid(601-991)  {  font: 400 24px/1.2em var(--p);  }
@include wid(600)      {  font: 400 20px/1.2em var(--p); margin-bottom: 20px; }
          
          
          &:hover{
            color: #b68742;
          }
          
          a{
            
          color: #424F44;
            
@include wid(1500)     { font: 400 36px/1.2em var(--p);  }          
          
@include wid(1200-1499){  font: 400 30px/1.2em var(--p);  }
//@include wid(1500)     {  font: 400 36px/1.2em var(--p);  }

@include wid(992-1199) {  font: 400 26px/1.2em var(--p);  }
@include wid(601-991)  {  font: 400 24px/1.2em var(--p);  }
@include wid(600)      {  font: 400 20px/1.2em var(--p); margin-bottom: 20px; }
            
            &:hover{  
              color: #b68742; 
            }
            
          }
          
        }
        
        p{
          color: #404F42;
          
@include wid(992)      { font: 200 18px/1.4em var(--o); }
@include wid(601-991)  { font: 200 16px/1.4em var(--o); }
@include wid(600)      { font: 200 14px/1.4em var(--o); }
          
          max-width: 550px;
          width: 100%;
         
        }
        
        .box__{
          
@include wid(992)      {  margin-top: auto; }
@include wid(601-991)  {  margin-top: 25px; }

          
          @include wid(600)      { margin-top: 20px; }
        
          width: 100%;
          @extend %flex;
          justify-content: space-between;
          
          img{
            
            
@include wid(992)      { height: 36px; }
@include wid(601-991)  { height: 28px; }
@include wid(600)      { height: 22px; }
            width: auto;
          }
          .data{
            color: #404F42;
            
@include wid(992)      { font: 200 18px/1.2em var(--o); }
@include wid(601-991)  { font: 200 14px/1.2em var(--o); }
@include wid(600)      { font: 200 10px/1.2em var(--o); }
            
          }
        }
      }
      
    }

    &>article:nth-child(1){
      
@include wid(992)     { 
        flex-direction: row;
        //flex-basis: 100%;

        max-width: 100%;
        width: 100%;

      .box__img{
          border-radius: 34px 0 0 34px;
          height: 100%;
          min-height: 520px;
          max-width: 50%;
      }
  
      }
      
      .box__content{
        
        @include wid(992)     { 
        
        background: url(../img/blog__back_logo.png) no-repeat center/contain;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center !important;
          
        }

@include wid(1500)     { padding: 50px 30px 50px 50px; }
@include wid(1200-1499){ padding: 50px 30px 50px 50px; }

        @include wid(992)     { 
          
            min-height: 520px;
            flex-basis: 50%;


            .box__{
              margin-top: 30px;
            }
        }
        
      }
      
      
    }
    
    
  }
  



  
}