

section.blog-single__1{
//      background-color: #424F44;
//      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;
      background: #424F44 url(../img/blog-single__1_back.png) no-repeat center/cover;

      position: relative;    
//      overflow: hidden;
  
    @include wid(992)      { padding: 200px 0 100px 0; }
    @include wid(601-991)  { padding: 160px 0 85px 0; }
    @include wid(600)      { padding: 136px 0 68px 0; }
  
  .sub{
    color: #fff;
    
  }
  
  .title{
    color: #fff;
    line-height: 1.1em;
    margin-bottom: 35px;
  }

  .box__{
          
@include wid(992)      {  margin-top: auto; }
@include wid(601-991)  {  margin-top: 25px; }

          

        
          width: 100%;
          @extend %flex;
          justify-content:flex-start;
    
          @include wid(600) { margin-top: 20px;  justify-content:space-between; }
      
      gap: 0 53px; 
          
          img{
            
            
@include wid(992)      { height: 36px; }
@include wid(601-991)  { height: 28px; }
@include wid(600)      { height: 22px; }
            width: auto;
          }
      
      
          .data{
            color: #fff;
            
@include wid(992)      { font: 200 18px/1.2em var(--o); }
@include wid(601-991)  { font: 200 14px/1.2em var(--o); }
@include wid(600)      { font: 200 10px/1.2em var(--o); }
            
          }
        }

  
}


section.blog-single__2{
//      background-color: #424F44;
      background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;

      position: relative;    
//      overflow: hidden;
  
    @include wid(992)      { padding: 68px 0 180px 0; }
    @include wid(601-991)  { padding: 70px 0 150px 0; }
    @include wid(600)      { padding: 70px 0 120px 0; }
  
  
  
   &>.container>.row:nth-child(1)>div:nth-child(1){
     
//     padding-top: 20px;
     
     .box__soseal{
        @include wid(992)      {  display: none;  }
       
       .soseal{
         margin-bottom: 0;
       }
     }

  }  
  
   &>.container>.row:nth-child(1)>div:nth-child(2){
      @include wid(1500){
         padding-left: 100px;
      }
     
     .bundle{
       
       gap: 0 25px;
           @include wid(992)      { 
       max-width: 272px;
       width: 100%;
             
       }
           @include wid(601-991)      { 
    max-width: 448px;
    width: 100%;
             
       }
       
           @include wid(600)      { 
    max-width: 448px;
    width: 100%;
             
       }
       
       
       
     }
     
     h3{
       margin-bottom: 25px;
     }
       .soseal{
      @include wid(991)      {  display: none;  }
         
     }
  }
  
  
  p{
   color: #404F42;
    
    margin-bottom: 27.5px;
    
    strong{
      @include wid(992)      { font: 200 18px/1.7em var(--ob); }
      @include wid(601-991)  { font: 200 16px/1.7em var(--ob); }
      @include wid(600)      { font: 200 14px/1.7em var(--ob); }
      
          a{
              @include wid(992)      { font: 200 18px/1.7em var(--ob); }
      @include wid(601-991)  { font: 200 16px/1.7em var(--ob); }
      @include wid(600)      { font: 200 14px/1.7em var(--ob); }    
      }
    }
    a{
      color: #B68742;
      
          strong{
          @include wid(992)      { font: 200 18px/1.7em var(--ob); }
          @include wid(601-991)  { font: 200 16px/1.7em var(--ob); }
          @include wid(600)      { font: 200 14px/1.7em var(--ob); }
        }
      
      &:hover{
           color: #404F42; 
      }
    }
    
    strong{
      @include wid(992)      { font: 200 18px/1.7em var(--ob); }
      @include wid(601-991)  { font: 200 16px/1.7em var(--ob); }
      @include wid(600)      { font: 200 14px/1.7em var(--ob); }
    }
    

    @include wid(992)      { font: 200 18px/1.7em var(--o); }
    @include wid(601-991)  { font: 200 16px/1.7em var(--o); }
    @include wid(600)      { font: 200 14px/1.7em var(--o); }
    
  }
  
  img{
    max-width: 100%;
    width: 100%;
    height: auto;
    
    border-radius: 34px;
    
    @include wid(992)      { margin: 30px 0 60px 0; }
    @include wid(601-991)  { margin: 20px 0 45px 0; }
    @include wid(600)      { margin: 15px 0 25px 0; }
    
  }
  
  .soseal{
    @extend %flex;
    display: inline-flex;
    gap: 0 20px;
    
@include wid(992)      {  padding: 15px 25px;   margin-bottom: 40px; }
@include wid(601-991)   {  padding: 13px 20px;   margin-bottom: 40px; }
@include wid(600)       {  padding: 10px 15px;   margin-bottom: 40px; }
   
    
  
    
background: #FFFFFF;
box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.17);
border-radius: 73px;
    
    li{
      a{
        
        transition: all .7s ease;
        
        
        svg{
          
@include wid(992)      {  }
@include wid(601-991)   {  max-width: 35px; max-height: 35px;  }
@include wid(600)       {  max-width: 20px; max-height: 20px;  }
          
        }
        
        &:hover{
                 transition: all .7s ease;
          svg{
            border-radius: 50%;
            box-shadow:  0 0 15px  rgba(182, 135, 66, 0.33);
            
            path{
           
                stroke: #B68742;
    

            }

            
            circle{
                  
                    stroke: #B68742;
              }

            
            

          }
        }
        

        
      }
      
    }
    
    
  }
  
  .box__soseal{
    @include wid(992)      {  display: none;  }
  }
  
  .mark{
    background: #FFFFFF;
    
    
    
    @include wid(992)      { padding: 24px 40px;  margin: 0 0 30px 0; border-radius: 34px; }
    @include wid(601-991)  { padding:  20px 30px;  margin: 0 0 20px 0; 
    
    border-radius: 25px; }
    @include wid(600)      { padding: 15px;   margin: 0 0 10px 0;  border-radius: 17px; }
    
    
    &>*:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  hr{
    width: 100%;
    margin: 60px 0;
    background: transparent;
    padding: 0;
    
      &:before{
        @extend %bef-aft;
        
        
@include wid(992)      {  

        background: url(../img/blog-single__2_line.svg) no-repeat center; 
  
      background-size: contain;

        width: 100%;
        height: 2px;
  }
        
@include wid(601-991)  { 

        background: url(../img/blog-single__2_line_mobile.svg) no-repeat center; 

      background-size: cover;
  
        width: 100%;
        height: 2px;  
  
        }
@include wid(600)      { 

        background: url(../img/blog-single__2_line_mobile.svg) no-repeat center; 

      background-size: cover;
  
        width: 100%;
        height: 2px;
        
        }
        
      }
    
    
  }
  
  
  .list{
    
    background: #FFFFFF;
   
    
    width: 100%;
    
    
    @include wid(992)      { padding: 24px 40px;  margin: 0 0 30px 0;   border-radius: 34px; }
    @include wid(601-991)  { padding:  20px 30px;  margin: 0 0 150px 0;   border-radius: 25px; }
    @include wid(600)      { padding: 15px;   margin: 0 0 120px 0;  border-radius: 17px; }
    
    
    li{
      
      
      a{
         color: #404F42;
        
        @include wid(992)      { font: 200 18px/1.7em var(--o); }
        @include wid(601-991)  { font: 200 16px/1.7em var(--o); }
        @include wid(600)      { font: 200 14px/1.7em var(--o); }
        
        &:hover{
           color: #D19D50;
            text-decoration: underline;
        }
      }
      
      
      margin-bottom: 15px;
      
      &:last-child{
        margin-bottom: 15px;
        
        &>*:last-child{
          margin-bottom: 0;
        }
      }
    }
    
    
    
  }
  
  h3{
      color: #404F42;
     margin-bottom: 30px;
   
    
      @include wid(992)      { font: 200 36px/1.2em var(--p);  }
      @include wid(601-991)  { font: 200 30px/1.2em var(--p); }
      @include wid(600)      { font: 200 20px/1.2em var(--p); }
    
  }
  
  
  .list__post{
    @extend %flex;
    justify-content: flex-start;
    flex-direction: column;
    
    max-width:  448px;
    width: 100%;

    
    li{
      margin-bottom: 20px;
      
      width: 100%;
      
@include wid(992)      { height: 180px; overflow: hidden; }
@include wid(601-991)  { height: 180px; overflow: hidden; }
@include wid(600)      { height: 118px; overflow: hidden; }
      
      
      
      
      background: #FFFFFF;
      box-shadow: 18px 41px 71px rgba(0, 0, 0, 0.25), inset 5px 6px 14px rgba(0, 0, 0, 0.21);
      border-radius: 17px;
      
      @extend %flex;
      
      
      .box__img{
        width: 150px;
  @include wid(992)      { min-height: 180px; }
@include wid(601-991)  { min-height: 180px; }
@include wid(600)      { min-height: 118px; }
        
        height: 100%;
        overflow: hidden;
        
        img{
          border-radius: 17px 0px 0px 17px;
          
          display: flex;

          
@include wid(992)      { height: 180px; }
@include wid(601-991)  { height: 180px; }
@include wid(600)      { height: 118px; }
          width:inherit;
          margin: 0;
          padding: 0;
          
          object-fit: cover;
        }
      }
      
      .content{
       
        
 @include wid(992)      {  padding: 28.5px 20px; }
@include wid(601-991)  {  padding: 24px 18px; }
@include wid(600)      { padding: 24px 18px; }
        
        width: calc(100% - 150px);
        
        .title__{
           color: #404F42;
         
          @media screen and(min-width: 1800px){
            font: 200 24px/1.3em var(--p); 
          }     
          @media screen and(min-width: 1500px) and(max-width: 1799px){
            font: 200 21px/1.3em var(--p); 
          }               

@include wid(1200-1499){ font: 200 18px/1.3em var(--p);  }
@include wid(992-1199) { font: 200 18px/1.3em var(--p);  }

      @include wid(601-991)  { font: 200 18px/1.3em var(--p); }
      @include wid(600)      { font: 200 14px/1.3em var(--p); }
          
          
          &:hover{ 
           color: #D19D50;
            text-decoration: underline;
          }
          
        }
        
        &>*:last-child{
          margin-bottom: 0;
        }
        
      }
      
      
      
    }
    
    
    
    
    
    
  }
  
//  .bundle{
//    max-width: 448px;
//    width: 100%;
//  }
  
}