.team__1 {
  position: relative;
  width: 100%;
  padding: 186px 0 92px;

  @include wid(600) {
    padding: 208px 0 207px;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .container {
    @include wid(600) {
      padding: 0 26px;
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub {
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;

    @include wid(600) {
      margin-bottom: 2px;
    }
  }
  .title {
    color: #fff;
    max-width: 1079px;
    text-align: center;
    font: 400 64px/68px var(--p);

    @include wid(600) {
      font: 400 28px/38px var(--p);
    }
  }
}

.team__2 {
  padding: 73px 0 180px;
  background: var(--white-color-3) url(../img/ekzorcizm.svg) repeat center;
  position: relative;

  @include wid(600) {
    padding: 80px 0 120px;
  }

  .container {
    @include wid(600) {
      padding: 0 30px;
    }
  }
  .row {
    display: flex;
  }
}
.team-nav {
  max-width: 360px;
  width: 22%;
  padding-top: 18px;
  padding-left: 2px;

  @include wid(992-1199) {
    display: none;
  }

  @include wid(601-991) {
    display: none;
  }

  @include wid(600) {
    display: none;
  }
}

.team-nav-title {
  font: 700 36px/59px var(--ob);
  letter-spacing: 0.005em;
  margin-bottom: 10px;
  color: #424F44;
}
.team-nav-wrap {
  position: sticky;
  top: 30px;
  padding-right: 20px;

  li {
    margin-bottom: 10px;
  }

  a {
    font: 400 20px/33px var(--o);
    letter-spacing: 0.005em;
    text-decoration-line: underline;
    color: #9A9F96;
  }
}

.coach-list {
  position: relative;
  padding-left: 84px;
  width: 78%;

  @include wid(992-1199) {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  @include wid(601-991) {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  @include wid(600) {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  &::before {
    position: absolute;
    width: 2px;
    height: 879px;
    content: '';
    background: url("../img/team/vertical-brown-line.svg");
    background-size: contain;
    top: 0;
    left: 0;

    @include wid(992-1199) {
      display: none;
    }

    @include wid(601-991) {
      display: none;
    }

    @include wid(600) {
      display: none;
    }
  }
}
.coach-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 49px;
  // pointer-events: none;

  @include wid(992-1199) {
    width: 49%;
    flex-direction: column-reverse;
    // pointer-events: all;
  }

  @include wid(601-991) {
    width: 49%;
    flex-direction: column-reverse;
    // pointer-events: all;
  }

  @include wid(600) {
    width: 46%;
    flex-direction: column-reverse;
    padding-bottom: 35px;
    // pointer-events: all;
  }

  &:not(:first-child) {
    padding-top: 80px;

    @include wid(992-1199) {
      padding-top: 0;
    }

    @include wid(601-991) {
      padding-top: 0;
    }

    @include wid(600) {
      padding-top: 0;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @include wid(992-1199) {
      width: 49%;
      flex-direction: column-reverse;
    }

    @include wid(601-991) {
      width: 49%;
      flex-direction: column-reverse;
    }

    @include wid(600) {
      width: 46%;
      flex-direction: column-reverse;
    }

  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 100%;
    max-width: 1252px;
    height: 2px;
    background: url("../img/legal/subtitle-line-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include wid(992-1199) {
      display: none;
    }

    @include wid(601-991) {
      display: none;
    }

    @include wid(600) {
      display: none;
    }
  }

  &:first-child {
    .categories a:first-child {
      font: 700 18px/30px var(--ob);
      letter-spacing: 0.005em;
      color: #404F42;
    }
  }

}
.coach-content {
  padding-top: 10px;
  max-width: 715px;
  width: 59%;

  @include wid(992-1199) {
    width: 100%;
  }

  @include wid(601-991) {
    width: 100%;
  }

  @include wid(600) {
    width: 100%;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include wid(992-1199) {
      display: none;
    }

    @include wid(601-991) {
      display: none;
    }

    @include wid(600) {
      display: none;
    }

    a {
      background: #D3E1CF;
      border-radius: 31px;
      padding: 9px 21px;
      font: 400 18px/30px var(--o);
      color: #404F42;
      margin-right: 16px;
      margin-bottom: 16px;
      letter-spacing: 0.005em;
    }
  }
}
.coach-name {
  position: relative;
  font: 400 36px/70px var(--p);
  color: #424F44;
  padding-left: 41px;
  margin-bottom: 10px;

  @include wid(992-1199) {
    padding-left: 0;
    text-align: center;
  }

  @include wid(601-991) {
    padding-left: 0;
    text-align: center;
    font: 400 24px/18px var(--p);
  }

  @include wid(600) {
    padding-left: 0;
    text-align: center;
    font: 400 16px/18px var(--p);
  }

  &::before {
    position: absolute;
    top: 8px;
    left: 1px;
    width: 25px;
    height: 55px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background: url("../img/team/pre-title_image.svg");

    @include wid(992-1199) {
      display: none;
    }

    @include wid(601-991) {
      display: none;
    }

    @include wid(600) {
      display: none;
    }
  }
}
.coach-description {
  padding-right: 33px;
  height: 340px;
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar{
    background: #C1C1C1!important;
    background-color: #C1C1C1;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #C1C1C1;
    border-radius: 63px;
    height: 44px!important;
  }

  &::-webkit-scrollbar {
    display: block!important;
  }

  &::-webkit-scrollbar {
    width: 6px;
    opacity: 1;
    transition: all .7s ease;
    background: #C1C1C1!important;
    background-color: #C1C1C1;
  }

  &::-webkit-scrollbar-track {
    border-radius: 63px;
    background: rgba(217, 217, 217, 0.51);
  }

  &::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    border-radius: 63px;
  }

  p {
    font: 400 18px/30px var(--o);
    margin-bottom: 16px;
    letter-spacing: 0.005em;
    color: #404F42;
  }

  @include wid(992-1199) {
    display: none;
  }

  @include wid(601-991) {
    display: none;
  }

  @include wid(600) {
    display: none;
  }
}

.coach-photo {
  margin-top: 18px;
  max-width: 449px;
  width: 37%;
  position: relative;
  pointer-events: none;

  @include wid(992-1199) {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 17px;
    pointer-events: all;
  }

  @include wid(601-991) {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 17px;
    pointer-events: all;
  }

  @include wid(600) {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 17px;
    pointer-events: all;
  }

  img {
    border-radius: 34px;
    max-width: 449px;
    width: 100%;

    @include wid(992-1199) {
      max-width: 100%;
      width: 100%;
      border-radius: 17px;
    }

    @include wid(601-991) {
      max-width: 100%;
      width: 100%;
      border-radius: 17px;
    }

    @include wid(600) {
      max-width: 100%;
      width: 100%;
      border-radius: 17px;
    }
  }

  .single-category {
    display: none;

    @include wid(992-1199) {
      display: block;
      position: absolute;
      bottom: 11px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      padding: 9px 21px;
      font: 600 18px/30px var(--osb);
      background: #D3E1CF;
      border-radius: 32px;
      backdrop-filter: blur(2.5px);
      white-space: nowrap;
    }

    @include wid(601-991) {
      display: block;
      position: absolute;
      bottom: 11px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      padding: 9px 21px;
      font: 600 18px/30px var(--o);
      background: #D3E1CF;
      border-radius: 32px;
      backdrop-filter: blur(2.5px);
      white-space: nowrap;
    }

    @include wid(600) {
      display: block;
      font: 600 10px/17px (--ob);
      padding: 4px 14px;
      position: absolute;
      bottom: 11px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      background: #D3E1CF;
      border-radius: 32px;
      white-space: nowrap;
    }
  }
}
.mobile-coach-item {
  display: none;

  &.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 322px;
    background: #fff;
    z-index: 20;
    padding: 77px 0;
    height: 100vh;

    .close {
      position: absolute;
      right: 16px;
      top: 16px;
      content: '';
      width: 45px;
      height: 45px;
      border: none;
      outline: none;
      border-radius: 50%;
      background: transparent;
    }
  }

  .coach-info-mobile {
    display: flex;
    align-items: center;
    padding: 0 30px 15px 24px;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      max-width: 247px;
      height: 2px;
      background: url("../img/legal/subtitle-line-mobile.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    img {
      width: 70px;
      height: 70px;
      border-radius: 17px;
      margin-right: 15px;
      object-fit: cover;
    }

    .title-mobile {
      font: 400 20px/39px var(--p);
      color: #424F44;
    }
  }

  .categories-mobile {
    padding: 15px 30px 15px 24px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #DFDFDF;

    .tag {
      background: #D3E1CF;
      backdrop-filter: blur(2.5px);
      border-radius: 32px;
      padding: 4px 14px;
      font: 400 10px/17px var(--o);
      letter-spacing: 0.005em;
      color: #424F44;
      margin: 0 15px 15px 0;
    }
  }

  .mobile-coach-content {
    padding: 0 10px 5px 22px;
    overflow-y: auto;
    height: 300px;
    margin-right: 30px;
    margin-top: 30px;

    p {
      font: 400 14px/22px var(--o);
      letter-spacing: 0.005em;
      color: #404F42;
    }

    &::-webkit-scrollbar{
      background: #C1C1C1!important;
      background-color: #C1C1C1;
      box-shadow: none;
    }

    &::-webkit-scrollbar-thumb{
      background-color: #C1C1C1;
      border-radius: 63px;
      height: 44px!important;
    }

    &::-webkit-scrollbar {
      display: block!important;
    }

    &::-webkit-scrollbar {
      width: 6px;
      opacity: 1;
      transition: all .7s ease;
      background: #C1C1C1!important;
      background-color: #C1C1C1;
    }

    &::-webkit-scrollbar-track {
      border-radius: 63px;
      background: rgba(217, 217, 217, 0.51);
    }

    &::-webkit-scrollbar-thumb:hover {
      opacity: 1;
      border-radius: 63px;
    }
  }
}
